<div class="cgv">
  <div class="background">
    <header>
      <h1 class="title">Conditions Générales de Vente</h1>
    </header>
  </div>

  <div class="content">
      <h3>Article 1. OBJET</h3>
      <p>
      SAS IANOS a pour activité la promotion sur son site Internet www.ianos.io, en qualité d’intermédiaire, d’offres de prestations de services, fournies par ses différents partenaires. SAS IANOS propose ainsi aux clients internautes de réserver et/ou acheter, par l’intermédiaire de sa plateforme de réservation et de vente, à un tarif et une période limitée de temps. Les présentes Conditions Générales de Vente ont pour objet de définir les droits et obligations de la société SAS IANOS (ci-après désignée « IANOS.IO ») et de ses clients internautes (ci-après dénommés « Le Client »), dans le cadre des réservations et achats de prestations de formations professionnelles par ces derniers sur son site Internet www.ianos.io (ci-après désigné « Le Site Internet »). Les présentes Conditions Générales de Vente sont uniquement applicables aux consommateurs à l’exclusion des professionnels. En cas de modification des présentes Conditions Générales de Vente, la version en vigueur à la date et à l’heure d’enregistrement de la commande est applicable au Client. En achetant et ou réservant via le présent Site Internet, le Client accepte expressément et sans réserve les présentes Conditions Générales de Vente.
      </p>
      <h3>Article 2. ACCÈS AUX OFFRES</h3>
      <p>
      2.1 : Navigation sur le Site Internet La page d’accueil du site Internet présente un chatbot permettant à l’utilisateur d’accéder librement aux offres de formation professionnelle.<br>
      2.2 : Validité Chaque offre de prestations de services peut être souscrite par le Client, exclusivement via le Site Internet et pendant une durée limitée. Le partenaire à l’origine de l’offre peut avoir fixé un nombre maximum de places, afin de s’assurer de la disponibilité de son offre. <br>
      2.3 : Présentation des offres. Pour chaque offre prestations de services, IANOS.IO indique les principales conditions régissant la validité de l’offre, telles qu’elles lui ont été fournies par le partenaire. Ainsi, IANOS.IO précise : Les services inclus dans l’offre ; Le lieu d’accès aux services ; La date de réalisation de la prestation ; Le durée de la prestation ; Le programme et autres indications auquels le Client aura accès durant la prestation. Le Client est averti que IANOS.IO n’assure la réalisation des prestations proposées sur son Site Internet. Aussi, il incombe au Client de s’informer sur les conditions générales de vente du partenaire à l’origine de l’offre qui l’intéresse. IANOS.IO ne saurait être tenu responsable d’un quelconque défaut d’information à cet égard. <br>
      2.4 : Tarifs : Les prix des prestations de services indiqués sur le site Internet s’entendent en Euro, toutes taxes comprises, et incluent la promotion accordée par le partenaire à l’origine de l’offre. Les tarifs sont valables pendant toute la période de disponibilité de l’offre sur le Site Internet.<br>
      </p>

      <h3>Article 3. RESERVATION</h3>
      <p>
      Pour réserver une prestation, le Client doit être majeur et avoir la capacité légale de contracter. Le Client passe commande auprès de IANOS.IO selon la procédure suivante: <br>
      - Le Client sélectionne l’offre qui l’intéresse parmi celles en cours. <br>
      - Le Client clique sur l’onglet « Pré-inscription ». La pré-inscription n’engage ni le Client ni même le prestataire de service. Elle correspond à un intérêt que porte le Client pour une offre.<br>
      - Le Client est en mesure de vérifier et de corriger si nécessaire dans son espace « profil ». Il peut accéder au récapitulatif et le détail de l’offre depuis son compte, dans l’onglet « dashboard »<br>
      - Le Client remplit le formulaire d’informations et d’inscription, puis clique sur l’onglet « Inscription » situé dans son « Dashboard ».<br>
      - Le prestataire prend contact avec le Client afin de finaliser la réservation.<br>
      </p>
      
      <h3>Article 4. PAIEMENT</h3>
      <p>
      Le Client a la possibilité de payer sa prestation soit :<br>
      -	Sur le site www.ianos.io <br>
      -	En suivant les conditions générales de ventes du prestataire de service<br>
      </p>

      <h3>Article 5. CONFIRMATION DE LA RESERVATION</h3>
      <p>
      La réservation et ou achat en ligne du Client n’emporte pas conclusion du contrat de vente. La réservation du Client n’est définitivement confirmé que si le seuil minimum de souscription est atteint, et sous réserve que la réservation du Client ne soit pas intervenue après que le seuil maximum de souscription ait été atteint. 
      Dans cette hypothèse, le prestataire adresse au Client un e-mail de confirmation de commande, lequel contient le contrat de prestation liant le Client et le prestataire. 
      Au contraire, si le seuil minimum de souscription n’est pas atteint ou bien si le seuil maximum de souscription est atteint, IANOS.IO informe le Client, par e-mail, de l’annulation de sa réservation et des prochaines dates d’interventions du prestataire.
      </p>
      
      <h3>Article 6. DROIT DE RÉTRACTATION</h3>
      <p>Une fois que réservation établie, le Client peut exercer son droit de rétractation à tout moment jusqu’à date de paiement plus 14 jours calendaires. <br>
      6.1 : Conditions du droit de rétractation Conformément aux dispositions des articles L.221-18 et suivants du Code de la Consommation, le Client dispose d’un droit de rétractation de quatorze (14) jours calendaires francs à compter de sa date d’achat. Pour exercer votre droit de rétractation et annuler votre commande, le Client doit, dans le délai ci-avant indiqué, en utilisant le modèle de formulaire de rétractation en cliquant ici (vous pouvez également retrouvez ce formulaire dans le courriel de confirmation de commande). Votre demande de rétractation est à transmettre en lettre recommandée avec accusé de réception à l’adresse du siège social de IANOS.IO, tel que précisé à l’article 16 des présentes, et s’abstenir d’utiliser le coupon qui lui a été adressé. IANOS.IO remboursera alors au Client l’intégralité des sommes versées lors de la commande pour l’achat du coupon, dans le délai maximum de quatorze (14) jours suivant la date à laquelle le Client a exercé son droit de rétractation. <br>
      6.2 : Exclusion du droit de rétractation En application des dispositions de l’article L.221-28-12°) du Code de la consommation le droit de rétractation ne s’applique pas aux prestations de services d’hébergement, de transport, de restauration et de loisirs qui doivent être fournies à une date ou selon une périodicité déterminée. Les prestations ou produits tels que les voyages, hébergements ou les spectacles ne feront l'objet d'aucun remboursement, ceux ci étant en tout état de cause clairement identifiés comme tels vis-à-vis des Clients, avant la finalisation de la commande. De plus, en application de l'article L 221-28-1°) du Code de la consommation, le droit de rétractation ne peut pas non plus être exercé par le Client pour les services dont la prestation a déjà commencé, avec l'accord du Client, même si la demande est effectuée avant la fin du délai de rétractation de quatorze (14) jours calendaire. <br>
      6.3 : Réclamation : annulation, difficulté ou remboursement IANOS.IO vous invite à solliciter son assistance. <br>
      </p>
      
      <h3>Article 6. RESPONSABILITÉ</h3>
      <p>
      IANOS.IO déclare avoir conclu un contrat de partenariat pour chaque offre diffusée sur son Site Internet. Dès lors, au titre du présent contrat, IANOS.IO garantit au Client l’accès au produit et/ou au service réservé. Toutefois, IANOS.IO intervient uniquement en qualité d’intermédiaire et n’est donc pas responsable des conditions d’exécution des offres qu’il présente sur son Site Internet. <br>
      </p>

      <h3>Article 7. PROTECTION DES DONNÉES PERSONNELLES</h3>
      <p>
      7.1 : Sécurité et confidentialité IANOS.IO a mis en place des mesures strictes de sécurité (firewall, mot de passe, etc.) afin de protéger les données personnelles du Client contre tout accès non autorisé par des tiers ou tout détournement sur son réseau et ses bases de données. Toutefois, IANOS.IO ne peut garantir que les données personnelles ne seront pas interceptées pendant leur transit via Internet. IANOS.IO garantit au Client le respect de la confidentialité des données personnelles qu’il communique. IANOS.IO a restreint l’accès à ces données aux seuls membres de son personnel nécessitant d’en avoir connaissance pour la bonne exécution du contrat et qui ont souscrit un engagement de confidentialité.<br>
      7.2 : But de l’utilisation de vos données personnelles IANOS.IO est amenée à collecter auprès du Client les informations et les données à caractère personnel (nom, adresse, etc…) nécessaires pour lui permettre de traiter sa commande et établir sa facture. L’exigence de fourniture des données à caractère personnel conditionne donc la conclusion des contrats entre IANOS.IO et ses clients. Par conséquent, le Client est tenu de fournir les données à caractère personnel susvisées afin de pouvoir effectuer une commande sur le Site Internet. IANOS.IO peut utiliser ces données à des fins de statistiques internes afin d’améliorer la qualité du service rendu à ses Clients, mais elle s’assure de ne conserver les données que pendant le temps nécessaire à la réalisation de ces statistiques, conformément à ses obligations légales. IANOS.IO peut transmettre ces données à caractère personnel à des tiers, aux fins de prospection. IANOS.IO peut également adresser au Client, sur l’adresse électronique qu’il lui a communiquée, toute information sur les dernières offres de ses partenaires. Si le Client ne souhaite pas recevoir de tels messages, il lui est possible de l’indiquer en ne cochant pas la case « J’accepte de recevoir des informations de la part de IANOS.IO » lors de sa commande. De même, s’il ne désire plus recevoir ces messages, le Client a la possibilité de modifier son choix selon les modalités précisée à l’article 11.3 ci-dessous). Le consentement du Client constitue la base juridique sur laquelle se fonde le traitement par la IANOS.IO de ses données à caractère personnel. Le Client peut retirer son consentement à tout moment sans porter atteinte à la licéité du traitement fondé sur le consentement effectué avant le retrait de celui-ci. <br>
      7.3 : Droit d’accès, de rectification, de portabilité et de suppression des données personnelles Conformément au Règlement (UE) 2016/679 du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (RGPD), le Client dispose d'un droit d'accès, de rectification, de modification, de portabilité et de suppression de ses données personnelles, qu’il peut exercer à tout moment en se rendant dans la rubrique « Mon Compte » puis «Mes abonnements newsletters ». <br>
      7.4 Droit de limitation et d’opposition au traitement des données personnelles Conformément au règlement susvisé, le Client dispose du droit de limiter le traitement de ses données personnelles et ce, notamment lorsqu’il conteste l’exactitude des données recueillies ou la licéité du traitement dont elles font l’objet. Il a également la possibilité, pour des raisons tenant à sa situation particulière, de s’opposer au traitement des données le concernant. En matière de prospection, ce droit peut s'exercer sans avoir à justifier d'un motif légitime. <br>
      7.5 Droit d’introduire une réclamation auprès d'une autorité de contrôle Sans préjudice de tout autre recours administratif ou juridictionnel, le Client a le droit d'introduire une réclamation auprès d'une autorité de contrôle, en particulier dans l'État membre dans lequel se trouve sa résidence habituelle, son lieu de travail ou le lieu où la violation aurait été commise. <br>
      7.6 : Données anonymes/ technologie des « cookies » IANOS.IO peut utiliser la technologie du « cookie », lequel est un petit fichier informatique envoyé au navigateur et stocké sur le disque dur de l’ordinateur de l’utilisateur. Les « cookies » ne peuvent pas être utilisés pour découvrir l’identité de l’utilisateur. De manière générale, le cookie enregistre des informations anonymes relatives à la navigation de l’ordinateur de l’utilisateur sur le site (les pages consultées, la date et l'heure de la consultation, etc.), que IANOS.IO peut lire pour améliorer le contenu de son site web et le personnaliser aux attentes des utilisateurs. En l'espèce, le cookie est susceptible de contenir les informations que le Client aura fournies en remplissant les formulaires que IANOS.IO met à sa disposition sur son site Internet. Ainsi, le Client n'aura pas besoin, lors de sa prochaine visite, de remplir à nouveau le formulaire que IANOS.IO lui a proposé. La durée de conservation de ces informations dans l’ordinateur de l’utilisateur est de 7 jours. L’utilisateur du Site Internet peut s’opposer à l'enregistrement de cookies en configurant son navigateur.<br>
      </p>

      <h3>Article 8. PROPRIÉTÉ INTELLECTUELLE</h3>
      <p>
      Le contenu du présent site Internet, et notamment les marques, logos, éléments graphiques, photographiques, vidéos ou sonores qui y figurent sont la propriété de IANOS.IO ou sont utilisés avec l’autorisation de leur propriétaire. La reproduction de tout contenu du site web, en entier ou en partie, est seulement autorisée aux fins exclusives d’information du Client, pour son usage personnel et privé. Toute reproduction à d’autres fins, quel que soit le support ou le mode de diffusion, est expressément interdite et constitue un acte de contrefaçon exposant son auteur à des poursuites pénales pouvant aboutir à des peines de trois ans d’emprisonnement et 300 000 euros d’amende, conformément aux dispositions de l’article L.335-2 du Code de la propriété intellectuelle.
      </p>
      
      <h3>Article 9. LIENS VERS DES SITES TIERS</h3>
      <p>
      Le site Internet peut contenir des liens hypertextes donnant accès à d’autres sites web édités par des tiers. IANOS.IO ne saurait être tenue pour responsable, directement ou indirectement, si ces tiers ne respectent pas les dispositions légales et règlementaires en vigueur.
      </p>
      
      <h3>Article 10. TOLÉRANCE</h3>
      <p>
      Si l’une ou l’autre des parties est amenée à tolérer des manquements de son cocontractant à ses obligations, cette tolérance n’emportera nullement modification des présentes conditions générales de vente. La partie ayant toléré des manquements de son cocontractant à ses obligations pourra ultérieurement exiger qu’il respecte ses obligations ou se prévaloir de tout nouveau manquement de sa part.
      </p>
      
      <h3>Article 11. INTERPRÉTATION</h3>
      <p>
      L’annulation éventuelle d’une ou plusieurs clauses du présent contrat par le Juge n’affecte pas la validité des autres dispositions.
      </p>
      <h3>Article 12. CONTACTS</h3>
      <p>
        Pour toute question ou réclamation relative à sa commande ou à ses données personnelles, le Client peut contacter IANOS.IO aux coordonnées suivantes : SAS IANOS - IANOS.IO, 88b rue Thomas Dubosc 76000 Rouen E-mail : b.jegoudulaz@IANOS.IO Numéro de téléphone : 07 60 32 11 36 aux horaires suivants : Du lundi au vendredi de 9h à 12h et de 14h à 17h
      </p>
  </div>
</div>

<footer></footer>