<!-- <div id="chat-circle" class=" btn-raised" value="click" (click)="openModalDialog()">
  <svg class="icon-speech" viewBox="0 0 48 48">
        <use xlink:href="#icon-speech" />
      </svg>	
</div>
  
  <div class="chatbot chatbot--closed" [ngStyle]="{'display':display}">

    <div class="chatbot__header" (click)="closeModalDialog()">
      <p><strong>Bonjour, comment puis-je vous aider ?</strong></p>
      <svg class="chatbot__close-button icon-speech" viewBox="0 0 32 32">
        <use xlink:href="#icon-speech" />
      </svg>
    </div>

    <div class="content_bot">
      <chatform></chatform>
    </div> -->

    <!-- <div class="chatbot__message-window">
      <chatform></chatform>
    </div>

    <div class="chatbot__entry chatbot--closed">
      <message-form></message-form>
    </div> -->

  </div>
  



  <!-- Symbols -->
  <svg>
  
    <!-- Speech icon -->
    <symbol id="icon-speech" viewBox="0 0 32 32">
      <title>Speech</title>
      <path style="fill: #ffffff; fill-rule: evenodd;" d="M21.795 5.333h-11.413c-0.038 0-0.077 0-0.114 0l-0.134 0.011v2.796c0.143-0.006 0.273-0.009 0.385-0.009h11.277c0.070 0 7.074 0.213 7.074 7.695 0 5.179-2.956 7.695-9.036 7.695h-3.792c-0.691 0-1.12 0.526-1.38 1.159l-1.387 3.093-1.625 3.77 0.245 0.453h2.56l2.538-5.678h2.837c7.633 0 11.84-3.727 11.84-10.494 0.001-8.564-7.313-10.492-9.875-10.492z" />
      <path style="fill: #ffffff; fill-rule: evenodd;" d="M10.912 24.259c-0.242-0.442-0.703-0.737-1.234-0.737-0 0-0 0-0 0h-0.56c-0.599-0.011-1.171-0.108-1.71-0.28l0.042 0.012c-1.82-0.559-4.427-2.26-4.427-7.424 0-6.683 5.024-7.597 7.109-7.686v-2.8c-2.042 0.095-9.91 1.067-9.91 10.483 0 4.832 1.961 7.367 3.606 8.64 1.38 1.067 3.109 1.744 4.991 1.843l0.033 0.019 2.805 5.211 1.41-3.273z" />
    </symbol>
  
  </svg>
