$port-gore: #d20c11;
$gallery: #f0f0f0;
$white: #fff;
$riptide: #d20c11;
$gray: #d20c11;
$athens-gray: #d20c11;
$purple-heart: #d20c11;

$chat-height: 380px;
$chat-max-width: 420px;
$chat-distance-to-window: 50px;
$chat-padding: 20px;
$header-height: 54px;
$entry-height: 60px;
  
.chatbot {
  display:none;
  position: fixed;
  top: 0;
  bottom: 50px;
  width: 100%;
  box-shadow: 0 -6px 99px -17px rgba(0, 0, 0, 0.68);
  height: 50vh;
  margin-bottom: 60px;
  z-index: 100;
  background: white;
  border-radius: 10px;

  @media screen and (min-width: 640px) {
    max-width: $chat-max-width;
    right: $chat-distance-to-window;
    top: auto;
  }

  &.chatbot--closed {
    top: auto;
    width: 100%;
  }
}

.chatbot__header {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $port-gore;
  height: $header-height;
  padding: 0 $chat-padding;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &:hover {
    background-color: lighten($port-gore, 10%)
  }

  p {
    margin-right: $chat-padding;
    margin-bottom: 0;
  }
}

.chatbot__close-button {
  fill: $white;

  &.icon-speech {
    width: 20px;
    display: none;

    .chatbot--closed & {
      display: block;
    }
  }

  &.icon-close {
    width: 14px;

    .chatbot--closed & {
      display: none;
    }
  }
}

.chatbot__message-window {
  height: calc(100% - (#{$header-height} + #{$entry-height}));
  padding: ($chat-padding * 2) $chat-padding $chat-padding;
  background-color: white;
  overflow-x: none;
  overflow-y: auto;

  
  @media screen and (min-width: 640px) {
    height: $chat-height;
  }
  
  &::-webkit-scrollbar { 
    display: none; 
  }

  .chatbot--closed & {
    display: none;
  }
}

.chatbot__messages {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;

  li {
    margin-bottom: $chat-padding;

    &.is-ai {
      display: inline-flex;
      align-items: flex-start;
    }

    &.is-user {
      text-align: right;
      display: inline-flex;
      align-self: flex-end;
    }

    .is-ai__profile-picture {
      margin-right: 8px;
      
      .icon-avatar {
        width: 40px;
        height: 40px;
        padding-top: 6px;
      }
      
    }
  }
}

.chatbot__message {
  display: inline-block;
  padding: 12px $chat-padding;
  word-break: break-word;
  margin: 0;
  border-radius: 6px;
  letter-spacing: -0.01em;
  line-height: 1.45;
  overflow: hidden;

  .is-ai & {
    background-color: $gallery;
    margin-right: $chat-padding * 1.5;
  }

  .is-user & {
    background-color: $riptide;
    margin-left: $chat-padding * 1.5;
  }
  
  a {
    color: $purple-heart;
    word-break: break-all;
    display: inline-block;
  }
  
  p:first-child {
    margin-top: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  button{
    background-color: $white;
    font-weight: 300;
    border: 2px solid $purple-heart;
    border-radius: 50px;
    padding: 8px 20px;
    margin: -8px 10px 18px 0;
    transition: background-color 0.2s ease;
    cursor: pointer;
    
    &:hover{
      background-color: darken($white, 05%);
    }
    &:focus {
      outline: none;
    }
  }
  
  img {
    max-width: 100%;
  }
  
}

.animation{
  &:last-child {
    animation: fadein .25s;
    animation-timing-function: all 200ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
}

.chatbot__arrow {
  width: 0;
  height: 0;
  margin-top: 18px;
}

.chatbot__arrow--right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $riptide;
}

.chatbot__arrow--left {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid $gallery;
}

.chatbot__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $entry-height;
  padding: 0 $chat-padding;
  border-top: 1px solid $athens-gray;
  background-color: $white;

  .chatbot--closed & {
    display: none;
  }
}

.chatbot__input {
  height: 100%;
  width: 80%;
  border: 0;

  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
  &::-ms-input-placeholder {
    color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
}

.chatbot__submit {
  fill: $purple-heart;
  height: 22px;
  width: 22px;
  transition: fill 0.2s ease;
  cursor: pointer;
  &:hover {
    fill: darken($purple-heart, 20%)
  }
}

.u-text-highlight {
  color: $riptide;
}
$port-gore: #bf2024;
$gallery: #f0f0f0;
$white: #fff;
$riptide: #fde7e8;
$gray: #7f7f7f;
$athens-gray: #e6eaee;
$purple-heart: #bf2024;

$chat-height: 380px;
$chat-max-width: 420px;
$chat-distance-to-window: 50px;
$chat-padding: 20px;
$header-height: 54px;
$entry-height: 60px;

.chatbot {
  display:none;
  position: fixed;
  top: 0;
  bottom: 50px;
  width: 100%;
  box-shadow: 0 -6px 99px -17px rgba(0, 0, 0, 0.68);

  @media screen and (min-width: 640px) {
    max-width: $chat-max-width;
    right: $chat-distance-to-window;
    top: auto;
  }

  &.chatbot--closed {
    top: auto;
    width: 100%;
  }
}

.chatbot__header {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $port-gore;
  height: $header-height;
  padding: 0 $chat-padding;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: lighten($port-gore, 10%);
  }

  p {
    margin-right: $chat-padding;
  }
}

.chatbot__close-button {
  fill: $white;

  &.icon-speech {
    width: 20px;
    display: none;

    .chatbot--closed & {
      display: block;
    }
  }

  &.icon-close {
    width: 14px;

    .chatbot--closed & {
      display: none;
    }
  }
}

.chatbot__message-window {
  height: calc(100% - (#{$header-height} + #{$entry-height}));
  padding: ($chat-padding * 2) $chat-padding $chat-padding;
  background-color: $white;
  overflow-x: none;
  overflow-y: auto;

  @media screen and (min-width: 640px) {
    height: $chat-height;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .chatbot--closed & {
    display: none;
  }
}

.chatbot__messages {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;

  li {
    margin-bottom: $chat-padding;

    &.is-ai {
      display: inline-flex;
      align-items: flex-start;
    }

    &.is-user {
      text-align: right;
      display: inline-flex;
      align-self: flex-end;
    }

    .is-ai__profile-picture {
      margin-right: 8px;

      .icon-avatar {
        width: 40px;
        height: 40px;
        padding-top: 6px;
      }
    }
  }
}

.chatbot__message {
  display: inline-block;
  padding: 12px $chat-padding;
  word-break: break-word;
  margin: 0;
  border-radius: 6px;
  letter-spacing: -0.01em;
  line-height: 1.45;
  overflow: hidden;

  .is-ai & {
    background-color: $gallery;
    margin-right: $chat-padding * 1.5;
  }

  .is-user & {
    background-color: $riptide;
    margin-left: $chat-padding * 1.5;
    color: #310001;
  }

  a {
    color: $purple-heart;
    word-break: break-all;
    display: inline-block;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  button {
    background-color: $white;
    font-weight: 300;
    border: 2px solid $purple-heart;
    border-radius: 50px;
    padding: 8px 20px;
    margin: -8px 10px 18px 0;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: darken($white, 05%);
    }
    &:focus {
      outline: none;
    }
  }

  img {
    max-width: 100%;
  }
}

.animation {
  &:last-child {
    animation: fadein 0.25s;
    animation-timing-function: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.chatbot__arrow {
  width: 0;
  height: 0;
  margin-top: 18px;
}

.chatbot__arrow--right {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid $riptide;
}

.chatbot__arrow--left {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid $gallery;
}

.chatbot__entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $entry-height;
  padding: 0 $chat-padding;
  border-top: 1px solid $athens-gray;
  background-color: $white;

  .chatbot--closed & {
    display: none;
  }
}

.chatbot__input {
  height: 100%;
  width: 80%;
  border: 0;

  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
  &::-ms-input-placeholder {
    color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
}

.chatbot__submit {
  fill: $purple-heart;
  height: 22px;
  width: 22px;
  transition: fill 0.2s ease;
  cursor: pointer;
  &:hover {
    fill: darken($purple-heart, 20%);
  }
}

.u-text-highlight {
  color: $riptide;
}

//Animated Loader
//----------------
.loader {
  margin-bottom: -2px;
  text-align: center;
  opacity: 0.3;
}

.loader__dot {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  background: black;
  border-radius: 50px;
  animation: loader 0.45s infinite alternate;
  &:nth-of-type(2) {
    animation-delay: 0.15s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.35s;
  }
}

// KeyFrames
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

// --------------------------
//
// Presentational styles
//
// Not critical to chatbot example
//
// --------------------------
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

* {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=")
    no-repeat center center;
  background-size: cover;
  height: 1000px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

input {
  font-family: "Open Sans", sans-serif;
}

strong {
  font-weight: 600;
}

.intro {
  display: block;
  margin-bottom: 20px;
}

//Animated Loader 
//----------------
.loader {
  margin-bottom: -2px;
  text-align: center;
  opacity: .3;
}

.loader__dot {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin: 0 1px;
  background: black;
  border-radius: 50px;
  animation: loader 0.45s infinite alternate;
  &:nth-of-type(2) {
    animation-delay: .15s;
  }
  &:nth-of-type(3) {
    animation-delay: .35s;
  }
}

// KeyFrames
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes fadein {
  from { 
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 0;
  }
  to   { 
    opacity: 1;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

// --------------------------
//
// Presentational styles
//
// Not critical to chatbot example 
//
// --------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

* {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?dpr=1&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=") no-repeat center center;
  background-size: cover;
  height: 1000px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

input {
  font-family: 'Open Sans', sans-serif;
}

strong {
  font-weight: 600;
}


.intro {
   display: block;
   margin-bottom: 20px;
}

#chat-circle {
    z-index: 100;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #BF2024;
  width: 50px;
  height: 50px;  
  border-radius: 50%;
  color: white;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}