<div>
  <mat-slide-toggle [(ngModel)]="context.certification" (click)="change()">
    Formation certifiante
  </mat-slide-toggle>
  <br>
  <mat-radio-group aria-labelledby="Modalité" class="example-radio-group" [(ngModel)]="context.modalite">
    <mat-radio-button value="présentiel" (click)="change()">Présentiel</mat-radio-button>
    <mat-radio-button value="elearning" (click)="change()">Elearning</mat-radio-button>
    <mat-radio-button value="hybrid" (click)="change()">Hybrid</mat-radio-button>
  </mat-radio-group>
  <br>

  <mat-form-field *ngIf="context.modalite === 'présentiel'">
    <input matInput placeholder="Ville" (keydown.enter)="change()" [(ngModel)]="context.ville">
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Changer de mot clé" aria-label="Number" matInput 
        [formControl]="myControl"
        [matAutocomplete]="auto" (keydown)="onKeydown($event)" 
        [(ngModel)]="context.motCle">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)='changeKeyword(option)'>
          {{ option | titlecase }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="motcle">
    <mat-chip-list #chipList *ngFor="let motCle of context.motCleArray">
      <mat-chip>
        {{ motCle | titlecase }}
        <mat-icon matChipRemove (click)="deleteKeyword(motCle)" *ngIf="context.motCleArray[1]">X</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div>Note: <mat-slider thumbLabel step="0.5" min="1" max="5" name="Note"></mat-slider>
  </div>
  <div>Prix: <mat-slider thumbLabel step="100" min="0" max="50000" name="Prix"></mat-slider>
  </div>
</div>
<!-- <div class="filtres">
  <ul>
    <li><input matInput placeholder="Mot clé" name="mot_cle" /></li>
    <li><input matInput placeholder="Lieu" name="lieu" /></li>
    ou<br>
    <li><mat-checkbox [(ngModel)]="formation.elearning" name="elearning">e-learning</mat-checkbox></li>
    <li><mat-checkbox [(ngModel)]="formation.certification" name="certification">Formation certifiante</mat-checkbox></li>
    <li>Note: <mat-slider thumbLabel step="0.5" min="1" max="5" name="Note"></mat-slider></li>
    <li>Prix: <mat-slider thumbLabel step="100" min="0" max="50000" name="Prix"></mat-slider></li>
  </ul>
</div> -->