<div id="content-wrapper">
    <div class="marge"></div>

    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Vue d'ensemble</li>
        </ol>

        <!-- partie recherche nbr formation -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">Top recherches</div>
                        <button (click)="resetRecherches()">Reset recherches</button>
                    </div>
                    <div *ngFor="let keyword of keywords"><button (click)="resetRecherche(keyword.keyword)">Reset</button>
                        {{ keyword.keyword }} recherché : {{ keyword.count }} fois 
                    </div>
                    <a class="card-footer text-white clearfix small z-1">
                        <span class="float-left">Voir Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">Anciennes dates</div>
                        <br>
                        <div *ngFor="let session of sessionsOld">
                            {{ session.startDate['seconds']*1000 | date:'dd MMMM yyyy' }} / intitule :
                            {{ session.intituleFormation }} / organisme : {{ session.organisme }}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1">
                        <span class="float-left">Voir Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-shopping-cart"></i>
                        </div>
                        <div class="mr-5">Nouveaux utilisateurs</div>
                        <br>
                        <div *ngFor="let user of users">{{ user.email }}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1">
                        <span class="float-left">Voir Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-life-ring"></i>
                        </div>
                        <div class="mr-5">Prochaines dates</div>
                        <br>
                        <div *ngFor="let session of sessionsNew">
                            {{ session.startDate['seconds']*1000 | date:'dd MMMM yyyy' }} / intitule :
                            {{ session.intituleFormation }} / organisme : {{ session.organisme }}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1">
                        <span class="float-left">Voir Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>

<!-- updateAllTraining -->
        <div class="updateTraining">
            <button (click)="updateAllTrainings()">Update trainings</button>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Rechercher le nombre de formations</div>
            <div class="card-body">
                <mat-slide-toggle [(ngModel)]="contexts.certification">
                    Formation certifiante
                </mat-slide-toggle>
                <br>
                Modalité
                <mat-select [(ngModel)]="contexts.modalite" name="modalite">
                    <mat-option value="présentiel">Présentiel</mat-option>
                    <mat-option value="elearning">Elearning</mat-option>
                    <mat-option value="hybrid">Hybrid</mat-option>
                </mat-select>

                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Ajouter un mot clé" aria-label="Number" matInput
                            [formControl]="myControl" [matAutocomplete]="auto" (keydown)="onKeydown($event)">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                                (click)='addKeyword(option)'>
                                {{ option | titlecase }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
                <div class="motcle">
                    <mat-chip-list #chipList *ngFor="let motCle of contexts.motCleArray">
                        <mat-chip>
                            {{ motCle | titlecase }}
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <button (click)="research()">Recherche</button>
                <button (click)="resetResearch()">Reset</button>

                <div *ngIf="results">
                    Nombre de formations en {{ contexts.motCleArray[0] }} : {{ results.numberFormation }}
                </div>
                <canvas id="myAreaChart" width="100%" height="30">
                </canvas>
            </div>
            <div class="card-footer small text-muted"> </div>
        </div>

<!-- accès données OF -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                {{ organismes.length }} Organismes de formations</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>E-mail</th>
                                <th>Uid</th>
                                <th>Nom</th>
                                <th>Dashboard</th>
                                <th>Catalogue</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>E-mail</th>
                                <th>Uid</th>
                                <th>Nom</th>
                                <th>Dashboard</th>
                                <th>Formations</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let organisme of organismes">
                                <td>{{ organisme.email }}</td>
                                <td>{{ organisme.id }}</td>
                                <td>{{ organisme.displayName }}</td>
                                <td class="boutton-td" (click)="showDashboard(organisme.id)">Dashboard</td>
                                <td class="boutton-td" (click)="showCatalogue(organisme.id)">Catalogue</td>
                                <td class="boutton-td" (click)="showProfil(organisme.id)">Profil OF</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                {{ stagiaires.length }} Stagiaires</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>E-mail</th>
                                <th>Uid</th>
                                <th>Nom</th>
                                <th>Dashboard</th>
                                <th>Lead ou non ?</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>E-mail</th>
                                <th>Uid</th>
                                <th>Nom</th>
                                <th>Dashboard</th>
                                <th>Lead ou non ?</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let stagiaire of stagiaires">
                                <td>{{ stagiaire.email }}</td>
                                <td>{{ stagiaire.id }}</td>
                                <td>{{ stagiaire.displayName }}</td>
                                <td class="boutton-td" (click)="showDashboard(stagiaire.id)">Dashboard</td>
                                <td>
                                    <mat-select placeholder="Lead" [(ngModel)]="stagiaire.leadOrNot" name="leadOrNot">
                                        <mat-option (click)="updateLeadUser(stagiaire, null)" value="Lead">Lead</mat-option>
                                        <mat-option (click)="updateLeadUser(stagiaire, null)" value="Famille">Famille</mat-option>
                                        <mat-option (click)="updateLeadUser(stagiaire, null)" value="ToDelete">ToDelete</mat-option>
                                    </mat-select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Revenir à l'accueil</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" routerLink="/">déconnexion</a>
            </div>
        </div>
    </div>
</div>