<div class="category">
  <div class="header">
    <div class="background"></div>
    <div class="card">
      <div class="title">
        <h1>Cherchez, comparez, réservez votre formation professionnelle !</h1>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="">
        <div class="button" routerLink="/blog">
          <button mat-raised-button>X</button>
        </div>
        <header>
          <div *ngIf="category.title" class="title">
            <h1>{{ category.title }}</h1>
          </div>

          <div class="home" routerLink="/bot">
            Cliquez ici pour trouver votre formation
          </div>
        </header>
      <div class="content">
        <div class="article">
          <div *ngFor="let item of category.contentArray; first as isFirst; odd as isOdd; even as isEven">
            <div *ngIf="isFirst || isEven" [innerHTML]="item"></div>
            <iframe width="1280" *ngIf="isOdd && !isFirst" width="560" height="315" [src]="item | safeUrl" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="user && user.isAdmin">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Titre" aria-label="Titre" matInput [(ngModel)]="category.title" name="titre">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Titre de l'url" aria-label="Titre de l'url" matInput [(ngModel)]="category.titleUrl"
        name="urlTitre">
    </mat-form-field>
    <br>

    <label for="content">content</label>
    <!-- <ckeditor [config]="config" [editor]="editor" [(ngModel)]="category.content" name="content"></ckeditor> -->

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Ajouter un mot clé" aria-label="Number" matInput [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)='addKeyword(option)'>
            {{ option | titlecase }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="motcle">
      <mat-chip-list #chipList *ngFor="let motCle of category.motCleArray">
        <mat-chip>
          {{ motCle | titlecase }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="training_button" (click)="newCategory()" *ngIf="!category.contentArray">Créer la catégorie</div>
    <div class="training_button" (click)="updateCategory()" *ngIf="category.contentArray">Mettre à jour la catégorie</div>
    <div class="training_button" (click)="deleteCategory()">Supprimer la catégorie</div>
  </div>
</div>