.header{
	height: 100vh;
}
.background{
	height: 25vh;
}
.card{
	background: white;
	width: 100%;
	height: 75vh;
	display: grid;
	grid-template-rows: 15vh 10vh 10vh 40vh;
	grid-row-gap: 10px;
}
h1{
	font-size: 1.6rem;
    padding: 5%;
    text-align: center;
    font-weight: bold;
}




@media screen and (min-width: 500px){
	.background{
		height: 100%;
	}
	
	.card{
		display: grid;
    grid-template-rows: 10vh 10vh 10vh auto;
		background: white;
    width: 500px;
		min-height: 60vh;
		max-height: 65vh;
		border-radius: 5px;
    position: absolute;
    top: 0;
		left: 0;
		margin-top: 200px;
		margin-left: 100px;
		box-shadow: 0 0 30px 0 black, 0 5px 25px 0 rgba(0, 0, 0, 0.1);
  }
}