<div class="entreprise" *ngIf="user">

  <div class="header">
    <h1>Validation en cours</h1>
    <p *ngIf="user.isStagiaire">L'organisme de formation prestataire a été informé de votre intérêt pour une formation
      et la date à laquelle vous
      souhaitez la suivre.<br>
      Celui-ci doit maintenant valider votre demande.<br>
      Vous recevrez prochainement une notification suite à cette validation et finaliser la contractualisation de votre
      formation.</p>
    <p *ngIf="user.isOrganisme">Vous pouvez valider ou non la formation du stagiaire ci dessous.</p>
  </div>
  <div>

  </div>

  <div class="contacts" *ngIf="user.isStagiaire">
    <h2>Vos coordonnées</h2>
    <p>Ces informations ont été transmises à votre prestataire de formation.</p>
    <ul>
      <li>{{ user.prenom }} {{ user.nom }}</li>
      <li>{{ user.email }}</li>
      <li>{{ user.phone }}</li>
    </ul>
    <div class="button" [routerLink]="['/profil']">Modifier</div>
  </div>

  <div class="wrapper">
    <card-training [formation]="formation" *ngIf="formation"></card-training>
  </div>

  <div class="options" *ngIf="formation">
    <p *ngIf="booking.dateString && user.isStagiaire">Vous avez choisi une formation se déroulant
      {{ booking.dateString | parseDateString }}
    </p>
    <p *ngIf="booking.dateString && user.isOrganisme">L'utilisateur souhaite réserver la formation entre :
      {{ booking.dateString | parseDateString }}
    </p>
    <h3>Vos options</h3>
    <p>Cette formation n'est pas la bonne</p>
    <div class="button" (click)="deleteBooking()">Supprimer</div>
    <div *ngIf="user.isOrganisme">
      <p>Valider la formation de l'utilisateur</p>
      <div class="button" (click)="validate()">Valider la formation</div>
    </div>

  </div>

</div>