// carousel
// card
.wrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow-x: auto;
  margin-left: 2%;
}

#affiner {
  width: 260px;
  background: none;
  border: 2px solid #02c8fa;
}
#affiner:hover {
  border: 2px solid #f34600;
}
card-training{
  width: 100%;
}
.offer {
  margin-right: 20px;
  border: none;
  -webkit-animation: wrapper-card 1s;
  animation: wrapper-card 1s;
  margin-top: 1%;
}
.offer:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -moz-transform: scale(1.05);
  cursor: pointer;
}

@-webkit-keyframes wrapper-card {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes wrapper-card {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.wrapper-card {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

// modal
.form {
  display: flex;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  border-bottom: 0.5px solid;
}
.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  background: white;
  border-radius: 30px;
  font-size: small;
}

.modal_objectives,
.modal_program,
.modal_requirement,
.modal_public {
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  height: auto;
}
h4 {
  padding: 5%;
}
h5 {
  border-bottom: 0.5px solid;
}
.modal_title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
}
.modal_about {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  border-top: 0.5px solid;
}
.modal_about ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.modal_about ul li {
  margin-bottom: 15px;
}
.modal_public {
  padding-bottom: 5%;
}
button {
  background: white;
  font-size: 20px;
  border: none;
}
.keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 10px;
}

@media screen and (min-width: 500px) {
  .modal_content {
    width: 1000px;
  }
  header {
    padding: 2%;
  }
  .wrapper {
    padding: 1%;
  }
}
