<mat-progress-bar mode="indeterminate" *ngIf="contexts && !formations[0] && !showContact"></mat-progress-bar>


<div class="wrapper" *ngIf="formations[0]">
  <div class="offer" *ngFor="let formation of formations | filterCarousel">
    <card-training [formation]="formation"></card-training>
  </div>
</div>
<contact *ngIf="contexts && !formations[0] && showContact" [context]="contexts"></contact>