
header{
    padding-top: 10vh;
    color: white;
}

.title{
    font-size: 1.5rem;
    text-align: center;
}


.content{
    text-align: justify;
}
.content h2{
    font-size: 1.3rem;
    text-align: center;
    padding: 5%
}
.content p {
    font-size: 1rem;
    padding: 5%;
    text-align: justify;
}
.presentation{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
  }
a{
    text-decoration:underline;
}

@media screen and (min-width: 500px){
    .background{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        color: black;
        padding-top: 0;
        box-shadow: 0 0 30px 0 black, 0 5px 25px 0 rgba(0, 0, 0, 0.1)
    }
    .content h2{
        padding: 1%
    }
    .content p{
        padding: 1%;
        margin: 0;
    }
}