<div class="ianos">
  <div class="background">
    <header>
          <h1 class="title">Bâtissons notre avenir !</h1>
        
            <div class="presentation">
              <p>Trois personnes taillent des pierres avec les mêmes outils, au même endroit et au même rythme, elles font rigoureusement la même chose.<br><br>
                La première a l’air vraiment malheureux.<br>
                La deuxième ne semble ni heureux ni malheureux.<br>
                Quant à la troisième elle, a l’air franchement heureuse.<br><br>
                Lorsqu’on leur demande ce qu’elles font,<br>
                La première répond amèrement: « je taille des pierres pour purger ma peine ».<br>
                La deuxième répond sur un ton neutre: « je taille des pierres pour nourrir ma famille ».<br>
                Quant à la troisième elle, répond avec un grand sourire: <span><b>« je taille des pierres pour construire la nouvelle cathédrale ».</b></span>
            </div>
    </header>
  </div>

  <div class="content">
    <h2>Faire sens</h2>
    <p>Le début du XXIème siècle est marqué par une révolution industrielle pouvant être qualifiée de rapide et violente. Celle-ci impacte particulièrement les métiers dont les tâches intellectuelles peuvent être automatisées. Plusieurs études estiment qu’entre 50 et 85% des emplois de 2030 n’existent pas encore aujourd’hui. 
        Pour s’adapter aux changements technologiques et d’emplois, les femmes et les hommes doivent et devront de plus en plus se mettre à jour et se former. Pour y parvenir IANOS agit dans le but d’enlever un maximum de frein, faciliter et libérer l’accès à la formation professionnelle. Nous le faisons d’autant plus pour celui qui prend l’initiative de se former. Il est à nos yeux le bâtisseur de notre société de demain.  Nous voulons lui faire gagner du temps et économiser de l’énergie afin qu’il puisse exprimer ses talents le plus possible. Nous ne construisons pas seul la cathédrale mais souhaitons être un acteur fort de sa construction.
        Pour cela, nous organisons le passage entre les fournisseurs et les bâtisseurs. Celui-ci permet d’une part aux fournisseurs de gérer leurs catalogues et réservations, et d’autres part aux bâtisseurs de trouver les meilleures formations professionnelles ainsi que leurs financements.
    </p>    
    <h2>Cherchez, comparez, réservez votre formation professionnelle et trouvez les moyens de la financer</h2>
    <p>
        En France, 80 000 organismes de formation sont inscrits dans le Répertoire National des Certifications Professionnelles. Ce chiffre est huit fois plus important que notre voisin allemand. Cette abondance d’offre ainsi que la complexité administrative liée au financement de celle-ci ralentissent l’accès à la formation professionnelle. IANOS est le premier site de référencement et de réservation de formation professionnelle pour les personnes prenant l’initiative de se former. En quelques cliques, les particuliers peuvent rechercher, sélectionner et réserver la formation qui leur correspond le mieux selon plusieurs critères: Le domaine de compétence, le lieu, le prix, la modalité pédagogique ou encore les notes des stagiaires précédents.
    </p>
    <h2>Pour en savoir plus</h2>
    <p>Que vous soyez salarié, indépendant, demandeur d'emploi, chef d'entreprise, nous vous invitons à discuter avec nous pour trouver une solution de formation professionnelle qui vous correspondra le mieux !<br>
      Rendez-vous sur notre <a [routerLink]="[ '/batisseur' ]">page bâtisseur pour en savoir plus</a>
    </p>
    <br>
    <p>
      Vous ne trouvez pas la formation répondant à votre besoin ? Dîtes-le nous <a [routerLink]="[ '/contact' ]">ici</a>
    </p>
    <br>
    <p>
      Vous êtes organisme de formation professionnelle et souhaitez mettre en avant vos offres? Découvrez les avantages IANOS sur ce <a [routerLink]="[ '/provider' ]">lien</a>
    </p>
  </div>
</div>


<footer></footer>
