<div class="dashboard">

  <div class="marge">
  </div>

  <div class="header">
    <div class="title">
      <h1>Suivez l'évolution de vos ventes</h1>
    </div>
  </div>

  <div class="timeline">
    <ul>
      <li><img src="./../../../../assets/icons/training.svg"><p>Je rempli mon catalogue</p></li>
      <li><img src="./../../../../assets/icons/import.svg"><p>J'apprécie le remplissage de mes sesssions</p></li>
      <li><img src="./../../../../assets/icons/contact.svg"><p>Je prends contact avec les personnes inscrites pour finaliser la démarche</p></li>
    </ul>
  </div>

  <div class="wrapper">

    <div class="content">

      <div class="table">
          <div class="training">
            <h2>Prochaines formations</h2>
          </div>
          <div class="information">
            <mat-accordion>
              <mat-expansion-panel *ngFor="let booking of pendings">

              <mat-expansion-panel-header>                 
                  <mat-panel-title>
                    <a [routerLink]="[ '/formation', booking.fid ]"><p>{{ booking.intituleFormation }}</p></a>
                  </mat-panel-title>
                <mat-panel-description>
                  <!-- <p>{{ booking.dateString | parseDateString }}</p> -->
                  <p> {{ booking.ville }}</p>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="members">
                <ul>
                  <li *ngFor="let member of booking.members">
                      <p>{{ member.prenom }}</p>
                      <p>Salarié</p>
                      
                      <button [routerLink]="['/dashboard', { outlets: { dashboard: ['liste-membre', member.id, booking.id] }}]">Voir la fiche</button>
                      <!-- <button (click)="openDialog(membre)">Voir la fiche</button> -->

                  </li>
                </ul>       
              </div>

              </mat-expansion-panel>  
            </mat-accordion>
          </div>
      </div>

      <div class="container">
        <div class="fiche">
          <router-outlet name="dashboard"></router-outlet>
        </div>
      </div>

    </div>

  </div>

</div>








<!-- <div class="table">
    <div class="title">
      <h1>Prochaines formations</h1>
    </div>
    <div class="content">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let booking of bookings">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Titre de la formation réservée : {{ booking.intituleFormation }}
            </mat-panel-title>
            <mat-panel-description>
              Email de l'utilisateur ayant réservé : {{ booking.email }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a [routerLink]="[ '/formation', booking.fid ]">{{ booking.intituleFormation }}</a>
          <p>{{ booking.dateString | parseDateString }}</p>
          <mat-action-row>
            <button mat-button>Validate</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div> -->



<!-- <div class="organisme">
  <div class="header">
    <h1>Réservations</h1>
    <p>Vous êtes connecté en tant que OF</p>
  </div>
  <div class="introduction">
    <h2>Liste de vos formations et des réservations</h2>
    <p>Accédez à la liste des inscris et contactez les pour finalisez les démarches.</p>
  </div>
  <div class="wrapper">
    <div class="booked">
      <card-training></card-training>
      <button>Liste des inscris</button>
    </div>
  </div>
</div> -->

<!-- 
<div *ngIf="user">
  <header>
    <h1 class="title">Mes réservations</h1>
  </header>

  <div class="content" *ngIf="user.isOrganisme">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.intituleFormation; else elseIntitule">
            {{ element.intituleFormation }}
          </ng-container>
          <ng-template #elseIntitule>
            {{ element.intitule }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prochaine Date </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.startDate; else elseDate">
            {{ element.startDate.seconds*1000 | date:'dd MMMM yyyy' }}
          </ng-container>
          <ng-template #elseDate>
            <a [routerLink]="['/organisme/liste-membre']" [queryParams]="{ pid: element.id }">📅 Regarder les dates
              proposées 📅</a>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée</th>
        <td mat-cell *matCellDef="let element">{{element.duree}}h</td>
      </ng-container>

      <ng-container matColumnDef="certification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>certification</th>
        <td mat-cell *matCellDef="let element">
          <label *ngIf="element.certification">Oui</label>
          <label *ngIf="!element.certification">Non</label>
        </td>
      </ng-container>

      <ng-container matColumnDef="modalite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Modalité</th>
        <td mat-cell *matCellDef="let element">{{element.modalite}}</td>
      </ng-container>

      <ng-container matColumnDef="suppression">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element" (click)="deleteSessionOrganisme(element)"> Supprimer la session</td>
      </ng-container>

      <ng-container matColumnDef="aperçu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="[ '/formation' , element.fid]">👁‍🗨 Aperçu formation</a>

        </td>
      </ng-container>

      <ng-container matColumnDef="listing">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.uidEnAttenteInscription; else elseUidEnAttenteInscription">
            <span matBadge={{element.uidEnAttenteInscription.length}} matBadgeOverlap="false">
              <ng-container *ngIf="element.pid; else elsePidLink">
                <a [routerLink]="['/organisme/liste-membre']" [queryParams]="{ sid: element.id }">📝 Listing</a>
              </ng-container>
              <ng-template #elsePidLink>
                <a [routerLink]="['/organisme/liste-membre']" [queryParams]="{ pid: element.id }">📝 Listing</a>
              </ng-template>
            </span>
          </ng-container>
          <ng-template #elseUidEnAttenteInscription>
            <ng-container *ngIf="element.fid; else elseFidLink">
              <a [routerLink]="['/organisme/liste-membre']" [queryParams]="{ sid: element.id }">📝 Listing</a>
            </ng-container>
            <ng-template #elseFidLink>
              <a [routerLink]="['/organisme/liste-membre']" [queryParams]="{ pid: element.id }">📝 Listing</a>
            </ng-template>
          </ng-template>

        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->

<!-- Stagiaire -->
<!-- <div *ngIf="user.isStagiaire">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.intituleFormation; else elseIntitule">
            {{ element.intituleFormation }}
          </ng-container>
          <ng-template #elseIntitule>
            {{ element.intitule }}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prochaine Date </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.startDate; else elseDate">
            {{ element.startDate.seconds*1000 | date:'dd MMMM yyyy' }}
          </ng-container>
          <ng-template #elseDate>
            N/A
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée</th>
        <td mat-cell *matCellDef="let element">{{ element.duree }}h</td>
      </ng-container>

      <ng-container matColumnDef="certification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>certification</th>
        <td mat-cell *matCellDef="let element">
          <label *ngIf="element.certification">Oui</label>
          <label *ngIf="!element.certification">Non</label>
        </td>
      </ng-container>

      <ng-container matColumnDef="modalite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.inscription }}</td>
      </ng-container>

      <ng-container matColumnDef="suppression">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element" (click)="deleteSessionOrPlaceStagiaire(element)">Annuler inscription</td>
      </ng-container>

      <ng-container matColumnDef="aperçu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="[ '/formation', element.fid]">👁‍🗨 Aperçu formation</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="listing">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.inscription == 'pré-inscription'" (click)="confirmInscription(element)">Confirmer son
            inscription</div>
          <div *ngIf="element.inscription == 'inscription'">🎉 Inscription confirmée 🎉</div>
          <div *ngIf="element.inscription == 'en attente de validation'">⏳ En attente de validation</div>
          <div *ngIf="element.inscription == 'demande date en cours'">⏳ Demande date en cours</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<footer></footer> -->