.dashboard{
  display: grid;
  grid-template-rows: 10vh 25vh 25vh auto;
}

// header
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  background-color: #1BA0F2;
    color: white;
    padding: 2%;
    font-size: 2.3rem;
}

// timeline
.timeline{
  background: #1BA0F2;
  display: flex;
  justify-content: center;
}
.timeline ul{
  margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
}
.timeline ul li{
  width: 320px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}
.timeline img{
  width: 50px;
  margin-right: 10px;
}
.timeline p{
  margin-bottom: 0;
}

// content
.wrapper{
  width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.content{
  display: grid;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
}


h2{
  font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #01568d;
}

.members ul li{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


mat-accordion {
  padding-top: 5px;
}


mat-expansion-panel{
  margin-bottom: 10px;
}

.mat-expansion-panel-header-description {
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button{
  background: #F26666;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
  font-weight: bold;
}

// fiche stagiaire


@media all and (min-width: 500px){
  .dashboard{
    display: grid;
    grid-template-rows: 10vh 25vh 10vh 55vh;
  }
  .wrapper{
    padding: 3%;
  }
  .timeline ul {
    max-width: 1020px;
    
  }
  .content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 10px;
    grid-template-rows: 100%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}