.inscription{
    display: grid;
    grid-template-rows: 10% 90%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
.title button{
    right: 24px;
    position: absolute;
    font-size: 24px;
}
h2{
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}
h3{
    font-size: 16px;
    font-weight: 600;
}

form{
    padding: 5%;
}

.choice,
.emailInscription,
.social_media
{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 40px;
    padding-bottom: 0;
}

table{
    width: 100%;
}

.emailInscription button{
    border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 16px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #F26666);
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, white);
    margin-right: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
}

.bloc-mise-en-page p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.media_button{
    cursor: pointer !important;
    display: grid;
    grid-template-columns: 5% 90%;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding: 10px 12px !important;
    font-weight: 800 !important;
    border-radius: 8px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(176, 176, 176) !important;
    background: transparent !important;
    box-shadow: none !important;
    min-width: 71.1935px !important;
    width: 100% !important;
}

.media_button img{
    width: 25px;
}
.media_button button{
    background: none;
    border: none;
}
.media_button button:focus{
    outline: none;
}
.connexion span{
    font-style: italic;
    text-decoration: underline;
}
.connexion span:hover{
    cursor: pointer;
}
mat-radio-button{
    font-size: 14px;
}

.connexion{
    padding-bottom: 50px;
}
.motCle{
    border: 1px solid;
    padding: 20px;
}
mat-radio-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
mat-radio-button{
    list-style: none;
    padding: 0;
    width: 200px;
    height: 300px;
    margin-right: 20px;
    border-radius: 5px;
    background: none;
    border: none;
    transition: box-shadow 200ms ease-in !important;
    box-shadow: 0 2px 4px #F26666 !important;
    text-align: center;
    padding: 10px;
}
mat-radio-button:active{
background: #F26666
}

mat-radio-button img{
    width: 100px;
}
h4{
    font-size: 16px;
    font-weight: 600;
    color: #F26666;
}
.mat-radio-label-content p{
    font-size: 14px;
}

label.mat-radio-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    white-space: unset !important;
}

