
<div class="inscription">

  <!-- title -->
  <div class="title">
    <h2>Inscription</h2>
    <button mat-button (click)="close()">X</button>
  </div>

  <form novalidate class="login-form" [formGroup]="form">

      <!-- sélectionner le type de compte -->
      <div class="choice">
        <h3>1- Sélectionner le type de compte</h3>

        <!-- sélection du type de compte -->
        <!-- <div class="accountSelection" formControlName="isStagiaire" (change)="change($event)">
          <button value="stagiaire" name="stagiaire">
            <img src="./../../../../../assets/images/power.svg" alt="personal training">
            <h4>Compte classique</h4>
            <p>Je peux modifier mon profil, chercher des offres de formation et prendre contact gratuitement avec les prestataires de formation</p>
          </button>
          <button value="organisme" name="organisme">              
            <img src="./../../../../../assets/images/of.svg" alt="organisme de formation">
            <h4>Prestataire de formation</h4>
            <p>Je peux présenter mon organisme, ajouter des offres et recevoir des demandes pour des prestations</p>
          </button>
          <button value="rh" name="rh">
            <img src="./../../../../../assets/images/company.svg" alt="ressources humaines">
            <h4>Service RH</h4>
            <p>Je peux planifier la formation de mon entreprise, inviter mes collaborateurs pour qu'ils puissent interagir avec moi, chercher des offres de formation et prendre contact gratuitement avec les prestataires de formation</p>
          </button>
        </div> -->



        <mat-radio-group formControlName="isStagiaire" (change)="change($event)">
          <mat-radio-button value="stagiaire">
            <img src="./../../../../../assets/images/power.svg" alt="personal training">    
            <h4>Compte classique</h4>
            <p>Je peux modifier mon profil, chercher des offres de formation et prendre contact gratuitement avec les prestataires de formation</p>
          </mat-radio-button>

          <mat-radio-button value="rh">
            <img src="./../../../../../assets/images/company.svg" alt="ressources humaines">
            <h4>Service RH</h4>
            <p>Je peux planifier la formation de mon entreprise, inviter mes collaborateurs pour qu'ils puissent interagir avec moi, chercher des offres de formation et prendre contact gratuitement avec les prestataires de formation</p>
          </mat-radio-button>
         
          <mat-radio-button value="organisme">
              <img src="./../../../../../assets/images/of.svg" alt="organisme de formation">
              <h4>Prestataire de formation</h4>
              <p>Je peux présenter mon organisme, ajouter des offres et recevoir des demandes pour des prestations</p>
          </mat-radio-button>
        
        </mat-radio-group>
    
      </div>

      <!-- inscription avec email -->
      <div class="emailInscription">
        <h3>2- Entrer une adresse email et un mot de passe</h3>
        <table class="full-width" cellspacing="0">
          <tr *ngIf="isRh">
            <td>
              <!-- company name -->
              <mat-form-field>
                <input name="organization" matInput placeholder="Votre nom d'entreprise" required autocomplete="organization" formControlName="organization">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <!-- email -->
              <mat-form-field>
                <input name="email" matInput placeholder="Entrer votre email" required autocomplete="email" formControlName="email">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <!-- password -->
              <mat-form-field>
                <input name="password" matInput placeholder="Et votre mot de passe" required type="password" autocomplete="new-password"
                  formControlName="password">
                <label class="error">{{errorMessage}}</label>
                <label class="success">{{successMessage}}</label>
              </mat-form-field>
            </td>
          </tr>
          
          <!-- bouton inscription -->
          <button (click)="tryRegister(form.value)">Inscription</button>
        </table>

        <!-- Approbation des conditions -->
        <div class="bloc-mise-en-page"> 
            <p>
              <input id="myForm" action="?" type="checkbox" name="quote-request-cgu">Lire et accepter les
                <a class="nav-link" routerLink="/cgu" target="_blank">conditions générales</a> 
                <!-- affiche contrat apport d'affairess si OF -->
                <a class="nav-link" routerLink="/apport-affaires" target="_blank" *ngIf="isOrganisme">Contrat de développement d'affaires</a>.
            </p>
        </div>
      </div>

      <!-- inscription avec google -->
      <!-- <div class="social_media"> 
        <h3>2b- Ou créer un compte à partir d'un compte google</h3>
        <div class="media_button" type="submit" (click)="signInWithGoogle(form.value)"> 
          <img src="./../../../../../assets/icons/google.svg">
          <button >S'inscrire avec Google</button>
        </div>
      </div>  -->

      <!-- Newsletter --> 
      <!-- <div class="motCle">
        <h2>Ajoutez des mots clés et recevez toutes les semaines des propositions de formations personnalisées</h2>
        <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="userKeyword selection">
                <mat-chip *ngFor="let userKeyword of user.userKeywords" [selectable]="selectable" [removable]="removable" (removed)="remove(userKeyword)">
                    {{userKeyword}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Nouveau mot clé"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
        </mat-form-field> -->
 
        <!-- <input type="text" class="form-control" placeholder="Ville" [(ngModel)]="user.ville" name="ville"> -->
    <!-- </div> -->

      <!-- se connecter si déjà user -->
      <div class="connexion">
        <p>Vous avez déjà un compte ? <span (click)="open()">se connecter</span></p>
      </div>

  </form>

</div>
