<div class="card-member">
    <div class="title">
        <h1 mat-dialog-title>Fiche {{ member.prenom }} {{ member.nom }} </h1>
        <button mat-button (click)="close()">X</button>
    </div>

    <mat-dialog-content class="mat-typography">
        
        <form>
            <!-- A propos du membre -->
            <div class="block">
                <h2>A propos du membre</h2>
                <div class="blockContent">
                    <!-- <h3>Prénom</h3> -->
                    <mat-form-field class="text" appearance="fill">
                        <mat-label>Prénom</mat-label>
                        <input matInput [(ngModel)]="member.prenom" name="prenom">
                    </mat-form-field>
                    <!-- <h3>Nom</h3> -->
                    <mat-form-field class="text" appearance="fill">
                        <mat-label>Nom</mat-label>
                        <input matInput [(ngModel)]="member.nom" name="nom">
                    </mat-form-field>
                    <!-- <h3>Email</h3> -->
                    <mat-form-field class="text" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput [(ngModel)]="member.email" name="email">
                    </mat-form-field>
                    <!-- <h3>Téléphone</h3> -->
                    <mat-form-field class="text" appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input matInput [(ngModel)]="member.phone" name="phone">
                    </mat-form-field>
                    <!-- <h3>Fonction</h3> -->
                    <mat-form-field class="text" appearance="fill">
                        <mat-label>Fonction</mat-label>
                        <input matInput [(ngModel)]="member.function" name="function">
                    </mat-form-field>
                </div>
            </div>

            <!-- années -->
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h2>Plan de formation 2021</h2>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="trainingContent">
                        <!-- A propos de son besoin en compétence -->
                        <div class="blockTraining">
                                <h3>A propos de son besoin en compétence</h3>
                                <div class="blockContent">
                                    <!-- <h3>Priorité</h3> -->
                                <div class="textarea">
                                    <p>Priorité (Entre 1 et 3)</p>
                                    <input [(ngModel)]="member.trainingPriority" name="trainingPriority">
                                </div>
                                <!-- <h3>Compétence recherchée</h3> -->
                                <div class="textarea">    
                                    <p>Description du besoin</p>
                                    <input [(ngModel)]="member.need" name="need">
                                </div>
                                <!-- <h3>Mots clés recherchés</h3> -->
                                <mat-form-field class="example-chip-list">
                                    <mat-chip-list #chipList aria-label="userKeyword selection">
                                        <mat-chip *ngFor="let userKeyword of member.userKeywords" [selectable]="selectable" [removable]="removable" (removed)="remove(userKeyword)">
                                            {{userKeyword}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Mots clés décrivant son besoin"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur"
                                            (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                </mat-form-field>
            
                                <!-- <h3>Disponibilité du salarié</h3> -->
                                <!-- <p>Disponibilités du salarié</p>
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>First campaign</mat-label>
                                    <mat-date-range-input
                                      [formGroup]="campaignOne"
                                      [rangePicker]="campaignOnePicker"
                                      [comparisonStart]="campaignTwo.value.start"
                                      [comparisonEnd]="campaignTwo.value.end">
                                      <input matStartDate placeholder="Start date" formControlName="start" (ngSubmit)="onSubmitMember(member)">
                                      <input matEndDate placeholder="End date" formControlName="end" (ngSubmit)="onSubmitMember(member)">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                                  </mat-form-field>
                                  <div class="json">  
                                    <h2>Integrated Form JSON</h2>  
                                    <code><pre>{{campaignOne.value | json}}</pre></code>  
                                  </div> 
                                  
                                  <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>Second campaign</mat-label>
                                    <mat-date-range-input
                                      [formGroup]="campaignTwo"
                                      [rangePicker]="campaignTwoPicker"
                                      [comparisonStart]="campaignOne.value.start"
                                      [comparisonEnd]="campaignOne.value.end">
                                      <input matStartDate placeholder="Start date" formControlName="start" >
                                      <input matEndDate placeholder="End date" formControlName="end">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="campaignTwoPicker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
                                  </mat-form-field> -->
                            </div>                     
                        </div>
            
                        <!-- A propos de sa formation -->
                        <div class="blockTraining">
                            <h3>A propos de sa formation</h3>
                            <div class="blockContent">
                                <!-- <h3>Formation choisie</h3> -->
                                <div class="textarea">
                                    <p>Titre de la formation choisie</p>
                                    <input [(ngModel)]="member.training" name="training">
                                </div>
                                <!-- <h3>Prestataire</h3> -->
                                <div class="textarea">
                                    <p>Prestataire</p>
                                    <input [(ngModel)]="member.trainingOrganisation" name="trainingOrganisation">
                                </div>
                                <!-- <h3>Durée de la formation choisie</h3> -->
                                <div class="textarea">
                                    <p>Durée de la formation choisie en heure</p>
                                    <input [(ngModel)]="member.trainingDuration" name="trainingDuration">
                                </div>
                                <!-- <h3>Coût total de la formation en €</h3> -->
                                <div class="textarea">
                                    <p>Coût total de la formation en €</p>
                                    <input [(ngModel)]="member.totalCost" name="totalCost">
                                </div>
                                <!-- <h3>Montant du financement interne</h3> -->
                                <div class="textarea">
                                    <p>Montant du financement interne en €</p>
                                    <input [(ngModel)]="member.internalCost" name="internalCost">
                                </div>
                                <!-- <h3>Montant du financement externe</h3> -->
                                <div class="textarea">
                                    <p>Montant du financement externe en €</p>
                                    <input [(ngModel)]="member.externalCost" name="externalCost">
                                </div>           
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmitMember(member)">Mettre à jour</button>
    </mat-dialog-actions>

</div>