.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}
.title button{
    font-size: 24px;
}
h1{
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}
h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #01568d;
}
h3{
    font-size: 16px;
    font-weight: 700;
    color: #484848 !important;
}
mat-label{
    font-size: 16px;
    font-weight: 600;
}

form{
    padding: 5%;
}
.trainingContent{
    display: grid;
    grid-template-columns: 47% 48%;
    grid-column-gap: 5%;
}
.block{
    margin-bottom: 50px;
}
.blockTraining{
    padding: 25px;
    box-shadow: 13PX 13px 20px #e9ecef4a, -13px -13px 20px white;
    border-radius: 10px;
}
.textarea{
    margin-bottom: 25px;
}
.textarea input{
    background-color: #ffffff !important;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    height: 48px !important;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
