/* Component styles */
.wrapper{
  height: 100vh;
}
.header{
  height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
header{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.header h1{
  margin: 0;
    padding-top: 10vh;
    font-size: 1.5rem;
}
.add-training button{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff) !important;
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848) !important;
}
.add-training button:hover{
  cursor: pointer;
}
// grid

.catalogue{
  height: 75vh;
  overflow: auto;
}
.card{
  border-radius: 5px;
  background: none;
  border: none;
}

table {
  width: 100%;
  display: block;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-expansion-panel-header{
  padding: 0;
}
mat-expansion-panel-header:not([aria-disabled=true]){
  padding-right: 10px;
}
mat-expansion-panel{
  margin-bottom: 10px;
  box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(1, 1, 1, 1)) !important;
}

.training-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.training-title{
  padding-left: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.training-bar button{
  border: none;
  height: 5vh;
  background: #F34600;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}
.training-bar p{
  min-width: 180px;
  max-width: 200px;
  overflow: hidden;
}
.about ul{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding-right: 12px;
  padding-left: 12px;
}

@media all and (min-width: 500px) {
  .wrapper{
    height: 100Vh;
  }
  .catalogue{
    height: 75vh;
    position: absolute;
    top: 0;
    width: 1000px;
    border-radius: 5px;
    margin-top: 25vh;
    margin-left: 50px;
    overflow: auto;
  }
  .header{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
  }
  .training-title{
    width: 800px;
  }
  .training-bar button{
    height: 4vh;
  }
  .training-bar p{
    max-width: 100%;
  }
}
