<div class="wrapper">
  <div class="header">
    <header>
      <h1 class="title">Mon catalogue</h1>
    </header>

    <div class="add-training">
      <button class="button" (click)="openDialog({})">
        <div *ngIf="user && !user.isFormationUser"></div>Ajouter une formation
      </button>
    </div>
  </div>

  <div class="catalogue">
    <div class="card">


      <mat-accordion>
        <mat-expansion-panel *ngFor="let formation of formations">
          <mat-expansion-panel-header>
            <div class="training-bar">
              <div class="training-title">
                <p>{{ formation.intitule }}</p>
              </div>
              <div class="buttons">
                <button (click)="openDialog(formation)">Modifier</button>
                <button (click)="deleteFormation(formation)">Supprimer</button>
              </div>
            </div>
          </mat-expansion-panel-header>

          <div class="about">
           <ul>
             <li><p *ngFor="let place of formation.placeArray">{{place.ville}}</p></li>
             <!-- <li><p>Date 1</p></li> -->
           </ul>
          </div>
          
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </div>
</div>
  <!-- <div class="catalogue">
    <div class="card"> -->
  <!-- contenu tableau -->
  <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrer">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="titre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
          <td mat-cell *matCellDef="let element"> {{element.intitule}} </td>
        </ng-container>

        <ng-container matColumnDef="modalite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modalité </th>
          <td mat-cell *matCellDef="let element">{{element.modalite}}</td>
        </ng-container>

        <ng-container matColumnDef="lieu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieux </th>
          <td mat-cell *matCellDef="let element">
            <p *ngFor="let place of element.placeArray">
              {{place.ville}}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="duree">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée</th>
          <td mat-cell *matCellDef="let element">{{element.duree}}h</td>
        </ng-container>

        <ng-container matColumnDef="certification">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Certification</th>
          <td mat-cell *matCellDef="let element">
            <label *ngIf="element.certification">Oui</label>
            <label *ngIf="!element.certification">Non</label>
          </td>
        </ng-container>

        <ng-container matColumnDef="prix">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
          <td mat-cell *matCellDef="let element">{{element.prixTotalTTC}}€</td>
        </ng-container>

        <ng-container matColumnDef="supprimer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell class="tab-button" *matCellDef="let element" (click)="deleteFormation(element)"> Supprimer </td>
        </ng-container>

        <ng-container matColumnDef="modifier">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell class="tab-button" *matCellDef="let element" (click)="openDialog(element)"> Modifier </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>-->
