<div class="connexion">

    <!-- title -->
    <div class="title">
        <h2>Connexion</h2>
        <button mat-button (click)="close()">X</button>
    </div>

    

    <form novalidate class="login-form" [formGroup]="form">

        <!-- connexion avec google -->
        <div *ngIf="!passwordCode" class="social_media">
            <div class="media_button" type="submit" (click)="loginWithGoogle(form.value)">
                <img src="./../../../../../assets/icons/google.svg">    
                <button>Se connecter avec Google</button> 
            </div> 
        </div> 
        <div *ngIf="!passwordCode" class="or">
            <div class="trait"></div>
            ou
            <div class="trait"></div>
        </div>

        <!-- connexion avec email + mdp -->
        <table class="full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field>
                        <input name="email" formControlName="email" matInput placeholder="Entrer votre email" required autocomplete="email">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field>
                        <input name="password" formControlName="password" matInput placeholder="Et votre mot de passe" required type="password" autocomplete="current-password">
                        {{ errorMessage }}
                    </mat-form-field>
                    
                    
                
                </td>
            </tr>
            <tr>
                <div *ngIf="!passwordCode" class="button" (click)="tryLogin(form.value)" id="connexion">Connexion</div>
                <div *ngIf="!passwordCode" class="button" (click)="sendEmailResetPassword(form.value.email)">Mot de passe oublié</div>
                <div *ngIf="passwordCode" class="button" (click)="changePassword(form.value)">Changer de mot de passe</div>

            </tr>
        </table>
        <!-- <div class="new_account" routerLink="/inscriptions">
            <p *ngIf="!passwordCode" class="nav-link" >Créer un compte</p>
        </div> -->
        <!-- se connecter si déjà user -->
        <div class="inscription">
            <p *ngIf="!passwordCode">Pas encore de compte ? <span (click)="open()">S'inscrire</span></p>
        </div>
     
    </form>

</div>