// modal carousel
.form {
  display: flex;
  justify-content: center;
  -webkit-animation: wrapper-card 0.5s;
  animation: wrapper-card 0.5s;
}

.modal_content{
  display: grid;
  grid-template-rows: 10vh 60px 525px auto 10vh;
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
.provider{
  font-size: 0.8rem;
}
.btn{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff);
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848);
    margin-right: 20px;
}
.btn:hover{
  background: #02898D;
}

#reserve{
  background: #F26666;  
  color: white;
}


.picture{
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  height: 100vh;
}

iframe{
  height: 25vh;
}
.video img{
  width: 100%;
  height: 100%;
}
.contacter{
  display: flex;
  flex-direction: column;
}
.picture button{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff);
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848);
    margin-right: 20px;
    margin-bottom: 10px;
}
#like,
#share{
  width: 20px;
  margin-right: 10px;
}

a{
  color: #484848;
}
.modal_title{
  background: #d3d3d366;
  margin-bottom: 20px;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_title h1{
  font-size: 1.5rem;
  font-weight: bold;
  color: #01568D;
}
.modal_title ul{
  list-style: none;
  padding: 0;
}

.content{
  padding: 5%;
  margin-top: 50px;
}

.certification{
  text-align: center;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#medal{
  margin: 0;
  width: 100px;
}
.elements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons{
  display: flex;
  justify-content: center;
}
.buttons button{
  background: #03A397;
    border: none;
    color: white;
    padding: 2%;
    border-radius: 5px;
}
.buttons button:hover{
  cursor: pointer;
  background: #02898D;
}

.content img{
  width: 20px;
  margin-right: 20px;
}
.program{
  padding-top: 50px;
  border-bottom: 1px solid lightgrey;
}
.modal_argument{
  padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 50px;
}
.modal_argument p{
  font-weight: 800 !important;
  font-size: 16px !important;
  color: #484848 !important;
  font-style: italic;
}
.modal_objectives{
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}
.modal_program{
  padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}
.modal_requirement,
.modal_public,
.pedagogie,
.book,
.extras,
.contract,
.paiement{
  padding-top: 50px;
  border-bottom: 1px solid lightgrey;
}

.session{
  padding-top: 20px;
  padding-bottom: 20px;

}

.modal_trainer h3{
  font-size: 1rem;
  font-weight: bold;
}
.certifications{
  display: flex;
  justify-content: center;
  padding: 5%;
}
.certifications img{
  width: 150px;
}
iframe{
  width: -webkit-fill-available;
  border-radius: 5px;
}
h2{
  font-size:16px;
  font-weight: bold;
  color: #01568D;
}
#covid{
  color: #d43f03;
}
p{
  font-size: 16px;
  text-align: justify;
}
pre{
  font-size: 16px;
  text-align: justify;
  color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: inherit;
}
.footer{
  display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    position: sticky;
    width: 100%;
    bottom: 0;
    background: white;
    border: 1px solid lightgrey;
    height: 10vh;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact button{
  background: #1BA0F2;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  font-weight: bold;
}
.contact button:hover{
  cursor: pointer;
  background: #02898D;
}
.faq{
  background: #efecec54;
  padding: 5%;
  border-radius: 5px;
}
.faq ul{
  list-style: none;
  padding: 0;
}
.faq ul li{
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
.faq button{
  background: none;
  border: none;
}
.call-to-action{
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-to-action button{
  background: #F26666;
  border: none;
  border-radius: 5px;
  color: white;
  width: 100%;
  height: 100%;
  font-weight: bold;
}
.call-to-action button:hover{
  cursor: pointer;
  background: #d43f03;
}
.forum{
  margin-top: 50px;
}
h4{
  font-size: small;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}


@media screen and (min-width: 500px){
  .modal_content{
    display: grid;
    grid-template-rows: 10vh 90px 500px auto 10vh;
    width: 100%;
  }
  header{
    padding: 1%;
  }
  .content{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 56% 36%;
    grid-column-gap: 8%;
  }
  .picture{
    display: grid;
    grid-template-columns: 33% 66%;
    grid-column-gap: 1%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
    height: 500px;
  }
  .picture ul{
    list-style: none;
    padding: 0;
  }
  iframe{
    height: 500px;
  }

  .video2 iframe{
    height: 200px;
  }
  
  .modal_title{
    padding: 5%;
    height: 500px;
  }
  .modal_title h1{
    font-size: 2rem;
    font-weight: bold;
  }
  .modal_title p{
    font-size: smaller;
    font-style: italic;
  }
  
  .buttons button{
    background: #03A397;
    border: none;
    color: white;
    padding: 2%;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-weight: bold;
  }


  .footer{
    right: 0;
    box-shadow: 0 0 10px 0 black, 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .call-to-action button{
    width: 200px;
    height: 40px;
  }
  .contact button{
    width: 200px;
    height: 40px;
  }
  
  .btn{
    height: 100%;
    width: 80px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .faq{
    padding: 1%;
    margin-top: 25px;
  }
}