<!-- modal quand on ouvre une vignette du carousel -->
<div class="form" vocab="http://schema.org/" typeof="Course" *ngIf="formation">

  <div class="modal_content">
    <!-- navbar -->
    <div class="marge">
    </div>
    <!-- Header OF + bouton fermer la popup -->
    <header>
      <div property="provider">
        Formation proposée par<br>
        {{ formation.organisme }}
      </div>
      <div>
        <button type="button" class="btn btn-light" (click)="close()">X</button>
      </div>
    </header>

    <!-- Titre + vidéo + info générales -->
    <div class="picture">
      <div class="modal_title">
        <h1 property="name">{{ formation.intitule }}</h1>
        <ul>
          <li><ng-container *ngIf="formation.certification; else elseNoCertification"><b>Formation certifiante</b></ng-container>
              <ng-template #elseNoCertification><b>Formation non certifiante</b></ng-template></li>
          <li><b>{{ formation.modalite }}</b><b *ngIf="formation.modalite !== 'Elearning'">, {{ formation.ville }}</b><b *ngIf="formation.visio">, visio-conférence</b><b *ngIf="formation.video">, vidéos</b><b *ngIf="formation.tutoring">, Tutoring</b></li>          
          <li>Durée totale: <b>{{ formation.duree }}h</b></li>

          <ng-container *ngIf="formation.isRythmeSpread; else elseNoRythmeSpread">
            <li>Nombre de séance: <b>{{ formation.nombreHeures }}</b></li>
            <li>Durée 1 séance: <b>{{ formation.dureeSeance }}h</b></li>
          </ng-container>
          <ng-template #elseNoRythmeSpread></ng-template>

          <ng-container *ngIf="formation.formationIntra; else elseModalite"><li rel="offers" typeof="Offer">Formation Intra: <meta property="priceCurrency" content="EUR" /><b property="price">{{ formation.prixIntraTTC }}€ TTC</b></li></ng-container>
          <li rel="offers" typeof="Offer">Formation Inter: <meta property="priceCurrency" content="EUR" /><b property="price">{{ formation.prixTotalTTC }}€ TTC</b></li>
          <ng-container *ngIf="formation.formationIndividuelle; else elseModalite"><li rel="offers" typeof="Offer">Formation Individuelle: <meta property="priceCurrency" content="EUR" /><b property="price">{{ formation.prixIndividuelleTTC }}€ TTC</b></li></ng-container>
          <ng-template #elseModalite></ng-template>
          <li *ngIf="formation.exonerationtva"><p>* Cette prestation est exonérée de TVA</p></li>
        </ul>

        <div class="contacter">
          <p>Cette formation vous intéresse ? Contactez gratuitement le prestataire !</p>
          <button (click)="createBooking('isFavorite')" title="Placer cette formation en favoris"><img src="./assets/icons/save.svg" ID="like">Enregistrer</button>
          <button *ngIf="formation.modalite !== 'Elearning'" (click)="submit()" ID="reserve">Contacter le prestataire<br>Gratuitement - Sans Engagement</button>
          <button *ngIf="formation.modalite === 'Elearning'" (click)="elearningBooking()" ID="reserve">Contacter le prestataire<br>Gratuitement - Sans Engagement</button>
        </div>

        <!-- <button><a target="_blank" [href]="urlToShare" title="Lien vers la formation à copier"><img src="./assets/icons/link.svg" ID="share">Partager</a></button> -->
        <!-- <div class="buttons">
          <button *ngIf="formation.modalite !== 'Elearning'" (click)="createBooking('isProposition')" title="Cette fonctionnalité vous permet de discuter avec un collègue de cette formation">Suggérer à un collègue</button>
        </div> -->
      </div>  
    
      <div class="video">
        <ng-container *ngIf="formation.urlVideoYoutube; else elseImage">     
          <iframe width="560" height="400" [src]="formation.urlVideoYoutube | safeUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ng-container>
        <ng-template #elseImage>
          <img src="./assets/images/get-session.png">
        </ng-template>
      </div>
    </div>

    <!-- ensemble du contenu divisé en 2 parties principales -->
    <div class="content">
      <!-- partie gauche -->
      <div class="main_content">

        <div class="modal_argument">
            <p property="argument">{{ formation.argument }}</p>
        </div>
          
        <div class="modal_objectives">
                <h2><img src="./assets/icons/checked.svg">Objectifs de la formation</h2>
                <p property="description">{{ formation.objectifs }}</p>
        </div>
        
        <div class="modal_program">
                <div class="program">
                  <h2><img src="./assets/icons/checked.svg">Programme</h2>
                  <!-- <p [innerHTML]="formation.contenu"></p> -->
                  <p [innerHTML]="formation.programme"></p>
                </div>
          
                <div class="more-information">
          
                  <div class="informations">
                    <div class="modal_requirement">
                      <h2><img src="./assets/icons/checked.svg">Pré-requis</h2>
                      <p>
                        {{ formation.niveauEntree }}
                      </p>
                    </div>
          
                    <div class="modal_public">
                      <h2><img src="./assets/icons/checked.svg">Public</h2>
                      <p>{{ formation.publicVise }}</p>
                    </div>
          
                  </div>
          
                  <div class="forum">
                    <div class="sub-title">
                      <h2>Commentaires des précédents stagiaires !</h2>
                    </div>
        
                    <div class="faq">
                      <!-- commentaire -->
                      <ul>
                        <li *ngFor="let review of reviews">
                          <h4>{{ review.prenom }} . {{ review.dateCreated | date: 'fullDate' | titlecase }}<button *ngIf="user && (review.uid === user.id || user.isAdmin)" (click)="deleteReview(review)">❌</button></h4>
                          <p>"{{ review.comment }}"</p>
                      
        
                      <!-- Réponse -->
                          <ul>
                            <li *ngFor="let response of review.responses">
                                <h4>{{ formation.organisme }} <button *ngIf="user && (user.id === formation.uid || user.isAdmin)"
                                      (click)="deleteResponse(review, response)">❌</button></h4>
                              <p>"{{ response.message }}"</p> 
                            </li>
                          </ul>
                          <mat-form-field *ngIf="user && (user.id === formation.uid || user.isAdmin)">
                            <input matInput placeholder="Votre réponse" [(ngModel)]="review.lastResponse"
                              (keydown.enter)="addResponse(review)">
                          </mat-form-field>
                        </li>
                      </ul>
        
                      <div class="comment">
                        <!-- input -->
                        <mat-form-field>
                          <input matInput placeholder="Qu'avez-vous pensé de cette formation ?" [(ngModel)]="reviewString"
                            name="reviewString" (keydown.enter)="addComment()">
                        </mat-form-field>
                      </div>
          
                    </div>
                  </div>

                  <div class="pedagogie">
                      <h2><img src="./assets/icons/checked.svg">Pédagogie</h2>
                      <p>{{ formation.pedagogie }}</p>
                    </div>
    
                    <div class="extras">
                      <h2><img src="./assets/icons/checked.svg">Extras</h2>
                      <p>{{ formation.extras }}</p>
                    </div>
    
                    <div class="book">
                      <h2><img src="./assets/icons/checked.svg">Livre recommandé</h2>
                      <p>{{ formation.books }}</p>
                    </div>

                    <div class="contract">
                      <h2>Contractualisation</h2>
                      <p>IANOS ne prend pas en charge la contractualisation de votre formation. En vous pré-inscrivant, vous entrez en relation avec l'organisme prestataire, avec qui vous pourrez finaliser votre contrat.</p>
                    </div>

                    <div class="paiement">
                      <h2>Paiement</h2>
                      <p>IANOS ne prend pas en charge le paiement de votre formation.<br>
                        AUCUN frais ne vous est demandé sur IANOS<br>
                        Les modalités de paiement sont organisés par la prestataire de formation</p>
                    </div>
          
                </div>
          
        </div>

      </div>
      
      <!-- partie droite -->
      <div class="other_elements">

        <div class="modal_securite" *ngIf="formation.securite">
          <h2 ID="covid"><img src="./assets/icons/checked.svg">Covid 19 - Sécurité sanitaire</h2>
          <p>{{ formation.securite }}</p>
        </div>
  
        <div class="session">
          <h2><img src="./assets/icons/checked.svg">Lieux au choix</h2>
          <p *ngFor="let place of formation.placeArray">{{place.ville}}</p>
        </div>

        <div class="modal_of" *ngIf="formation.presentation">
              <h2><img src="./assets/icons/checked.svg">Présentation de l'organisme formateur</h2>
              <p>{{ formation.presentation }}</p>
        </div>
        <br>
        <div class="video2" *ngIf="formation.urlVideoYoutube2"> 
            <iframe *ngIf="formation.urlVideoYoutube2" width="560" height="250" [src]="formation.urlVideoYoutube2 | safeUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="certifications">    
          <img *ngIf="formation.datadock" src="./assets/icons/datadock.png">
          <img *ngIf="formation.cpf" src="./assets/icons/RNCP.png">
          <!-- <img *ngIf="formation.qualiopi" src="./assets/icons/qualiopi.png"> -->  
        </div>

        <br>
        <div class="modal_trainer" *ngIf="formation.trainer">
          <h2><img src="./assets/icons/checked.svg">Présentation du formateur</h2>
          <img *ngIf="formation.trainer.urlPicture" [src]="formation.trainer.urlPicture">
          <p>{{ formation.trainer.presentation }}</p>
          <h3 *ngIf="formation.trainer.hobbies">Hobbies du formateur</h3>
          <p>{{ formation.trainer.hobbies }}</p>
          <h3 *ngIf="formation.trainer.quote">Citation</h3>
          <p>{{ formation.trainer.quote }}</p>
          <h3 *ngIf="formation.trainer.keywords">Mots clés</h3>
          <p>{{ formation.trainer.keywords }}</p>
        </div>
        <br>
        <div class="financing">
          <h2><img src="./assets/icons/checked.svg">Financements</h2>
          <p>CPF: <b *ngIf="formation.cpf">Oui</b><b *ngIf="!formation.cpf">Non</b></p>
          <p>OPCO: <b *ngIf="formation.datadock">Oui</b><b *ngIf="!formation.datadock">Non</b></p>
          <p>Pôle Emploi: <b *ngIf="formation.datadock">Oui</b><b *ngIf="!formation.datadock">Non</b></p>
         </div>
            <!-- <div class="keywords">
              <h2><img src="./assets/icons/checked.svg">Mots CLés</h2>
              <p *ngFor="let motCle of formation.motCleArray">{{motCle}}</p>
            </div> -->
            <br>

            <!-- lieux et dates -->
            
                <!-- <mat-form-field appearance="fill">
                  <mat-label>Lieux</mat-label>
                  <mat-select>
                    <mat-option>Aucun</mat-option>
                    <mat-option *ngFor="let place of formation.placeArray" [value]="place" (click)= "selectPlace()">{{place.ville}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <p>test</p>   
                <p *ngFor="let session of sessions">{{ session.dateString | parseDateString }}</p> -->
                
              
            



            <!-- <div class="date">
              <h2>Dates disponibles</h2>
              <p *ngFor="let session of sessions">
              <ng-container *ngIf="session.startDate; else elseStartDate">
                {{ session.startDate.seconds*1000 | date:'dd MMMM yyyy' }}
              </ng-container>
              <ng-template #elseStartDate>
                {{ session.dateString | parseDateString }}
              </ng-template>
              </p>
            </div> -->
      </div>
  
    </div>

    <!-- footer avec les call to actions -->
    <div class="footer">
      <div class="contact">
        <button (click)="open(contact)" title="Prenons le temps de discuter de votre formation">Nous contacter</button>
      </div>
      <div class="call-to-action">
        <button *ngIf="formation.modalite !== 'Elearning'" (click)="submit()" ID="reserve">Contacter le prestataire</button>
        <button *ngIf="formation.modalite === 'Elearning'" (click)="elearningBooking()">Contacter le prestataire</button>
      </div>
    </div>

  </div>
</div>



    

