<!-- <div [innerHTML]="<url><loc>https://ianos.io/</loc></url>">  </div> -->



<p *ngFor="let formation of formations">
  <a *ngIf="formation && formation.id" [routerLink]="[ '/formation', formation.id, formation.intitule ]">{{ formation?.intitule }}</a>
</p>

<textarea isAdmin cols="40" rows="20">{{ sitemap }}</textarea>
<footer></footer>