<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Nouvelle ville" aria-label="Number" matInput [matAutocomplete]="auto"
        (keypress)="autocomplete(placeToAdd)" [(ngModel)]="placeToAdd.ville" name="ville">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of predictions" (click)="selectedValue(option)">
          {{ option.description }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button value="Ajouter" mat-raised-button color="warn" (click)="onSubmitPlace(placeToAdd)">Ajouter</button>
    <!-- <input value="Ajouter" class="btn" (click)="onSubmitPlace(placeToAdd)" /> -->
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <input matInput placeholder="Adresse" [(ngModel)]="placeToAdd.adresse" name="adresse" />
    <input matInput placeholder="Code postal" [(ngModel)]="placeToAdd.codePostal" name="codePostal" />
    <input matInput placeholder="Departement" [(ngModel)]="placeToAdd.departement" name="departement" />
    <input matInput placeholder="Région" [(ngModel)]="placeToAdd.region" name="region" />
    <input matInput placeholder="Pays" [(ngModel)]="placeToAdd.pays" name="pays" />
  </ng-template>
</mat-expansion-panel>

<mat-accordion>

  <mat-expansion-panel *ngFor="let place of places" (opened)="resetCalendar()">
    <mat-expansion-panel-header>
      <mat-form-field class="example-full-width">
        <input type="text" aria-label="Number" matInput [(ngModel)]="place.ville" name="ville">
      </mat-form-field>

      <!-- <input value="Modifier" class="btn" (click)="onSubmitPlace(place)" /> -->
      <button mat-raised-button color="warn" (click)="onSubmitPlace(place)">Modifier</button>

      <button mat-button color="warn" (click)="deletePlace(place)" *ngIf="place.id">Supp</button>
      <!-- <input value="❌" class="btn" (click)="deletePlace(place)" *ngIf="place.id" /> -->
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <input matInput placeholder="Adresse" [(ngModel)]="place.adresse" name="adresse" />
      <input matInput placeholder="Code postal" [(ngModel)]="place.codePostal" name="codePostal" />
      <input matInput placeholder="Departement" [(ngModel)]="place.departement" name="departement" />
      <input matInput placeholder="Région" [(ngModel)]="place.region" name="region" />
      <input matInput placeholder="Pays" [(ngModel)]="place.pays" name="pays" />
      <mat-checkbox [(ngModel)]="place.isDate" name="isDate">Je laisse choisir les dates par le stagiaire</mat-checkbox>
      <add-session [place]="place" [formation]="formation" *ngIf="formation.modalite == 'Présentiel' && !place.isDate"></add-session>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>