.mat-expansion-panel {
 padding-top: 15px;
 min-height: 100px;
}
.btn{
    height: 5vh;
    background: #F34600;
    border: none;
    color: white;
    text-align: center;
    font-size: large;
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}
.btn:hover {
 cursor: pointer;
}

.mat-form-field{
    max-width: 450px;
}