<div class="toDO">
  <!-- <div class="header">
    <h1>To do</h1>
    <div class="input">
      <input type="text" value="" class="form-control task-todo" placeholder="Entrez une nouvelle tâche" (keyup)="addToDoItem($event)" [(ngModel)]="Todolist.text"/>
      <button mat-mini-fab color="primary" (click)="addToDoItem($event)">+</button>
    </div>
  </div>
  
  <div class="content">
    <ul class="todo-list">
      <li *ngFor="let item of getNotDeleted()" [ngClass]="{checked: item.isChecked, active: item.isActive}" class="card" (mouseenter)="item.isActive=true" (mouseleave)="item.isActive=false">
        <label class="todo-checkbox custom-checkbox custom-input-success">
          <input type="checkbox" [(ngModel)]="item.isChecked">
          <span class="cut-with-dots">{{ item.text }}</span>
        </label>
        <button mat-stroked-button (click)="item.deleted = true">X</button>
      </li>
    </ul>
  
  </div> -->
</div>