.toDO{
  display: grid;
  grid-template-rows: 100px auto;
  width: 420px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
}

.header{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input{
  width: 100%;
    display: flex;
}
.task-todo{
    width: calc(100% - 25px);
    border-radius: 0;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    margin-right: 20px;
}

h1{
  font-size: 16px;
    font-weight: 800;
    margin: 0;
}
.content{
  height: 600px;
  overflow-y: auto;
}
.content ul{
  list-style: none;
  padding: 0;
}
.card{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 40px;
}
.mat-stroked-button {
  border: none;
  padding: 0;
  line-height: 0;
  min-width: 30px;
}
label{
  margin-bottom: 0;
  display: flex;
    align-items: center;
}
.todo-checkbox input{
  margin-right: 10px;
}