.component{
    display: grid;
    grid-template-rows: 10vh auto;
    height: 100vh;
}
    
h1{
    background-color: #1BA0F2;
    color: white;
    padding: 2%;
    font-size: 2.3rem;
}
h2{
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #484848 !important;
}
.displayName input{
    font-size: 1.5rem;
    font-weight: bold;
    color: #01568D;
    border: none;
    background: none;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.displayName input:focus {
    outline: none;
}

.block1 input{
    font-size: 16px;
    border: none;
    background: none;
    width: 100%;
    margin-bottom: 5px;
}
.block1 input:focus {
    outline: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttons ul{
    list-style: none;
    padding: 0;
}
#importButton{
    background: #F26666;
    border: none;
    color: white;
}
.buttons button{
    border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff);
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848);
    margin-right: 20px;
    margin-top: 20px;
    width: 300px;
}

.block2{
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid lightgrey;
}

.typeOF,
.certifications{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h3{
font-size: 16px;
}

.about ul,
.certifications ul{
    list-style: none;
}

textarea{
    height: 150px;
}

.certifications{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}
.motCle{
    padding-top: 50px;
}
#main-button{
    background: #F26666;
    color: white;
}
.buttons{
    margin-bottom:50px;
}
    
    @media (min-width: 500px){

.profil{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}


    }