<div class="component" *ngIf="user">

    <!-- marge pour la navbar -->
    <div class="marge"></div>

    <!-- contenu des profils -->
    <div class="profil">

        <!-- Profil Organisme de formation -->
        <div class="organisme" *ngIf="user.isOrganisme">
            <div class="header">
                <h1 class="title">Mon profil</h1>
            </div>
                            
            <div class="content">
                <form (ngSubmit)="onSubmit()">


                    <div class="displayName">
                        <input matInput maxlength="20" placeholder="Nom de l'organisme" [(ngModel)]="user.displayName" name="displayName" ID="displayName">
                    </div>

                                        
                    <div class="block1">
                        <input matInput maxlength="20" placeholder="SIRET" [(ngModel)]="user.siret" name="siret" >
                    </div>
                                
                    <div class="block1">
                        <input matInput maxlength="20" placeholder="Email" [(ngModel)]="user.email" name="email" >
                    </div>

                    <div class="block1">
                        <input matInput maxlength="20" placeholder="Téléphone" [(ngModel)]="user.phone" name="phone" >
                    </div> 
                    
                    <div class="block1">
                        <input matInput maxlength="50" placeholder="Adresse postale" [(ngModel)]="user.adress" name="adress" >
                    </div>
                                              
                    <div class="block1">
                        <input matInput placeholder="Ville" [(ngModel)]="user.ville" name="ville" >
                    </div>

                    <div class="block1">
                        <input matInput placeholder="Code postal" [(ngModel)]="user.cp" name="cp" >
                    </div>

                    <div class="block1">
                        <input matInput placeholder="Pays" [(ngModel)]="user.state" name="state" >
                    </div>

                    <div class="block1">
                        <input matInput maxlength="20"  placeholder="RNCP (facultatif)" [(ngModel)]="user.rncp" name="rncp" >
                    </div>
                            
                    <div class="buttons">
                        <ul>
                            <li><button type="submit" class="btn btn-info btn-fill pull-right" ID="importButton">Mettre à jour</button></li>
                            <li><button class="btn" (click)="onChangePassword()">Nouveau mot de passe</button></li>
                        </ul>
                        <ul>
                            <li><button class="btn" (click)="onChangeEmail()">Nouvel e-mail</button></li>
                            <li><button class="btn btn-info btn-fill pull-right" (click)="deleteUser()">Supprimer mon compte</button></li>
                        </ul> 
                    </div>

                    <div class="block2">
                        <div class="about">
                            <h2>A propos de l'organisme</h2>

                            <div class="typeOF">
                                <h3>Vous êtes:</h3>
                                <ul>
                                    <li><mat-checkbox [(ngModel)]="user.activitePrincipale" name="activitePrincipale">Prestataire, activité principale</mat-checkbox></li>
                                    <li><mat-checkbox [(ngModel)]="user.activiteSecondaire" name="activiteSecondaire">Prestataire, activité secondaire</mat-checkbox></li>
                                </ul>
                                <ul>
                                    <li><mat-checkbox [(ngModel)]="user.OF" name="OF">Organisme de formation</mat-checkbox></li>
                                    <li><mat-checkbox [(ngModel)]="user.formateurIndependant" name="formateurIndependant">Formateur indépendant</mat-checkbox></li>
                                    <li><mat-checkbox [(ngModel)]="user.agenceDeConseil" name="agenceDeConseil">Agence de conseil</mat-checkbox></li>
                                    <li><mat-checkbox [(ngModel)]="user.prestataireDeService" name="prestataireDeService">Prestataire de service</mat-checkbox></li>
                                </ul>
                            </div>

                            <mat-form-field class="textarea" appearance="fill">
                                <mat-label>Présentation de l'organisme</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="user.presentation" name="presentation"></textarea>
                            </mat-form-field>

                            <mat-form-field class="textarea" appearance="fill">
                                <mat-label>Pédagogie</mat-label>
                                <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="user.pedagogie" name="pedagogie"></textarea>
                            </mat-form-field>

                            <mat-form-field class="textarea" appearance="fill">
                                <mat-label>Point fort 1</mat-label>
                                <input matInput placeholder="L'accueil" [(ngModel)]="user.pointFort1" name="pointFort1">
                            </mat-form-field>

                            <mat-form-field class="textarea" appearance="fill">
                                <mat-label>Point fort 2</mat-label>
                                <input matInput placeholder="Les formateurs" [(ngModel)]="user.pointFort2" name="pointFort2">
                            </mat-form-field>

                            <mat-form-field class="textarea" appearance="fill">
                                <mat-label>Point fort 3</mat-label>
                                <input matInput placeholder="La certification" [(ngModel)]="user.pointFort3" name="pointFort3">
                            </mat-form-field>

                        </div>
                        
                    </div> 
                    
                    <div class="certifications">
                        <h3>Certifications</h3>
                        <ul>
                            <li><mat-checkbox [(ngModel)]="user.datadock" name="datadock">Datadock</mat-checkbox></li>
                            <li><mat-checkbox [(ngModel)]="user.qualiopi" name="qualiopi">Qualiopi</mat-checkbox></li>
                        </ul>
                    </div>

                </form>
            </div>  
        </div>
        <!-- fin organisme -->


        <!-- Profil des stagiaires -->
        <div class="batisseur" *ngIf="user.isStagiaire">
            
            <div class="header">
                <h1 class="title">Mon profil</h1>
            </div>
            <div class="content">
                <form (ngSubmit)="onSubmit()">
                    <h2>Données personnelles</h2>
                        
                    <div class="block1">
                        <input type="text" class="form-control" placeholder="Prénom" [(ngModel)]="user.prenom" name="prenom">
                        <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="user.nom" name="nom">
                        <button class="btn" (click)="onChangePassword()">Nouveau mot de passe</button>
                        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email">
                        <input type="text" class="form-control" placeholder="Téléphone" [(ngModel)]="user.phone" name="phone">
                        <input type="text" class="form-control" placeholder="Adresse postale" [(ngModel)]="user.adress" name="adress">
                        <input type="text" class="form-control" placeholder="Ville" [(ngModel)]="user.ville" name="ville">
                        <input type="text" class="form-control" placeholder="Pays" [(ngModel)]="user.state" name="state">
                        <input type="text" class="form-control" placeholder="Code postal" [(ngModel)]="user.cp" name="cp">
                    </div>
                                        

                    <h2>Données professionnelles</h2>
                                   
                    <div class="block2">
                        <input type="text" class="form-control" placeholder="Ajouter votre entreprise" matInput [(ngModel)]="user.company" name="companyName">
                        <input type="text" class="form-control" placeholder="Fonction" [(ngModel)]="user.function" name="function">
                        <input type="text" class="form-control" placeholder="Statut" [(ngModel)]="user.status" name="status">
                        <input type="text" class="form-control" placeholder="Secteur d'activité" [(ngModel)]="user.sector" name="sector">
                        <input type="text" class="form-control" placeholder="Région" [(ngModel)]="user.region" name="region">
                        <input type="text" class="form-control" placeholder="Besoin en formation" [(ngModel)]="user.need" name="need">
                    </div>

                    <!-- datepicker -->
                    <!-- <mat-form-field class="date-range" appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input
                            [formGroup]="range"
                            [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field> -->

                    <!-- dateRangePicker -->
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                          <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="handleStartChange($event)">
                          <input matEndDate formControlName="end" placeholder="End date" (dateChange)="handleEndChange($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      
                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    </mat-form-field>
                      
                    <p>Selected range: {{range.value | json}}</p> -->

                    <!-- ajout de mot clé pour newsletter -->
                    <div class="motCle">
                        <h2>Mots Clés pour recevoir des offres personnalisées</h2>
                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="userKeyword selection">
                                <mat-chip *ngFor="let userKeyword of user.userKeywords" [selectable]="selectable" [removable]="removable" (removed)="remove(userKeyword)">
                                    {{userKeyword}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Nouveau mot clé"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                    
                    <!-- bontous MAJ & supprimer compte -->
                    <div class="buttons">
                        <button type="submit" class="btn btn-info btn-fill pull-right" id="main-button">Mettre à jour</button>
                        <button class="btn btn-info btn-fill pull-right" (click)="deleteUser()">Supprimer mon compte</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- fin stagiaire -->

        
        <!-- profil de l'entreprise -->
        <!-- <div class="company">
            <div *ngIf="user.isStagiaire && !user.eid && !isMailSending" class="contact">
                <input type="email" placeholder="email de mon RH" name="emailToInvite" #emailToInvite><button (click)="sendInviteEmail(emailToInvite, emailToInviteButton)" #emailToInviteButton>Demander à mon RH de m'ajouter à l'entreprise sur IANOS</button>
            </div>
        </div> -->
        <!-- fin de profil entreprise -->

    </div>

</div>

