<input type="text" name="spreadsheetId" #spreadsheetId value="1-6P64rImCY_BOaA892DdxmVs2t5HXx-c5Lc-i-IxW8w">

<button (click)="getDataFromSpreadSheet(spreadsheetId.value)">Récupérer les formations dans le spreadsheet ci
  dessus</button>

<div *ngIf="allCells[1]">
  <form class="example-form" *ngIf="user && user.isAdmin">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Chercher votre organisme de formation" aria-label="Number" matInput [matAutocomplete]="auto"
        [(ngModel)]="organismeUid" name="organismeUid">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.displayName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div *ngFor="let row of allCells">
      <hr>
      <div *ngFor="let value of row; let i = index">
        {{ titles[i] }} <input type="text" [value]="value">
      </div>
      <button (click)="addFormation(row)">Ajouter la formation</button>

  </div>
</div>