.course{
    display: grid;
    grid-template-rows: 170px 50px 160px;
    grid-template-columns: 320px;
}
.course:hover{
    cursor: pointer;
}

.screen{
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 5px 0 black, 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    height: 178px;
}
.modal_video{
    width: 320px;
    height: 100%;
}
iframe{
    height: 170px;
}
.picture{
    background: #f3f1f1;
}
.backgroundImage{
    margin-top: 40px;
    opacity: 0.2;
}


.modalite ul{
    list-style: none;
}
.about_elearning,
.about_presentiel{
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 40px;
    grid-template-columns: 320px;
}
.about_elearning ul,
.about_presentiel ul{
    margin: 0;
    padding: 0;

}
.about_elearning ul li,
.about_presentiel ul li{
    
    padding: 5px;
    min-width: 50px;
    font-size: 14px;
    display: flex;
    
}

.title{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
.modalite img{
    width: 20px;
    margin-right: 10px;
}

p{
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 13px;
}
#motCle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-height: 40px;
    overflow: hidden;
}
#motCle p{
    font-size: 11px;
    font-style: italic;
}