<div class="course" vocab="http://schema.org/" typeof="Course" (click)="open(formation)">

  <!-- partie 1 -->
  <div class="picture">
      <div class="modal_video" *ngIf="formation.urlVideoYoutube; else elsePicture">
        <iframe width="320" height="180" [src]="formation.urlVideoYoutube | safeUrl" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <ng-template #elsePicture>
        <div class="neutralBackground">
          <!-- <div class="ianos"><img src="./../../../../assets/icons/avatar-ianos.png" alt="ianos"></div> -->
          <div class="backgroundImage"><img src="./../../../../assets/images/card-training-design.png" alt="cardTraining"></div>        
        </div>
      </ng-template>
  </div>

  <!-- partie 2 -->
  <div property="name" class="title">
    {{ formation.intitule }}
  </div>
  
  <!-- partie 3 -->
  <div class="modalite">

    <!-- <div class="organisme">
        <img src="./../../../../assets/icons/company.svg" ID="icon"><p>{{ formation.organisme }}</p>
    </div> -->

    <ng-container *ngIf="formation.modalite == 'Elearning'; else elsePresentiel">
      <div class="about_elearning">          
          <ul>
            <li><img src="./../../../../assets/icons/company.svg" ID="icon"><p>{{ formation.organisme }}</p></li>
            <li><img src="./../../../../assets/icons/video-player.svg" ID="icon"><p>elearning</p><p *ngIf="formation.visio">/ visio</p><p *ngIf="formation.video">/ vidéos</p></li>
            <li property="timeRequired"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>{{ getDuree(formation) }}h</p></li>
            <li *ngIf="formation.certification; else elseCertification"><img src="./../../../../assets/icons/euro.svg" ID="icon"><p>Eligible au CPF</p></li>
            <ng-template #elseCertification></ng-template>
            <li *ngIf="formation.motCleArray" id="motCle"><img src="./../../../../assets/icons/target.svg" ID="icon"><p *ngFor="let motCle of formation.motCleArray">#{{ motCle }}</p></li>
          </ul>
      </div>
    </ng-container>
    <ng-template #elsePresentiel>
      <div class="about_presentiel">
          <ul>
            <li><img src="./../../../../assets/icons/company.svg" ID="icon"><p>{{ formation.organisme }}</p></li>
            <li><img src="./../../../../assets/icons/place.svg" ID="icon"><p>{{ formation.ville }}</p></li>
            <li property="timeRequired"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>{{ getDuree(formation) }}h</p></li>
            <li *ngIf="formation.certification; else elseCertification"><img src="./../../../../assets/icons/euro.svg" ID="icon"><p>Eligible au CPF</p></li>
            <ng-template #elseCertification></ng-template>
            <li *ngIf="formation.motCleArray" id="motCle"><img src="./../../../../assets/icons/target.svg" ID="icon"><p *ngFor="let motCle of formation.motCleArray">#{{ motCle }}</p></li>
          </ul>
      </div>
    </ng-template>
  </div>

    <!-- <div class="searchpoint">
      <p>{{ formation.searchPoint }}</p>
    </div> -->

    <!-- <div class="certification">
      <p *ngIf="formation.certification; else elseCertification">Formation certifiante</p>
      <ng-template #elseCertification>
        <p>Formation non certifiante</p>
      </ng-template>
    </div> -->
  
</div>
