// La barre de discussion est plaquée en bas de la page
// chatbot

.wrapper{
  display: flex;
  justify-content: center;
  // background-image: url("https://source.unsplash.com/wD1LRb9OeEo");
	background-repeat: no-repeat;
	background-size: cover;
}

.chatbot{
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-rows: 90% 10%;
  width: 100%;
  height: 95vh;
  box-shadow: 0 0 25px 0 black, 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.chatform{
    max-width: 70%;
    width: 100%;
    min-width: 100%;
}
.message-form{
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}
message-list{
  width: 100%;
}

@media screen and (min-width: 500px){
  .wrapper{
    height: 95vh;
  } 
  .chatbot{
    width: 1000px;
    height: 100%;
  }
  .chatform{
    display: flex;
    justify-content: center;
  }
  massage-list{
    overflow: hidden;
  }
}