<!-- Ce composant gère le scope dans lequel va évoluer le chatbot -->
<!-- Il est composé De la partie conversationnelle et de la barre d'écriture -->


<div [ngStyle]="{'background-image': 'url(' + backgroundUrl + ')'}" class="wrapper">
  <div class="chatbot">
    <div class="chatform">
      <message-list [user]="user" [messages]="messages"></message-list>
    </div>
    <div class="message-form">
      <message-form [user]="user" [message]="message" [messages]="messages"></message-form>
    </div>
  </div>
</div>

