.mat-toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
  padding-bottom: 2px;
  height: 50px;
}
.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
}
button{
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  text-align: center;
}
button:hover{
  cursor: pointer;
}
#logo{
  width: 100%;
  height: 100%;
}

.mat-icon-button{
    padding: 0;
    min-width: 0;
    width: 100%;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

mat-icon{
  width: 100%;
}

.button-home{
  width: 30px;
}

.desktop{
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-around;
}


@media only screen and (min-width: 768px){
  
}



