<mat-toolbar id="navbar">


  <button mat-raised-button (click)="toggleSideBar()">
    IANOS
  </button>

  <ng-container *ngIf="isDesktop; else elseIsDesktop">

    <div class="desktop">
      <button mat-menu-item routerLink="/" aria-label="Accueil" aria-roledescription="Accueil">Accueil</button>
      <button mat-menu-item routerLink="/batisseur" aria-label="Stagiaire">Stagiaire</button>
      <button mat-menu-item routerLink="/fournisseur" aria-label="Formateur">Formateur</button>
      <button mat-menu-item routerLink="/blog" aria-label="Notre blog">Notre blog</button>
      <button isUser mat-menu-item (click)="logout()" aria-label="Déconnexion">Déconnexion</button>
      <button isNoUser mat-menu-item routerLink="/connexion" aria-label="Connexion">Connexion</button>
    </div>
  </ng-container>

  <ng-template #elseIsDesktop>
    <div class="home">
      <button mat-menu-item routerLink="/" aria-label="Accueil"><img src="./assets/images/home.png" class="button-home"
          alt="home" /></button>
    </div>
    <div class="menu">
      <button isUser mat-menu-item (click)="logout()" aria-label="Déconnexion">Déconnexion</button>
      <button isNoUser mat-menu-item routerLink="/connexion" aria-label="Connexion">Connexion</button>
    </div>
  </ng-template>

</mat-toolbar>