header{
	border: solid;
	border-color: white;
	border-radius: 30px;
    box-shadow: 0 0 20px 0 #0067A4, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10%;
    margin: 5%;
}

h2{
    padding-left: 5%;
    color: white;
}

.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
//   margin-top: 20%;
}
.card {
    background-color: #fff;
    background-clip: border-box;
    border-radius: 30px;
    width: 320px;
}
table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
tbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}


// validation
.error,
.error a,
.error a:hover,
.error a:focus,
.error a:visited,
.error a:link{color:red}
.error input{
  outline : red solid 1px ;
}

.or{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.trait{
    border-bottom: 1px solid black;
    width: 130px;
    margin-right: 5px;
    margin-left: 5px;
}

.social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.social_media button{
    background: #0067A4;
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 10px;
}
.social_media button:hover{
    background: none;
    border: 2px solid #F34600;
    color: black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: #02c8fa;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 1rem;
    min-height: 7vh;
    max-height: 7vh;
    margin-bottom: 5px;
}
.button:hover{
    cursor:pointer;
    border: 2px solid #F34600;
}