<form novalidate class="login-form" [formGroup]="form">
  <div class="card">

      <div class="social_media">    
          <button class="btn" type="submit" (click)="signInWithGoogle(form.value)">S'inscrire avec Google</button>
          <button class="btn" type="submit" (click)="signInWithFacebook(form.value)">S'inscrire avec Facebook</button>
      </div> 
      <div class="or">
          <div class="trait"></div>
          ou
          <div class="trait"></div>
      </div>

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input name="email" matInput placeholder="Entrer votre email" required autocomplete="email" formControlName="email">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input name="password" matInput placeholder="Et votre mot de passe" required type="password" autocomplete="new-password"
              formControlName="password">
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
          </mat-form-field>
        </td>
      </tr>
      <mat-radio-group formControlName="stagiaire">
        <p class="nav-link" routerLink="/connexion">Se connecter</p>
        <mat-radio-button value="stagiaire" checked>👨‍🎓 Stagiaire</mat-radio-button>
        <br>
        <mat-radio-button value="organisme">👨‍🏫 Organisme de formation</mat-radio-button>
      </mat-radio-group>
      <br>
      <div class="bloc-mise-en-page"> 
        <form id="myForm" action="?"> 
          <fieldset>
            <p><input type="checkbox" name="quote-request-cgu"> Lire et accepter les <a class="nav-link" routerLink="/cgu" target="_blank">conditions générales</a>.</p>
          </fieldset>
        </form>
      </div>
      
       <div class="button" (click)="tryRegister(form.value)">Inscription / Connexion</div>
      
    </table>
  </div>
</form>


<!-- <button class="btn" type="submit" (click)="signInWithLinkedin(form.value)">S'inscrire avec Linkedin</button> -->
