//    dashboard

.dashboard {
  display: flex;
  flex-direction: row;
}

.main{
  background: none;
  width: 100%;
  padding-left: 15%;
}

.sidebar{
  height: 100vh;
  width: 15%;
  background: #004F7E;
  padding-top: 10%;
  color: white;
  position: fixed;
  overflow-y: auto;
}

.reservation,
.favoris,
.demandes,
.propositions,
.pending{
  padding: 5%;
}
.reservation ul,
.favoris ul,
.demandes ul,
.propositions ul,
.pending ul{
  list-style: none;
  padding: 0;
  font-size: smaller;
}
.reservation ul li,
.favoris ul li,
.demandes ul li,
.propositions ul li,
.pending ul li{
  margin-bottom: 5px;
}
a{
}

.reservation ul img,
.favoris ul img,
.demandes ul img,
.propositions ul img,
.pending ul img{
  width: 15px;
  margin-right: 5px;
}

#style-7::-webkit-scrollbar-track
{

	background-color: #0067A4;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #0067A4;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #02c8fa),
									   color-stop(0.72, #0067A4),
									   color-stop(0.86, #0067A4));
}
// fin css dashboard







