<!-- Tableau de bord -->
<div class="dashboard">
  <div class="sidebar" id="style-7">
    <div class="favoris" *ngIf="user && user.isStagiaire">
      <h5>Favoris</h5>
      <ul>
        <li *ngFor="let booking of bookingFavorites"><img src="./assets/images/favoris.png">
            <a [routerLink]="['/dashboard', {outlets: {'dashboard': ['favorite', booking.id] }}]">{{ booking.intituleFormation }}</a>
          </li>
      </ul>
    </div>

    <div class="demandes" *ngIf="user && user.isStagiaire && user.eid">
      <h5>Demandes</h5>
      <ul>
        <li *ngFor="let request of bookingRequests"><img src="./assets/images/rond.png">
            <a [routerLink]="['/dashboard', {outlets: {'dashboard': ['request', request.id] }}]">{{ request.intituleFormation }}</a>
        </li>
      </ul>
    </div>

    <div class="propositions" *ngIf="user && user.isStagiaire && user.eid">
      <h5>Propositions</h5>
      <ul>
        <li *ngFor="let proposition of bookingPropositions"><img src="./assets/images/rond.png">
            <a [routerLink]="['/dashboard', {outlets: {'dashboard': ['proposition', proposition.id] }}]">{{ proposition.intituleFormation }}</a>
      </ul>
    </div>

    <div class="pending">
      <h5>Validation en cours</h5>
      <ul>
        <li *ngFor="let pending of bookingPendings"><img src="./assets/images/rond.png">
            <a [routerLink]="['/dashboard', {outlets: {'dashboard': ['pending', pending.id] }}]">{{ pending.intituleFormation }}</a>
        </li>
      </ul>
    </div>

    <div class="reservation">
      <h5>Réservations</h5>
      <ul>
          <li *ngFor="let booking of bookings"><img src="./assets/images/rond.png">
              <a [routerLink]="['/dashboard', {outlets: {'dashboard': ['booked', booking.id] }}]">{{ booking.intituleFormation }}</a>
          </li>
      </ul>
    </div>

  </div>

  <div class="main">

    <router-outlet name="dashboard"></router-outlet>

  </div>
</div>