<!-- chatcontrol est la barre de discussion. Elle est composée d'un espace d'écriture et d'un bouton -->
<div class="chatcontrol">
    <mat-menu #appMenu="matMenu">
      <button class="btn btn-info" (click)="deleteContexts()" ID="delete">Supprimer messages</button>
    </mat-menu>
    <button matTooltip="Supprimer les messages" matTooltipPosition="above" mat-icon-button [matMenuTriggerFor]="appMenu" ID="mat-icon-button">
      <mat-icon>X</mat-icon>
    </button>

  <input #inputToFocus id="inputToFocus" type="text" class="form-control chatinput" (keyup.enter)="sendMessage()" [(ngModel)]="message.content"/>
  
  <button class="btn btn-info sendbtn" (click)="sendMessage()"><img src="./assets/images/send.png"></button>
</div>

    
    

