.chatcontrol{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-animation: slideInUp 1s;
  animation: slideInUp 1s;
}
 
  .chatinput{
    width: 250px;
    z-index: 50;
    border: none;
    border-radius:0;
  }

  .sendbtn{
    max-height: 38px;
    border-radius: 0;
    z-index: 50;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 60px;
  }
  img{
    width: 100%;
  }
  #delete{
    width: 100%;
    color: black;
    background: none;
    border: none;
  }

  mat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 90%;
    background: lightblue;
    border-radius: 50px;
    margin-left: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F34600;
}
mat-icon:hover{
  background: #F34600;
  color: white
}

mat-menu{
  background: none;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  max-height: 38px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 10px 0 0 10px;
  background: white;
}

// écrans

  
  @media screen and (min-width: 500px){

    #mat-icon-button{    
      max-height: 38px;
    }
    .chatinput{
      width:700px;
    }
  }

  // animation
  @-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }


