.marge{
    height: 10vh;
}
.content{
    padding-left: 20%;
    padding-right: 20%;
}
h1{
    background-color: #1BA0F2;
    color: white;
    padding: 2%;
    font-size: 2.3rem;
}
h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #01568d;
}
h3{
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
    color: #484848 !important;
}