<div class="contrat">
    <div class="marge">
    </div>

    <div class="content">
        <div class="title">
            <h1>Contrat de développement d'affaires</h1>
        </div>
        <div class="subtitle">
            <h2>TITRE I – PARTIES AU PRESENT ACTE</h2>
            <p>Les soussignés <br> 
                1.	La société « IANOS », situé au 88bis rue Thomas Dubosc 76000 Rouen représenté par «Bertrand Jegou du Laz», ci-après désigné « L’apporteur d’affaires »  
                D’UNE PART <br><br>
                  
                2.	L'organisme de formation<br><br>
                Ont exposé et convenu ce qui suit : 
            </p>
        </div>
        <div class="subtitle">
            <h2>TITRE II - EXPOSE </h2>
            <p>L’organisme de formation met au point des concepts, des méthodes, et des actions de formation, à partir de ses recherches pluridisciplinaires.  
                Leurs applications peuvent notamment répondre à de nombreux besoins :   
                
                L’organisme de formation cherche à développer ses activités en obtenant de nouveaux marchés en France.  
                Les parties se sont donc rapprochées et ont convenu ce qui suit :                  
            </p>
        </div>
        <div class="subtitle">
            <h2>TITRE III – CONVENTION</h2>
            <h3>Article 1 : Définition</h3>
            <p>L’organisme de formation charge l’apporteur d’affaires d’approcher des entreprises, des salariés, des associations, des artistes et des sportifs, des particuliers en vue de mettre en relation les deux protagonistes.   </p>
            
            <h3>Article 2 : Objet du contrat et mission de l’Apporteur d’affaires  </h3>
            <p>L’organisme de formation confie à l’Apporteur d’affaires, qui accepte, la mission de rechercher des entreprises, des associations, des artistes, des sportifs en vue de la mise en place de contrats de formation ou plus largement l’utilisation de services, d’outils ou d’applications, développé par L’organisme de formation ».  </p>
            
            <h3>Article 3 : Compétence territoriale de l’Apporteur d’affairess  </h3>
            <p>L’Apporteur d’affaires accomplira sa mission de prospection sur l’intégralité du territoire français et à l’étranger.  </p>            
            
            <h3>Article 4 : Durée du contrat  </h3>
            <p>Le présent contrat est conclu pour une durée indéterminée à partir de la date de signature.  </p>
            
            <h3>Article 5 : Obligations des parties  </h3>
            <p>Les parties déclarent expressément qu'elles sont et demeureront, pendant toute la durée du présent contrat, des partenaires commerciaux et professionnels indépendants. L'Apporteur d’affaires s'engage à toujours se comporter vis-à-vis L’organisme de formation, comme un partenaire loyal et de bonne foi, et notamment, à porter sans délai à sa connaissance, tout différend ou toute difficulté qu'il pourrait rencontrer dans le cadre de l'exécution du présent contrat.  </p>
            
            <h3>Article 5-1 : Obligations de l’organisme de formation  </h3>
            <p>L’organisme de formation devra verser à l’Apporteur d’affaires la rémunération suivant les modalités prévues à l’article 9.  Il s’engage à ne pas interférer directement ou indirectement dans la réalisation de la mission menée par l’Apporteur d’affaires.  </p>
            
            <h3>Article 5-2 : Obligations de l’Apporteur d’affaires  </h3>
            <p>L'Apporteur d’affaires ne devra en aucun cas réceptionner des fonds au nom et pour le compte de l’organisme de formation. L'Apporteur d’affaires devra délivrer aux clients démarchés tous documents commerciaux de l’organisme de formation, nécessaires à la démarche.  </p>
            
            <h3>Article 5-3 : Droit à l’image</h3>
            <p>L’organisme de formation autorise la société IANOS à reproduire et exploiter son image ﬁxée dans le cadre de la promotion et la communication de l’entreprise IANOS sur les réseaux sociaux.
                    Cette autorisation emporte la possibilité pour le Photographe Bertrand Jegou du Laz ou ses collaborateurs d’apporter à la ﬁxation initiale de son image toutes modiﬁcations, adaptations ou suppressions qu’il jugera utile. Le Photographe pourra notamment l’utiliser, la publier, la reproduire, l’adapter ou la modiﬁer, seule ou en combinaison avec d’autres matériels, par tous Ies moyens, méthodes ou techniques actuellement connues ou à venir.
                    Cette autorisation est valable pour une utilisation :<br>
                    •	Pour une durée de : 10 ans,<br>
                    •	Sur Ies territoires : monde, tous pays,<br>
                    •	sur tous Ies supports matériels et immatériels, en tous formats connus ou inconnus à ce jour, et notamment, sans que cette liste ne soit exhaustive : support papier (tirages des photographies), catalogues et éditions diverses, CDROM / DVDROM et autres supports numériques connus et inconnus à ce jour, tout support audiovisuel, notamment cinéma, TV et par tous moyens inhérents à ce mode de communication, internet (incluant Intranet, Extranet, Blogs, réseaux sociaux), tous vecteurs de réception confondus (smartphones, tablettes, etc.), médias presse (spots publicitaires télévisuels, spots publicitaires cinématographiques), supports de communication interne, supports promotionnels (PLV, ILV, campagnes d’afﬁchage en tous lieux, toutes dimensions et sur tous supports (urbain, aéroports, gares, transports en commun, etc.)), supports destinés à la vente (produits de merchandising : cartes postales, posters, tee-shirt, etc.), droit d’intégration dans une autre oeuvre / oeuvre multimédia.
                    l’organisme de formation de formation garantis n’être lié(e) par aucun accord avec un tiers, de quelque nature que ce soit, ayant pour objet ou pour effet de limiter ou empêcher la mise en œuvre de la présente autorisation.
                    La présente autorisation d’exploitation de son droit à l’image est consentie à titre gratuit.
                    </p>
            
            <h3>Article 6 : Indépendance de L'Apporteur d’affaires  </h3>
            <p>L'Apporteur d’affaires exerce son activité sans aucun lien de subordination. Il assurera seul les frais liés à son activité et notamment l’ensemble des charges fiscales et sociales liées à l’exercice de celle-ci. L'Apporteur d’affaires supportera personnellement et exclusivement toutes charges sociales et fiscales, auxquelles la perception des commissions résultant des présentes l'assujettirait. Il s'engage à effectuer toute déclaration auprès des organismes et services fiscaux, à se soumettre à tous régimes social et fiscal en résultant, à régler tous impôts, taxes et cotisations dont il sera redevable du fait de la perception de ces commissions.  L'Apporteur d’affaires s'engage à souscrire une police d'assurance garantissant sa responsabilité civile professionnelle pour toutes les activités et obligations découlant du présent contrat. L'Apporteur d’affaires s'engage à maintenir cette police pendant toute la durée du présent contrat et en apporter la preuve sur demande à l’organisme de formation, sur sa demande en lui fournissant une attestation de ses assureurs. Toute modification, suspension ou résiliation de cette police d'assurance, pour quelque cause que ce soit, devra être signalée au àl'organisme de formation dans les plus brefs délais.  </p>
            
            <h3>Article 7 : Confidentialité </h3>
            <p>Au-delà des conditions générales expressément mentionnées ci-dessus, il est encore déclaré par l’organisme de formation et L'Apporteur d’affaires que : <br> 
                    a) L’organisme de formation est propriétaire de techniques, de méthodes et de savoir-faire professionnels, dont certains éléments peuvent être juridiquement protégés alors que d’autres éléments ne sont pas protégés mais préservés par le secret, et souhaite mettre certains de ces éléments à la disposition de L'Apporteur d’affaires afin de lui permettre de commercialiser les prestations auprès des clients, <br>  
                    b) L'Apporteur d’affaires reconnaît la valeur économique importante de ces éléments que l’organisme de formation est disposé à lui dévoiler en toute confiance :  <br>
                        L’apporteur d’affaires s’engage envers L’organisme de formation, qui désire préserver tous ses droits de propriété sur lesdits éléments, à considérer comme ayant reçu sur la base de la confiance accordée, et dès lors à garder par devers lui comme strictement confidentiel tous les éléments, juridiquement protégés ou non, y compris les détails qu’il lui aura été donné de voir ou de recevoir (ci-après « les Informations »). En conséquence de quoi, L'Apporteur d’affaires s’interdit, directement ou indirectement, pendant toute la durée du présent contrat aussi bien qu’après son achèvement, ceci sans limitation de durée :  <br>
                    1. de révéler ou divulguer à quiconque les Informations ;  <br>
                    2. de recopier, reproduire ou faire reproduire ou d’utiliser n’importe laquelle de ces Informations ou celles résultant des travaux effectuées éventuellement en commun, sans l’accord exprès par écrit et préalable de l’organisme de formation  si ce n’est pour l’exécution desdites prestations et s’abstiendra de publier ou d’éditer  sous  n’importe  quelle  forme  et  moyennant  n’importe  quel  procédé  connu ou non, d’exposer, de rendre public dans des conférences ou de diffuser d’une façon générale n’importe laquelle de ces Informations, sans l’accord exprès par écrit et préalable de l’organisme de formation   ;<br>
                     Toute infraction aux dispositions du présent Article entraînera la mise en œuvre d’une procédure conduisant  à la résiliation immédiate du présent contrat et ce sans préjudice de tous dommages et intérêts que de droit.  
            </p>
        
            <h3>Article 8 : Commissions. </h3>
            <p>En rémunération de ses services, l’Apporteur d’affaires recevra de l’organisme de formation une commission dont le montant et les modalités sont fixés de la manière suivante : <br>
                8-1 : 10% HT du contrat signé suite à la mise en relation <br>
                8-2 : IANOS rédige et envoi à l'organisme de formation, la facture liée à la prestation le jour du lancement de cette dernière, conformément à l’article 9. Cette facture fera l’objet d’un règlement dans un délai de 45 jours fin de mois.   
            </p>
            
            <h3>Article 9 : Liberté du commerce et obligation de non-concurrence  </h3>
            <p>Pendant toute la durée du contrat et après cessation du présent contrat, l’apporteur d’affaires reste libre d’effectuer pour son propre compte toute opération commerciale.  </p>
            
            <h3>Article 10 : Résiliation du contrat   </h3>
            <p>1 Le présent Article est applicable aux résiliations anticipées demandées par une Partie  –  ci-après la Partie  résiliente  –  motivée  par  un  manquement de l’autre Partie à l’une quelconque  de ses obligations découlant du présent contrat. Le présent Article ne porte pas préjudice aux actions dont dispose légalement l’une ou l’autre des Parties.  <br>
                2 Le présent contrat pourra être résilié par la Partie résiliente après une mise en demeure notifiée sous pli recommandé avec accusé de réception restée infructueuse pendant un mois précisant le manquement allégué ainsi que la volonté de résilier en application du présent article. <br>
                3 Le présent contrat pourra également être résilié par anticipation en cas de liquidation ou redressement judiciaire de l'une ou l'autre des parties dans les conditions légales et réglementaires en vigueur, et sous réserve, le cas échéant, des dispositions d’ordre public applicables.
            </p>

            <h3>Article 11 : Cessation du contrat  </h3>
            <p>A la fin du contrat, l’apporteur d’affaires s’oblige à restituer à l’organisme de formation tous documents bien et objets qui lui ont été prêtés pour l’accomplissement de sa mission. Quelle que soit la durée du contrat, ou la partie qui a l’initiative de la résiliation, l’Apporteur d’affaires pourra également obtenir le règlement de ses commissions conformément à ce qui est prévu à l’article 9 du présent contrat. Enfin, l’Apporteur d’affaires s’oblige à respecter une obligation de confidentialité consistant à ne pas utiliser, ni divulguer à autrui, les informations et les connaissances acquises sur l’entreprise et les opérations commerciales ou industrielles de l’organisme de formation.  </p>
            
            <h3>Article 12 : Attribution de juridiction   </h3>
            <p>Tous les litiges auxquels le présent contrat pourrait donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites seront soumis au Tribunal de Commerce de Rouen.  </p>
            
            <h3>Article 13 : Election de domicile   </h3>
            <p>Pour l'exécution des présentes et de leurs suites, les parties font élection de domicile à leurs adresses respectives telles qu'indiquées en tête des présentes. En cas de modification, chacune des parties devra en informer l'autre par lettre recommandée avec demande d'avis de réception dans les 8 jours. A défaut toute notification faite à l'adresse indiquée en tête des présentes, sera réputée valablement faite.  </p>

        </div>
        
    </div>
</div>
