body {
 scroll-behavior: smooth;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 min-width: 320px;
}

.app-component{
 display: grid;
 grid-template-rows: 10vh 90vh;
}
.navbar{
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 z-index: 2;
 width: 100%;
 position: absolute;
 padding: 0;
}
.flex-menu button{
    width: 150px;
    text-align: center;
}
.primary-navbar{
 width: 100%;
 height: 100%;
}
.primary-navbar button{
    font-size: 14px;
    color: #484848 !important;
}
.primary-navbar img{
    width: 100px;
}
.menu-mobile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.secondary-navbar{
 background: #03A397;
 width: 100%;
 height: 100%;
}
#logo:hover{
    cursor: pointer;
}
#logo:focus {
    outline:  none;
}
.mat-toolbar{
 background: none;
 height: 10vh;
 border-bottom: 1px solid #e4e4e4;
 padding: 0;
 z-index: 2;
 background: white;
 position: fixed;
}
button:hover{
    border-bottom: 2px solid #00335A;
}
.searchbar{
    background-color: #ffffff !important;
    -webkit-transition: box-shadow 200ms ease-in !important;
    -moz-transition: box-shadow 200ms ease-in !important;
    transition: box-shadow 200ms ease-in !important;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
    height: 48px !important;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 220px;
}
.searchbar img{
    width: 25px;
    margin-right: 10px;
}
.searchbar input{
    background-color: transparent !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
    text-overflow: ellipsis !important;
    font-weight: 800 !important;
    font-size: 14px !important;
    color: #484848 !important;
}
.searchbar input:focus {
    outline:  none;
}

// fenêtre chatbot
.window-chat{
 position: fixed;
 bottom: 0;
 right: 0;
 padding: 10px;
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 justify-content: flex-end;
 height: 100%;
}
.window-chat img{
 width: 30px;
}
.window-chat button{
 background: #F34600;
 border: none;
 border-radius: 50px;
 height: 50px;
 width: 50px;
 right: 0;
 margin: 10px;
}


@media screen and (min-width: 500px) {
    #logo{
        width: 150px;
    }
    .searchbar{
        width: 420px;
    }
}

.fill-remaining-space {
flex: 1 1 auto;
}
