<!-- <bs-navbar (triggerDrawer)="drawer.toggle()" [user]="user" *ngIf="isMobile"></bs-navbar> -->

<div class="app-component">

    <div class="navbar">
        <div class="primary-navbar">
            <mat-toolbar color="primary">

                <!-- <button mat-button [routerLink]="routerLink"> -->
                  <img src="./assets/icons/Logo-IANOS-Official-2.png" ID="logo" routerLink="/">
                <!-- </button> -->
                <div class="searchbar">
                    <img src="./assets/icons/research.svg" (click)="sendMessage(inputMessage.value)">
                    <input #inputMessage (keydown.enter)="sendMessage(inputMessage.value)" placeholder="Essayez 'management à Rouen'" />
                </div>
<!-- menu non connecté -->
                <span class="fill-remaining-space"></span>
                <div fxLayout="row" fxShow="false" fxShow.gt-sm *ngIf="notConnected()">
                    <button mat-button routerLink="/batisseur">Réserver</button>
                    <button mat-button routerLink="/financement">Financement</button>
                    <button mat-button routerLink="/page-entreprise">Responsable formation</button>
                    <button mat-button routerLink="/fournisseur">Déposez vos offres</button>
                    <!-- <button mat-button routerLink="/boite-a-outil">Boite à outil</button> -->
                    <button mat-button routerLink="/blog">Blog</button>
                    <button mat-button (click)="open()">Connexion</button>
                </div>
<!-- menu connecté -->
                <div fxLayout="row" fxShow="false" fxShow.gt-sm *ngIf="connected()" class="flex-menu">
                    <button mat-menu-item routerLink="/profil">Mon profil</button>
                    <button mat-menu-item routerLink="/espace-entreprise" *ngIf="user.role === 'RH'">Espace entreprise</button>

                    <!-- menu déroulant -->
                    <button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">Ma formation
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                    <mat-menu #menu="matMenu" x-position="before">
                        <button mat-menu-item [matMenuTriggerFor]="proposition"
                            *ngIf="propositions[0] && !user.isOrganisme">Propositions</button>
                        <mat-menu #proposition="matMenu">
                            <a mat-menu-item class="dropdown-item" *ngFor="let proposition of propositions"
                                [routerLink]="[ '/proposition', proposition.id ]">{{ proposition.intituleFormation }}</a>
                        </mat-menu>
                        <button mat-menu-item [matMenuTriggerFor]="favorite" *ngIf="favorites[0]">Favoris</button>
                        <mat-menu #favorite="matMenu">
                            <a mat-menu-item class="dropdown-item" *ngFor="let favorite of favorites"
                                [routerLink]="[ '/formation', favorite.fid ]">{{ favorite.intituleFormation }}</a>
                        </mat-menu>
                        <button mat-menu-item [matMenuTriggerFor]="booking" *ngIf="bookings[0]">Réservations</button>
                        <mat-menu #booking="matMenu">
                            <a mat-menu-item class="dropdown-item" *ngFor="let booking of bookings"
                                [routerLink]="[ '/formation', booking.fid ]">{{ booking.intituleFormation }}</a>
                        </mat-menu>
                        <button mat-menu-item [matMenuTriggerFor]="pending" *ngIf="pendings[0]">En cours de validation</button>
                        <mat-menu #pending="matMenu">
                            <a mat-menu-item class="dropdown-item" *ngFor="let booking of pendings"
                                [routerLink]="[ '/formation', booking.fid ]">{{ booking.intituleFormation }}</a>
                        </mat-menu>
                    </mat-menu>

                    <button mat-button routerLink="/organisme/mon-catalogue" *ngIf="user.isOrganisme">Mon
                        catalogue</button>
                    <button mat-button routerLink="/dashboard" *ngIf="user.isOrganisme">Mon
                        dashboard</button>
                    <button mat-button routerLink="/admin/admin-dashboard" *ngIf="user.isAdmin">Dashboard admin</button>
                    <button mat-button (click)="logout()">Déconnexion</button>
                </div>

                <button mat-button [mat-menu-trigger-for]="mobileMenu" fxHide="false" fxHide.gt-sm>
                    <mat-icon>menu</mat-icon>
                </button>

            </mat-toolbar>

 <!-- Menu mobile -->
            <mat-menu #mobileMenu="matMenu">
                <div *ngIf="notConnected()" class="menu-mobile">
                        <button mat-button routerLink="/batisseur">Particulier</button>
                        <!-- <button mat-button routerLink="/page-entreprise">Entreprise</button> -->
                        <button mat-button routerLink="/fournisseur">Organisme de formation</button>
                        <button mat-button routerLink="/blog">Blog</button>
                        <button mat-button routerLink="/connexion">Connexion</button>
                </div>
                <div *ngIf="connected()" class="menu-mobile">

                    <button mat-menu-item routerLink="/profil">Mon profil</button>
                    <button mat-menu-item routerLink="/espace-entreprise" *ngIf="user.role === 'RH'">Espace entreprise</button>
                    <button mat-menu-item [matMenuTriggerFor]="proposition"
                        *ngIf="propositions[0]">Propositions</button>
                    <mat-menu #proposition="matMenu">
                        <a mat-menu-item class="dropdown-item" *ngFor="let proposition of propositions"
                            [routerLink]="[ '/proposition', proposition.id ]">{{ proposition.intituleFormation }}</a>
                    </mat-menu>
                    <button mat-menu-item [matMenuTriggerFor]="favorite" *ngIf="favorites[0]">Favoris</button>
                    <mat-menu #favorite="matMenu">
                        <a mat-menu-item class="dropdown-item" *ngFor="let favorite of favorites"
                            [routerLink]="[ '/formation', favorite.fid ]">{{ favorite.intituleFormation }}</a>
                    </mat-menu>
                    <button mat-menu-item [matMenuTriggerFor]="pending" *ngIf="pendings[0]">En cours de validation</button>
                    <mat-menu #pending="matMenu">
                        <a mat-menu-item class="dropdown-item" *ngFor="let booking of pendings"
                            [routerLink]="[ '/formation', booking.fid ]">{{ booking.intituleFormation }}</a>
                    </mat-menu>
                    <button mat-menu-item [matMenuTriggerFor]="booking" *ngIf="bookings[0]">Réservations</button>
                    <mat-menu #booking="matMenu">
                        <a mat-menu-item class="dropdown-item" *ngFor="let booking of bookings"
                            [routerLink]="[ '/formation', booking.fid ]">{{ booking.intituleFormation }}</a>
                    </mat-menu>
                    <button mat-menu-item routerLink="/organisme/mon-catalogue" *ngIf="user.isOrganisme">Mon
                        catalogue</button>
                    <button mat-menu-item routerLink="/dashboard" *ngIf="user.isOrganisme">Mon
                        dashboard</button>
                    <button mat-menu-item routerLink="/admin/admin-dashboard" *ngIf="user.isAdmin">Dashboard admin</button>
                    <button mat-menu-item (click)="logout()">Déconnexion</button>
                </div>
            </mat-menu>
        </div>
    </div>

    <div class="main">
        <mat-drawer-container [hasBackdrop]="true">

            <!-- <div class="window-chat">
                <app-bot *ngIf="toggleBot" [toggleBot]="toggleBot"></app-bot>
                <button (click)="toggle()" *ngIf="url !== '/bot'"><img src="./assets/icons/chat-bubble.svg"></button>
            </div> -->
            <div class="outlet">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>



        </mat-drawer-container>
    </div>

</div>