<div *ngIf="rhUser">Créateur de la proposition : {{ rhUser.email }}</div>
<div *ngIf="propositionOwner">Créateur de la proposition : {{ propositionOwner.email }}</div>

<br>

<mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange(list)">
  <mat-list-option *ngFor="let member of membersCompany" [selected]="member.isMemberProposition" [value]="member.id">
    {{ member.email }}
  </mat-list-option>
</mat-selection-list>

<mat-form-field>
  <input #guest matInput placeholder="Email de l'invité" (keyup.enter)="addGuest(guest)">
</mat-form-field>
<button mat-button (click)="addGuest(guest)">Ajouter l'invité</button>