.modal-header {
  display: flex;
  justify-content: flex-end;
}
.modal-header button {
  background: #004f7e;
  color: white;
}
.modal-header button:hover {
  background: #f34600;
  cursor: pointer;
}

.modal-title {
  background: #004f7e;
  color: white;
  padding: 2%;
  text-align: center;
}

.reminder ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reminder ul li {
  margin-bottom: 10px;
}

mat-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1rem;
  min-height: 5vh;
  max-height: 5vh;
  margin-bottom: 5px;
  text-align: center;
  width: 70px;
}
mat-chip:hover{
  cursor: pointer;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
}

.modal-footer p{
  font-size: 0.8rem;
  font-style: italic;
}
.modal-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background: #f34600;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  min-height: 5vh;
  max-height: 4vh;
  margin-bottom: 5px;
  text-align: center;
}

.modal-footer button:hover {
  cursor: pointer;
  background: #c73d04;
}

// Calendrier

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

.selected {
  background-color: gray;
  color: white;
}

.range-selected {
  background-color: pink;
  color: white;
}
