<div class="modal-header">
  <button type="button" class="btn btn-light" (click)="close()">Fermer</button>
</div>

<h4 class="modal-title">Merci de choisir les dates qui vous intéressent pour<br>"{{ this.formation.intitule }}""</h4>

<div class="modal-body">

  <ng-container *ngIf="formation.isRythmeSpread; else elseisRythmeSpread">
    <ul>
      <li>Durée de formation : <b>{{ formation.duree }}</b></li>
    </ul>
  </ng-container>
  <ng-template #elseisRythmeSpread>
    <div class="reminder">
      <ul>
        <li>nombre de séance(s): <b>{{ formation.nombreHeures }}</b> </li>
        <li>Durée d'une séance: <b>{{ formation.dureeSeance }} heure</b> </li>
        <li>Période:
          <b *ngIf="formation.isRythmeSpreadMatin"> matin </b>
          <b *ngIf="formation.isRythmeSpreadMidi"> midi </b>
          <b *ngIf="formation.isRythmeSpreadApresMidi"> après-midi </b>
          <b *ngIf="formation.isRythmeSpreadSoir"> soir </b>
        </li>
      </ul>
    </div>
  </ng-template>

  <ngb-datepicker #dp (select)="calendarService.onDateSelection($event)" [displayMonths]="calendarService.displayMonths"
    [dayTemplate]="t" outsideDays="hidden">
  </ngb-datepicker>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="calendarService.isRange(date)"
      [class.faded]="calendarService.isHovered(date) || calendarService.isInside(date)"
      (mouseenter)="calendarService.changeHoveredDate(null)" (mouseleave)="calendarService.changeHoveredDate(null)"
      [class.selected]="calendarService.isSelected(date)"
      [class.range-selected]="calendarService.isRangeSelected(date)">
      {{ date.day }}
    </span>
  </ng-template>

  <div *ngIf="calendarService.stringifyDates()">
    Demander la date du: {{ calendarService.stringifyDates() }}
    <mat-chip color="primary" selected (click)="addDate()">Oui</mat-chip>
    <mat-chip color="warn" selected (click)="calendarService.deleteDate()">Non</mat-chip>
  </div>

  <hr>

  <div *ngFor="let date of dateArray">
    <ng-container *ngIf="date.toDate; else elseDateArray">
      <p>Du {{ calendarService.stringifyDate(date.fromDate) }} au {{ calendarService.stringifyDate(date.toDate) }}</p>
    </ng-container>
    <ng-template #elseDateArray>
      <p>Le {{ calendarService.stringifyDate(date.fromDate) }}</p>
    </ng-template>
  </div>

  <div class="modal-footer" *ngIf="dateArray">
    <p *ngIf="dateArray">Vous êtes sur le point de faire la demande de contact.</p>
    <p *ngIf="dateArray">En cliquant sur le bouton, vous faite la demande de contact. L'organisme de formation sera notifié de votre demande et vous contactera au plus vite.</p>
    <button type="button" class="btn btn-light" (click)="createBooking()" *ngIf="dateArray">Contacter</button>
  </div>

</div>