.carousel{
    display: flex;
    flex-direction: row;
}
.card{
    min-width: 250px;
    width: 250px;
    height: 35vh;
    margin-right: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    border: 2px solid white;
}

.title{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0067a4;
        color: white;
}
.description,
.link{
    padding: 5%;
    text-align: justify;
    font-size: smaller;
}

.link{
    background: #02c8fa;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.link:hover{
    border: 2px solid #F34600;
}
a{
    color: white;
}