<div class="carousel">
  <div class="card" *ngFor="let financement of financements">
    <div class="title">
      {{ financement.id }}
    </div>
    <div class="description">
      {{ financement.description }}
    </div>
    <div class="link">
      <a href="{{ financement.link }}" target="_blank">Lien vers le site</a>
    </div>
  </div>
</div>
