.screen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.chatbot{
    display: grid;
    grid-template-rows: 10vh auto 10vh 60px;
    height: 100vh;
    width: 100%;
    background: #01568d08;
}


// main content
.chat{
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat ul{
    list-style: none;
    padding: 0;
}
.chat img{
    width: 75px;
}
.message-user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // -webkit-animation: fadeInUp 1s;
    // animation: fadeInUp 1s;
}
.message-bot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // -webkit-animation: fadeInUp 1s;
    // animation: fadeInUp 1s;
}
.message-user p{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
  font-size: var(--font-button-small-font-size, 14px) !important;
  line-height: var(--font-button-small-line-height, 22px) !important;
  letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
  font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
  text-transform: var(--font-button-small-text-transform, undefined) !important;
  padding-top: var(--spacing-button-small-vertical, 6px) !important;
  padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
  font-weight: var(--font-book-font-weight, 600) !important;
  border-width: var(--border-button-small-border-width, 1px) !important;
  padding-left: var(--spacing-button-small-horizontal, 15px) !important;
  padding-right: var(--spacing-button-small-horizontal, 15px) !important;
  box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
  background: var(--color-buttons-inverse-color, #03A397) !important;
  border-color: var(--color-buttons-inverse-border, transparent) !important;
  color: var(--color-buttons-inverse-text, #fff) !important;

}
.message-bot p{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
  font-size: var(--font-button-small-font-size, 14px) !important;
  line-height: var(--font-button-small-line-height, 22px) !important;
  letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
  font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
  text-transform: var(--font-button-small-text-transform, undefined) !important;
  padding-top: var(--spacing-button-small-vertical, 6px) !important;
  padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
  font-weight: var(--font-book-font-weight, 600) !important;
  border-width: var(--border-button-small-border-width, 1px) !important;
  padding-left: var(--spacing-button-small-horizontal, 15px) !important;
  padding-right: var(--spacing-button-small-horizontal, 15px) !important;
  box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
  background: var(--color-buttons-inverse-color, #0082d6) !important;
  border-color: var(--color-buttons-inverse-border, transparent) !important;
  color: var(--color-buttons-inverse-text, #fff) !important;
}
.carousel{
    overflow-x: auto;
}

// suggestions
.suggestions{
    display: flex;
    align-items: center;
    overflow-x: auto; 
    overflow-y: hidden; 
    padding-left: 20px;
}
.suggestions button{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
  font-size: var(--font-button-small-font-size, 14px) !important;
  line-height: var(--font-button-small-line-height, 22px) !important;
  letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
  font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
  text-transform: var(--font-button-small-text-transform, undefined) !important;
  padding-top: var(--spacing-button-small-vertical, 6px) !important;
  padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
  font-weight: var(--font-book-font-weight, 600) !important;
  border-width: var(--border-button-small-border-width, 1px) !important;
  padding-left: var(--spacing-button-small-horizontal, 15px) !important;
  padding-right: var(--spacing-button-small-horizontal, 15px) !important;
  box-shadow: -13PX -13px 20px #e9ecef, 13px 13px 20px white;
  background: var(--color-buttons-inverse-color, #ffffff) !important;
  border-color: var(--color-buttons-inverse-border, transparent) !important;
  color: var(--color-buttons-inverse-text, #484848) !important;
  margin-right: 20px;
}
.suggestions button:hover{
  box-shadow: inset 13PX 13px 20px #e9ecef, inset -13px -13px 20px white;
}

// chatbar
.chatbar{
    display: grid;
    grid-template-columns: 10% auto 10% 10%;
    align-items: center;
}
.chatbar input{
    padding-left: 10px;
    border: none;
    color: black;
    height: 80%;
    border-radius: 10px;
    box-shadow: inset -13PX -13px 20px #e9ecef,inset 13px 13px 20px white;
}
.chatbar input::placeholder{
  color: #F26666;
}
.chatbar input:focus{
  outline: none;
}
.chatbar button{
    // background: rgba(1, 86, 141, 0.9);
    border: none;
    font-size: xx-large;
    color: #F34600;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    height: 100%;
    box-shadow: inset -13PX -13px 20px #e9ecef, inset 13px 13px 20px white;
    border-radius: 10px;
}
.chatbar button:hover{
  box-shadow:  13PX 13px 20px #e9ecef,  -13px -13px 20px white;
}

.chatbar img{
  width: 30px;
  padding: 5%;
}
// #vocal{
//   // background: rgba(1, 86, 141, 0.9);
// }


.window{
  height: 100%;
  width: 500px;
  background: white;
  box-shadow: 0 0 10px 0 black, 0 5px 10px 0 rgba(0, 0, 0, 0.2);

}
.reduceSize{
  height: 80vh;
}

// 3 petits points
.logo{
    display: flex;
    height: 10vh;
}
.points {
    display: flex;
    flex-direction: row; 
    list-style: none;
    width: 10%;
    padding-left: 300px;
  }

  
  .rotate{ 
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count:infinite; 
  } 
  
  @keyframes left { 
      0% { 
          transform-origin: center center; 
          transform: rotate(360deg); 
          opacity: 1; 
      } 
      100% { 
          transform-origin: center center; 
          transform: rotate(0); 
          opacity: 1; 
      } 
  } 
  .left { 
      animation-name: left; 
  }
  
  @keyframes right { 
      0% { 
          transform-origin: center center; 
          transform: rotate(-360deg); 
          opacity: 1; 
      } 
      100% { 
          transform-origin: center center; 
          transform: rotate(0); 
          opacity: 1; 
      } 
  } 
  .right { 
      animation-name: right; 
  }
  
  .points img{

    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    animation: loading 3s infinite;
  }
  
    .points img:nth-child(1) {
      animation-delay: 0.2s;  
      width: 10px;
      left:-10px;
  }
  
  .points img:nth-child(2) {
     animation-delay: 0.4s; 
      width: 10px;
  }
  
  .points img:nth-child(3) {
      animation-delay: 0.6s;
      width: 10px;
      right:-10px;
  }
  
  .points img { 
   animation-iteration-count:infinite; 
   animation-timing-function: ease-in;
  }
  
  @keyframes loading {
    0%{
      transform: translateY(0px);
    }
    20%{
      transform: translateY(0px);
    }
    30%{
      transform: translateY(-8px);
    }
    40%{
      transform: translateY(5px);
    }
    50%{
      transform: translateY(-2px);
    }
    60%{
      transform: translateY(2px);
    }
    80%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(0px);
    }
  }



@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  

  @media screen and (min-width: 500px){
    .suggestions{
      display: flex;
      justify-content: center;
    }
    .message-bot{
      margin-left: 300px;
    }
    .message-user{
      margin-right: 300px;
    }
    .chatbar{
      padding-left: 20%;
      padding-right: 20%;
    }
    .chat ul{
      padding-top: 300px;
    }
    .chatbar img{
      width: 50px;
      border-radius: 10px;
      padding: 10%;
    }
  }

  