  <div class="screen" [ngClass]="{'window': toggleBot}">

    <div [ngClass]="{'reduceSize': toggleBot}" class="chatbot">

      <div class="marge"></div>
      <div class="chat" style="padding-top: 10px" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <ul *ngIf="messages">
          <li *ngFor="let message of messages; last as isLast">
            <div class="message-bot" *ngIf="message.isBot">
              <img src="./assets/icons/avatar-ianos.png">
              <p>{{ message.content }}</p>
            </div>

            <div class="message-user" *ngIf="!message.isBot">
              <img src="./assets/icons/cadre.png">
              <p>{{ message.content }}</p>
            </div>
            <div class="logo" *ngIf="isMessageSending && isLast">
              <div class="points">
                <img src="./assets/icons/Point.png">
                <img src="./assets/icons/Point.png">
                <img src="./assets/icons/Point.png">
              </div>
            </div>
            <div class="carousel">
              <carousel [contexts]="message.contexts" [message]="message" [user]="user"
                *ngIf="message.contexts && message.contexts['motCle'] && isLast"></carousel>
              <carousel-financement [message]="message" [user]="user"
                *ngIf="message.intent && message.intent.includes('financement - ') && message.allRequiredParamsPresent && isLast">
              </carousel-financement>
            </div>
          </li>
        </ul>
      </div>

      <div class="suggestions">
        <button (click)="sendMessage(null, suggestion)" *ngFor="let suggestion of suggestions">{{ suggestion }} </button>
      </div>

      <div class="chatbar">
        <button (click)="deleteMessage()" title="Recommencer la conversation"><img src="./assets/icons/delete.svg"></button>
        <input type="text" #inputMessage (keyup.enter)="sendMessage(inputMessage)">
        <button (click)="sendMessage(inputMessage)" title="Envoyer"><img src="./assets/icons/send-button.svg"></button>
        <!-- <button id="vocal" (click)="activateSpeech(inputMessage)" *ngIf="!isSafari" [disabled]="!showSearchButton" title="Démarrer le vocal"><img src="./assets/icons/voice-mic.svg"></button> -->
      </div>

    </div>

  </div>