.text-editor{
    border: 2px solid black;
    border-radius: 10px;
  }
  .toolbar{
    background: #A4C3D8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1%;
  }
  
  .toolbar button{
    width: 60px;
    background: white;
    color: black;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    height: 6vh;
    font-size: smaller;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .toolbar button:hover{
    cursor: pointer;
    background: #aaa;
  }
  .toolbar img{
    width: 20px;
  }
  
  
  .editor{
    white-space: pre-wrap;

    background: white;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-height: 50vh;
    padding: 2%;
  }