<div class="text-editor">
  <div class="toolbar">
    <button class="toolbar" (click)="change('underline', false, '');">S</button>
    <button class="toolbar" (click)="change('italic', false, '');">I</button>
    <button class="toolbar" (click)="change('bold', false, '');">G</button>
    <button class="toolbar" (click)="change('justifycenter', false, '');"><img
        src="./assets/images/center-alignment.png"></button>
    <button class="toolbar" (click)="change('justifyFull', false, '');"><img
        src="./assets/images/justify-paragraph.png"></button>
    <button class="toolbar" (click)="change('justifyLeft', false, '');"><img
        src="./assets/images/aligned-to-the-left.png"></button>
    <button class="toolbar" (click)="change('justifyRight', false, '');"><img
        src="./assets/images/right-alignment.png"></button>
  </div>

  <div class="center">
    <!-- <mat-form-field>
      <input matInput class="editor" contenteditable [innerHTML]="programme" (input)="output($event)">
    </mat-form-field> -->
    <div class="editor" contenteditable [innerHTML]="programme" (input)="output($event)"></div>
  </div>

</div>