<!-- part 1: En tête-->
<div class="content">

  <div class="navbar">
  </div>

  <div class="header">
    <div class="title">
      <h1>Trouvez les meilleures formations professionnelles près de chez vous !</h1>
      <div class="searchbar">
        <img src="./assets/icons/research.svg" (click)="sendMessage(inputMessage.value)">
        <input #inputMessage (keydown.enter)="sendMessage(inputMessage.value)" placeholder="Essayez 'anglais à distance'" />
      </div>
    </div>
    <div class="showcase">
      <img src="./../../../../assets/images/guy.png">
    </div>
  </div>

  <div class="wrapper">
    <ul>
      <li><img src="./../../../../assets/icons/supermarket.svg"><p>Cherchez, comparez, pré-inscrivez vous</p></li>
      <li><img src="./../../../../assets/icons/contact.svg"><p>Recevez contact du prestataire et finalisez votre démarche</p></li>
      <li><img src="./../../../../assets/icons/training.svg"><p>Suivez votre formation</p></li>
    </ul>
  </div>

  <div class="thematiques-lieux">
      <div classe="block-theme">
        <h2>Formations par mots clés</h2>
        <mat-chip-list aria-label="Thématiques">
          <mat-chip routerLink="/formations/ressources%20humaines">Ressources humaines</mat-chip>
          <mat-chip routerLink="/formations/management">Management</mat-chip>
          <mat-chip routerLink="/formations/langue">Langues</mat-chip>
          <mat-chip routerLink="/formations/marketing">marketing</mat-chip>
          <mat-chip routerLink="/formations/web">web</mat-chip>
          <mat-chip routerLink="/formations/projet">Projet</mat-chip>
          <mat-chip routerLink="/formations/adobe">Adobe</mat-chip>
          <mat-chip routerLink="/formations/ventes">Ventes</mat-chip>
          <mat-chip routerLink="/formations/data">Data</mat-chip>
          <mat-chip routerLink="/formations/comptabilité">comptabilité</mat-chip>
          <mat-chip routerLink="/formations/sap">SAP</mat-chip>
          <mat-chip routerLink="/formations/Anglais">Anglais</mat-chip>
          <mat-chip routerLink="/formations/Digital">Digital</mat-chip>
          <mat-chip routerLink="/formations/stress">Gestion du stress</mat-chip>
          <mat-chip routerLink="/formations/word">Word</mat-chip>
          <mat-chip routerLink="/formations/excel">Excel</mat-chip>
          <mat-chip routerLink="/formations/powerpoint">Powerpoint</mat-chip>
        </mat-chip-list>
      </div>
    </div>

  <div class="newsletter">
    <h4>Soyez toujours plus performant dans votre travail !</h4>
    <h4>Créez une alerte et recevez toutes les semaines des offres de formations personnalisées</h4>
    <button (click)="open()">S'inscrire</button>
  </div>


  <div class="propositions"> 
    <div class="wrapper-propositions">

      <!-- Formation Anglais à distance -->
      <div class="training_offers">
        <h2>Les formations professionnelles "<span>Anglais</span>"  à distance sélectionnées par IANOS</h2>
        <div class="trainings_wrapper">
          <div class="carousel">
          <div class="training" routerLink="/formation/xUYieR39Q68p0NpBRaWn/Gymglish----Formation-professionnelle-à-l'anglais">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9W_g9MBJRng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Formation professionnelle à l'anglais</h3>
            <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Gymglish</p></div>
            <div class="modalite"><img src="./../../../../assets/icons/video-player.svg" ID="icon"><p>à distance</p></div>
            
          </div>
          <div class="training" routerLink="/formation/jBi4ML9Ec5bkphl6qNeo/Anglais%20-%203%20mois%20de%20mentorat%20individuel%20à%20distance">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/DXQM5Sy4XU4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
            <h3>Anglais - 3 mois de mentorat individuel à distance</h3>
            <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Ayni</p></div>
            <div class="modalite"><img src="./../../../../assets/icons/video-player.svg" ID="icon"><p>à distance</p></div>
            
          </div>
          <div class="training" routerLink="/formation/btxObTI88J36ticfhZck/FORMATION-ANGLAIS-DES-AFFAIRES">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M2Pv2xO03QA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            <h3>FORMATION ANGLAIS DES AFFAIRES</h3>
            <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Lingueo</p></div>
            <div class="modalite"><img src="./../../../../assets/icons/video-player.svg" ID="icon"><p>à distance</p></div>
           
          </div>
          </div>
        </div>
      </div>

      <!-- Formation marketing à distance -->
      <div class="training_offers">
        <h2>Les formations professionnelles "<span>Marketing</span>" à distance sélectionnées par IANOS</h2>
        <div class="trainings_wrapper">
          <div class="carousel">
            <div class="training" routerLink="/formation/R8ZwUhrxUjEqwzybFeJ4/Maîtriser%20les%20fondamentaux%20de%20Facebook">
              <img src="./../../../../assets/images/facebook.jpg" ID="illustration">
              <h3>Maîtriser les fondamentaux de Facebook</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Bon sens et innovation</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
            </div>
            <div class="training" routerLink="/formation/uMyMqEiIzN4quXYp0hXQ/Réseaux-sociaux-:-Facebook,-Instagram,-Linkedin...">
              <img src="./../../../../assets/images/RS.jpg" ID="illustration">
              <h3 >Réseaux sociaux : Facebook, Instagram, Linkedin...</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Bon sens et innovation</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
            </div>
            <div class="training" routerLink="/formation/k08JUQ675MIJqhWiralk/Mettre-en-place-son-suivi-d'activité-avec-Excel">
              <img src="./../../../../assets/images/tableau-de-bord.jpg" ID="illustration">
              <h3 >Mettre en place son suivi d'activité avec Excel</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Nicolas Carrere</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Formation SAP à distance -->
      <div class="training_offers">
          <h2>Les formations professionnelles "<span>SAP</span>" à distance sélectionnées par IANOS</h2>
          <div class="trainings_wrapper">
            <div class="carousel">
            <div class="training" routerLink="/formation/87H8giPNZ2v6J8XA5W6h/SAP-Consultant%20MM%20-%20Achats%20%28ECC6%2FS4%20HANA%29">
              <img src="./../../../../assets/images/achat.jpg" ID="illustration">
              <h3 >Consultant MM - Achats</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>ERP Consulting</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>70h</p></div>
            </div>
            <div class="training" routerLink="/formation/IoQWxHwAtnoxTKeYFoWr/SAP-%20Consultant%20SD%20-%20Ventes%20%28ECC6%2FS4%20HANA%29">
                <img src="./../../../../assets/images/ventes.jpg" ID="illustration">
              <h3 >Consultant SD - Ventes</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>ERP Consulting</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>70h</p></div>
            </div>
            <div class="training" routerLink="/formation/S853MSXsrHABcMtNMeEt/SAP%20-%20Consultant%20-%20Contrôle%20de%20Gestion%20%28CO%29%20">
                <img src="./../../../../assets/images/wallet.jpg" ID="illustration">
              <h3 >Consultant Contrôle de gestion</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>ERP Consulting</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>70h</p></div>
            </div>
            
          </div>
          <!-- <a href="/bot?message=Formation+management">Voir toutes les formations d'anglais</a> -->
          </div>
        </div>

      <!-- Formation développement personnel à distance -->
      <div class="training_offers">
          <h2>Les formations professionnelles "<span>Développement personnel</span>" à distance sélectionnées par IANOS</h2>
          <div class="trainings_wrapper">
            <div class="carousel">
              <div class="training" routerLink="/formation/51fPKQOboQGIWxwnWZ52/Prise-de-parole-en-public-2">
                <img src="./../../../../assets/images/micro.jpg" ID="illustration">
                <h3 >Prise de parole en public</h3>
                <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>BURGUIERE MARIE-LINE</p></div>
                <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
                <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>20h</p></div>
              </div>
              <div class="training" routerLink="/formation/KqbFh8i4fhGshfQtfm2Z/Gestion-du-stress-et-des-émotions-1">
                <img src="./../../../../assets/images/emotion.jpg" ID="illustration">
                <h3 >Gestion du stress et des émotions</h3>
                <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>BURGUIERE MARIE-LINE</p></div>
                <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
                <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>15h</p></div>
              </div>
              <div class="training" routerLink="/formation/kVoTGEvcTRB6RPmeYL5h/Gérer%20son%20stress%20pour%20performer%20%28spécial%20Covid%29">
                <img src="./../../../../assets/images/rpparole.jpg" ID="illustration">
                <h3 >Gérer son stress pour performer (spécial Covid)</h3>
                <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Humain</p></div>
                <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
                <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>6h</p></div>
              </div>
            </div>
          <!-- <a href="/bot?message=Formation+management">Voir toutes les formations d'anglais</a> -->
          </div>
      </div>

      <!-- Formation Management à distance -->
      <div class="training_offers">
        <h2>Les formations professionnelles "<span>Management</span>" à distance sélectionnées par IANOS</h2>
        <div class="trainings_wrapper">
          <div class="carousel">
            <div class="training" routerLink="/formation/aM2szYKdTKmEQ38jnxBP/Management%20des%20équipes%20%28éligible%20CPF%29">
              <img src="./../../../../assets/images/management.jpg" ID="illustration">
              <h3 >Management des équipes (éligible au CPF)</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>Manitude</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>21h</p></div>
            </div>
            <div class="training" routerLink="/formation/uUrMddcEYpTusxeP3UB3/Formation%20Design%20Thinking%20en%20ligne">
              <img src="./../../../../assets/images/design-thinking.jpg" ID="illustration">
              <h3 >Formation Design Thinking en ligne</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>KLAP</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>32h</p></div>
            </div>
            <div class="training" routerLink="/formation/pCvwm19wLDrXzLfLd4CP/Management-de-l'Urgence">
              <img src="./../../../../assets/images/urgence.jpg" ID="illustration">
              <h3 >Management de l'Urgence</h3>
              <div class="modalite"><img src="./../../../../assets/icons/company.svg" ID="icon"><p>HUMALYS</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/video-call.svg" ID="icon"><p>Visio-conférence</p></div>
              <div class="modalite"><img src="./../../../../assets/icons/clock.svg" ID="icon"><p>24h</p></div>
            </div>
          </div>
        <!-- <a href="/bot?message=Formation+management">Voir toutes les formations d'anglais</a> -->
        </div>
      </div>

    </div>
  </div>
      


<!-- part 5: footer -->
<footer></footer>

<!-- <div *ngIf="!isSafari" class="microphone" [routerLink]="['bot', { vocal: true }]">
        <img src="./assets/icons/voice-mic.svg">
      </div> -->

      <!-- <div class="searchbar">
          <input #inputMessage (keydown.enter)="sendMessage(inputMessage.value)" placeholder="Décrivez votre recherche" />
          <img src="./assets/icons/send-button.svg" (click)="sendMessage(inputMessage.value)">
        </div> -->

</div>