.content{
	display: grid;
	grid-template-rows: 0vh 100vh 20vh 30vh 30vh auto auto;
}


// header
.header{
	display: grid;
	grid-template-rows: 65% 35%;
}
.title{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.showcase{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

h1{
	padding: 2%;
	font-size: 2.3rem;
}
.searchbar{
	background-color: #ffffff !important;
	-webkit-transition: box-shadow 200ms ease-in !important;
	-moz-transition: box-shadow 200ms ease-in !important;
	transition: box-shadow 200ms ease-in !important;
	border: 1px solid #EBEBEB !important;
	border-radius: 4px !important;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
	height: 48px !important;
	display: flex;
	align-items: center;
	padding: 5px;
	margin-top: 20px;
}
.searchbar img{
	width: 25px;
	margin-right: 10px;
}
.searchbar input{
	background-color: transparent !important;
	border: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	height: 100% !important;
	text-overflow: ellipsis !important;
	font-weight: 800 !important;
	font-size: 14px !important;
	color: #484848 !important;
}
.searchbar input:focus {
	outline:  none;
}

// thematiques
.thematiques-lieux{
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 3%;
	flex-direction: column;
}

// wrapper
.wrapper{
	background: #1BA0F2;
}
.wrapper ul{
	list-style: none;
    display: flex;
    flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
    padding: 0;
		margin: 0;
		height: 100%;
		align-items: center;
		max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper ul li{
	width: 300px;
	color: white;
	display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper img{
	width: 50px;
  margin-right: 20px;
}
.showcase img{
	width: 300px;
}

// h4 title

.newsletter{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: #F26666;
	border-radius: 5px;
	margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
		margin-bottom: 25px;
		align-items: center;
}
h4{
	color: white;
    text-align: center;
    font-weight: 800 !important;
    font-size: 16px !important;
}
.newsletter button{
	border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff);
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848);
    width: 200px;
}



// propositions
.propositions{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 3%;
}
.wrapper-propositions{
	max-width: 1200px;
	margin-left: auto;
  margin-right: auto;
}
// part 2 formations management

h2{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #01568d;
}
h3{
	font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
    color: #484848 !important;
}
p{
	font-size: 15px;
	margin: 0;
}
a{
	color: black;
	font-weight: 800;
}
.training{
	width: 320px;
	margin-right: 20px;
	display: grid;
	grid-template-rows: 200px 45px 25px 25px 25px;
	grid-row-gap: 5px;
	margin-bottom: 50px;
	padding: 1%;
  border-radius: 5px;
}
.training:hover{
	cursor: pointer;
	background: #85c8f217;
}
#illustration{
	width: 300px;
	height: 200px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
	border-width: 1px !important;
  border-style: solid !important;
  border-color: rgba(0, 0, 0, 0.02) !important;

}
iframe{
	width: 300px;;
	height: 100%;
}

.modalite{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#icon{
	width: 25px;
	margin-right: 10px;
}

@media screen and (min-width: 500px){
	.content{
		display: grid;
		grid-template-rows: 10vh 35vh 10vh 20vh 20vh auto auto;
	}
// header
.header{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	padding-left: 10%;
  padding-right: 10%;
}
// part trainings offers
.thematiques-lieux{
	max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
		min-width: 1000px;
		display: flex;
    flex-direction: column;
		justify-content: space-evenly;
		padding: 0;
}
.training_offers{
	padding-bottom: 0;
  display: flex;
	flex-direction: column;
	overflow: hidden;
}

.carousel{
	display: flex;
  overflow: auto;
}
.training{
	width: 320px;
	margin-right: 20px;
	box-shadow: 5PX 5px 5px #e9ecef, -13px -13px 20px white;
  border-radius: 10px;
}

// wrapper
.wrapper ul{
	max-width: 1020px;
}



.propositions{
	padding:0;
}

}