<li #chatItem class="list-group-item bot" *ngIf="message.isBot && message.content">
  <!-- <img src="./assets/images/janus.png" class="avatar" /> -->
  <div class="message" style="color:white!important" ID="message-bot" [innerHTML]="message.content | sanitizeHtml">
  </div>
</li>


<ul class="button-suggest" *ngIf="message.content && !list[0] && isLast">
  <div class="button" *ngFor="let button of buttons">
    <button (click)="onSubmit(button)" *ngIf="button"> {{ button }}
    </button>
  </div>
  <div *ngFor="let button of buttonsPlace">
    <button (click)="onSubmit(button)" *ngIf="button && !button._lat">{{ button.ville }}</button>
  </div>
</ul>

<form class="example-form" *ngIf="list[0] && message.content && isLast">
  <mat-form-field class="formFieldWidth480">
    <input matInput type="search" placeholder="{{buttons[0]}}" aria-label="Number" [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" panelWidth=300px>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="onSubmit(option)">
          {{ option | titlecase }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<li #chatItem class="list-group-item user" *ngIf="!message.isBot">
  <div class="message" ID="message-user">
    {{ message.content }}
  </div>
</li>