.message {
  font-size: 16px;
  font-weight: 500;
  color: white;
  font-family: Avenir, sans-serif;
  display: flex;
  align-items: center;
}

.list-group-item {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.timeform {
  float: left;
  width: 100%;
  color: white;

  i {
    margin-left: 20px;
  }

  .timestamp {
    font-size: 0.6em;
  }
}

.user {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}

.profil {
  display: flex;
  flex-direction: column;
}

#message-user {
  background-color: rgb(3, 163, 151);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: rgb(252, 233, 233);
  padding: 1%;
  max-width: 75%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px 0 black, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  min-width: 100px;
}
#message-bot {
  margin-right: 5%;
  margin-top: 5%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white !important;
  padding: 1%;
  max-width: 75%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  background-color: rgb(1, 86, 141);
  box-shadow: 0 0 5px 0 black, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  white-space: pre-line;
}

.bot {
  display: flex;
  flex-direction: row;
}

.button-suggest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 1%;
}
.mat-form-field {
  color: white;
  padding: 0.4375em 0;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.button {
  margin-right: 10px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F34600;
  box-shadow: 0 0 5px 0 black, 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  min-height: 4vh;
  max-height: 5vh;
  margin-bottom: 5px;
  text-align: center;
  border: none;
  width: 100%;
  min-width: 100px;
}

button:hover {
  cursor: pointer;
  border: 2px solid #f34600;
  background: #02c8fa;
}

// ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
//   background-color: white !important;
//   color: white !important
// }

// ::ng-deep .mat-form-field-empty.mat-form-field-label {
//     color: white;
// }

// ::ng-deep .mat-form-field-label {
//   color: white !important;
// }