<div class="entreprise">

  <div class="header">
    <h1>Réservations</h1>
    <p>Vous êtes connecté en tant que </p>
  </div>

  <div class="contacts" *ngIf="user && user.isStagiaire">
    <h2>Vos coordonnées</h2>
    <p>Ces informations ont été transmises à votre prestataire de formation.</p>
    <ul>
      <li>{{ user.prenom }} {{ user.nom }}</li>
      <li>{{ user.email }}</li>
      <li>{{ user.phone }}</li>
    </ul>
    <div class="button" [routerLink]="['/profil']">Modifier</div>
  </div>

  <div *ngIf="booking">
    Une formation est réservée <p *ngIf="booking.dateString"> {{ booking.dateString | parseDateString }}
    </p>
    avec l'utilisateur {{ booking.email }}
  </div>


  <div class="wrapper">
    <card-training [formation]="formation" *ngIf="formation"></card-training>
  </div>

  <div class="options" *ngIf="formation && user && user.isStagiaire">
    <h3>Vos options</h3>
    <p>J'ai effectué cette formation</p>
    <div class="button" (click)="archived()">Archiver la formation</div>
  </div>

</div>