/* Component styles */
.header{
    padding-top: 1%;
    padding-left: 1%;
    font-size: small;
    border-bottom: 1px solid white;
  }
  h1{
    font-size: 1.2rem;
  }
  h2{
    font-size: 1rem
  }
  
  .contacts,
  .introduction{
    font-size: smaller;
    padding: 1%;
  }
  .contacts ul{
    list-style: none;
    padding: 0;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 160px;
    background: #02c8fa;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: smaller;
    min-height: 5vh;
    max-height: 5vh;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .button:hover {
    cursor: pointer;
    border: 2px solid #f34600;
  }
  
  .wrapper{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  card-training{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    max-width: 260px;
    min-height: 50vh;
    max-height: 55vh;
    background: white;
    border-radius: 30px;
    font-size: small;
    margin-right: 20px;
    border: none;
    -webkit-animation: wrapper-card 1s;
    animation: wrapper-card 1s;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .booked{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .booked button{
    background: #f34600;
    border: 2px solid #f34600;
    border-radius: 10px;
    color: white;
    width: 260px;
    margin-top: 10px;
    margin-right: 20px;
  }
  .booked button:hover{
    border: 2px solid #02c8fa;
  }
  @media all and (min-width: 500px){
  
  }