
header{
    padding-top: 10vh;
}

.title{
    font-size: 1.5rem;
    padding: 5%;
}

.content{
    padding: 5%;
    text-align: justify;
}

@media screen and (min-width: 500px){
    .title{
        text-align: center;
    }
}