
<div class="cgu">
  <div class="background">
    <header>
      <h1 class="title">Conditions Générales d'Utilisation</h1>
    </header>
  </div>

  <div class="content">
      <h3>1- EDITEUR DU SITE</h3>
      <p>Le site web www.IANOS.io est édité par la société IANOS SAS (société par actions simplifiées) au capital de 3000 € et immatriculé au Registre du Commerce et des Sociétés de Rouen sous le n°. TVA intracommunautaire 
      Le siège social est situé au 88b rue Thomas Dubosc, 76000 Rouen
      •	Tél: 07 60 32 11 36
      •	Email: b.jegoudulaz@ianos.io
      Le directeur de la publication est Monsieur Jegou du Laz Bertrand
      Le site wew www.IANOS.io est hébergé par Firebase</p>
      <h3>2- DONNEES PERSONNELLES</h3>
      <p>IANOS.io est susceptible d'utiliser vos données personnelles pour le traitement de vos offres achetées. Développer et personnaliser sa communication par l'envoi de lettres ou mails électroniques.
      Le site web www.IANOS.io collecte des informations personnelles relatives aux internautes
      En vertu de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, d'un droit d'opposition, d'un droit de rectification et/ou de suppression pour les renseignements qui vous concernent, que vous seriez susceptible de communiquer dans le cadre de l'utilisation de notre site et des services que IANOS.fr vous propose.
      Vous pouvez exercer ce droit en adressant une demande par courrier électronique à l'adresse : b.jegoudulaz@ianos.io en nous indiquant également vos coordonnées personnelles et adresse postale.</p>
      <h3>3- RESPONSABILITE PROPRIETE INTELLECTUELLE</h3>
      <p>Tous les éléments du site www.IANOS.io sont la propriété de la SAS IANOS. Conformément à l'article L. 122-4 du Code de la propriété intellectuelle, toute représentation, reproduction, traduction, adaptation, en tout ou partie, pour tout usage, autre qu'un usage privé est strictement interdite.
      Conformément aux articles 39 et suivants de la loi n° 78-17 du 6 janvier 1978 modifié en 2004 relative à l'informatique, aux fichiers et aux libertés, toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, en adressant une demande par courrier postal à l'adresse suivante : b.jegoudulaz@ianos.io</p>
      <h3>4- RESPONSABILITE</h3>
      <p>L'internaute reconnaît que la responsabilité de IANOS SAS ne pourra en aucun cas être engagée du fait d'une mauvaise utilisation qu'il pourrait faire du site IANOS.fr.
      IANOS ne garantit pas que le site web www.IANOS.io sera accessible de manière continue. En conséquence, sa responsabilité ne pourra pas en aucun cas être engagée pour cause d'indisponibilité du site web et ce, qu'elle qu'en soit la cause.</p>
      <h3>LIENS HYPERTEXTES</h3>
      <p>L'accord express, écrit et préalable, de IANOS est nécessaire pour la création d'un lien hypertexte renvoyant au site web www.IANOS.fr ou à l'une de ses pages.
      Tout lien hypertexte présent sur le site web www.IANOS.io renvoyant vers d'autres sites web ou tout autre page du réseau internet ne saurait engager la responsabilité de IANOS.</p>
      <h3>COOKIES</h3>
      <p>IANOS souhaite implanter un cookie dans votre ordinateur. Ce cookie enregistrera les informations relatives à votre navigation sur notre site web et stockera les informations que vous aurez saisies durant votre visite sur ledit site, comme par exemple vos heures de visites et les pages que vous avez consultées.
      Cela vous permettra, lors de vos prochaines visites, de ne pas avoir à saisir ces informations une nouvelle fois. Vous pouvez vous opposer à l'enregistrement des cookies en configurant votre navigateur de la manière suivante :
      •	Pour Microsoft Internet Explorer 6.0 et 7.0 :
      1.	Choisissez le menu "Outils",puis "Options Internet"
      2.	Cliquez sur l'onglet "Confidentialité"
      3.	Sélectionnez le niveau souhaité à l'aide du curseur
      •	Pour Microsoft Internet Explorer 5 :
      1.	Choisissez le menu "Outils", puis "Options Internet"
      2.	Cliquez sur l'onglet "Sécurité"
      3.	Sélectionnez "Internet" puis "Personnaliser le niveau"
      4.	Repérez la rubrique "cookies" et choisissez l'option qui vous convient
      •	Pour Netscape 6.X et 7. X :
      1.	Choisissez le menu "Edition">"Préférences"
      2.	Confidentialité et Sécurité
      3.	Cookies
      •	Pour Netscape Communicator 4.X :
      1.	Choisissez le menu "Modifier">"Préférences"
      2.	Cliquez sur l'option "Avancé"
      3.	Rubrique "Cookies"
      •	Pour Opéra 6.0 et au-delà :
      1.	Choisissez le menu "Fichier">"Préférences"
      2.	Vie Privée
      •	Pour Mozilla firefox :
      1.	Choisissez le menu "outil " puis "Options"
      2.	Cliquez sur l'icône "vie privée"
      3.	Repérez le menu "cookie" et sélectionnez les options qui vous conviennent.</p>
      <h3>DÉSINCRIPTIONS AUX NEWLSETTERS</h3>
      <p>Vous pouvez vous désinscrire à tout moment de nos mailings en cliquant sur cette phrase présente dans nos envois: « Vous pouvez vous désabonner à tout moment de notre newsletter en cliquant simplement sur ce lien »</p>
      
  </div>
</div>

<footer></footer>