
<!-- Contenu disponible s'il y a une demande de réservation d'une formation -->
<div class="content" *ngIf="booking && user && formation" #changeClass>
  <!-- Créé une sidebar avec un menu -->
  <mat-drawer #drawer mode="push" class="sidebar">

    <div class="proposition">
      <div class="header">
        <div class="close">
          <mat-icon (click)="drawer.close()">close</mat-icon>
        </div>
        <h1>Validation</h1> 
      </div>
      <!-- permet de valider une proposition ou de la supprimer -->
      <div class="options">
        <button ID="reserver" (click)="book()">Réserver</button>
        <button (click)="deleteBooking()">Supprimer</button>
      </div>


      <div class="validation">
        <!-- montre les membres dans la discussion -->
        <ul *ngFor="let member of booking.members">
          <h2 *ngIf="member">Statut {{ member.email }} {{ member.role }}</h2>
          <li>
            <!-- Validation du thème -->
            <h3>Thème</h3>
            <div class="answer" *ngIf="member">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="member.theme"
                [disabled]="member.id !== user.id" (change)="onChange()">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </li>
          <li>
            <!-- validation de la formation -->
            <h3>Formation proposée</h3>
            <div class="answer" *ngIf="member">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="member.formation"
                [disabled]="member.id !== user.id" (change)="onChange()">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </li>
          <li>
            <!-- validation de la date -->
            <h3>Date</h3>
            <div class="answer" *ngIf="member">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="member.date"
                [disabled]="member.id !== user.id" (change)="onChange()">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </li>
          <li>
            <!-- validation du financement -->
            <h3>Financement</h3>
            <div class="answer" *ngIf="member">
              <mat-radio-group aria-label="Select an option" [(ngModel)]="member.finance"
                [disabled]="member.id !== user.id" (change)="onChange()">
                <mat-radio-button [value]="true">Oui</mat-radio-button>
                <mat-radio-button [value]="false">Non</mat-radio-button>
              </mat-radio-group>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-container class="toggled" [hasBackdrop]="false">
    <!-- espace chat entre les membres de l'entreprises -->
    <div class="discussion">
      <div class="header">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div class="training-bar">
                <div class=training-title>
                  <h1 *ngIf="formation">{{ formation.intitule }}</h1>
                </div>
              </div>
            </mat-expansion-panel-header>
            <!-- membres de l'équipe dans l'espace de discussion -->
            <div class="members">
              <p>Membres de l'équipe ayant accès à l'espace</p>
              <ul>
                <li *ngFor="let membre of members">{{ membre.email }} {{ membre?.role }}</li>
              </ul>
              <div class="button" (click)="openListMember()"><button>Inviter un collaborateur</button></div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="chat" *ngIf="formation && chat" #scrollMe [scrollTop]="scrollMe.scrollHeight">

        <!-- affiche la sidebar pour les validation ci-dessus -->
        <mat-drawer-content class="toggle-button">
          <button mat-raised-button (click)="drawer.toggle()">Validez ensemble</button>
        </mat-drawer-content>

        <div class="wrapper">
          <card-training [formation]="formation"></card-training>
        </div>
        <ul *ngIf="chat.id">
          <!-- affiche les réponses du chat -->
          <li *ngFor="let response of chat.responses">
            <div class="name">
              <h3>{{ response.prenom }} {{ response.nom }}</h3>
              <h4>{{ response.role }}</h4><br>
            </div>
            <div class="text">
              <p>{{ response.message }}</p>
              <button *ngIf="user" (click)="deleteResponse(chat, response)">❌</button>
            </div>
          </li>
        </ul>
      </div>

      <div class="footer">
        <mat-form-field *ngIf="user && chat">
          <input matInput placeholder="Votre réponse" [(ngModel)]="chat.lastResponse" (keydown.enter)="addResponse()">
        </mat-form-field>
      </div>

    </div>

  </mat-drawer-container>
</div>