// inactif
.content{
  display: grid;
  // grid-template-columns: 0 100%;
}
// toggled
.content{
  padding-top: 10vh;
  background: #01568D;
  display: grid;
  // grid-template-columns: 50% 50%;
  grid-area: 
  'proposition'
  'discussion';
  height: 100vh;
}
.sidebar{
  margin-top: 10vh;
  width: 100%;
}

// chat
.discussion{
  display: grid;
  border-right: 1px solid lightgrey;
  height: 90vh;
}
.header{
  font-size: x-small;
}
.header h1{
  font-size: 1rem;
  margin: 0;
}
.header img{
  width: 30px;
}
.header p{
  font-size: small;
  font-style: italic;
  margin: 0;
}
mat-expansion-panel{
  background: aliceblue;
}
.button button{
  border: none;
    background: orange;
    color: white;
    border-radius: 5px;
    height: 3vh;
}
.chat{
  overflow: auto;
  background: white;
}
.chat ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.chat ul li{
  border-bottom: 1px solid lightgrey;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  padding: 2%;
}

mat-drawer-content{
  height: 5vh;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
card-training{
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.text button{
  background: none;
  border: none;
}
h3{
  font-size: 1rem;
  font-weight: bold;
}
h4{
  font-size: 0.8rem;
}
p{
  font-size: 0.8rem;
  margin: 0;
}
.footer{
  background: lightgrey;
  padding-left: 2%;
}



// proposition et validation


.toggled{
  height: 90vh
}
.proposition{
  height: 100%;
  background: aliceblue;
}
.proposition mat-drawer{
  width: 100%;
}
.proposition mat-drawer-content{
  z-index: 3;
}
.proposition h1{
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  padding: 5%;
}
.close{
  background: #F34600;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.close:hover{
  cursor: pointer;
}
.options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.options button{
  width: 150px;
  border: none;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #01568D;
}
#reserver{
  background: #F34600;
}


.validation{
  padding: 2%;
  overflow: auto;
}
.validation ul{
  margin: 0;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid lightgrey;
}
.validation h2{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.validation ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.answer label{
  margin-right: 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


@media screen and (min-width: 500px){
  .sidebar{
    width: 500px;
  }
}