
   <header class="header">
      <div class="background"></div>   
      <div class="card">
         <h1 class="title">Prestataire de formation professionnelle</h1>
         <p>Inscription gratuite !</p>
         <div class="button" mat-menu-item routerLink="/inscriptions">Commencer</div>
      </div>
   </header>

   <div class="content">

      <div class="interests">
         <div class="advantages">
            <!-- <petit-bonhomme></petit-bonhomme> -->
            <h2>Pourquoi s'inscrire et mettre son catalogue sur IANOS:</h2>
            <p>IANOS est une plateforme de mise en relation entre les organismes de formation et les entreprises et personnes prenant l'initiative de se former<br>Voici les avantages de notre plateforme:</p>
            <ul>
               <li><img src="./assets/icons/checked.svg"><p>Accès gratuit</p></li>
               <li><img src="./assets/icons/checked.svg"><p>Publication des offres de formation gratuite</p></li>
               <li><img src="./assets/icons/checked.svg"><p>Gestion du remplissage des séances automatisée</p></li>
               <li><img src="./assets/icons/checked.svg"><p>Visibilité de vos offres auprès d'un public ciblé</p></li>
            </ul>
         </div>
         <div class="tarifs">
            <h2>Nos tarifs</h2>
            <div class="contenu">
               <ul>
                  <li><p>Aucun frais de création de compte</p></li>
                  <li><p>Pas de limite de publication</p></li>
                  <li><p>Prise d'une commission de 10% du montant HT de votre formation lors d'une réservation de votre formation depuis le site ianos.io</p></li>
               </ul>
            </div>
         </div>
      </div> 
   </div> 

   <!-- new timeline -->
   <div class="timeline">
      <h2>Découvrez les étapes de réservation de vos formations professionnelle</h2>
      <div class="description">
         <ul>
         <li>
            <div class="steps">
                  <div class="number">1</div>
               <h3>Créez un compte</h3>
               <p>Inscrivez-vous et remplissez votre profil d'entreprise gratuitement</p>
            </div>
         </li>
         <li>
            <div class="steps">
                  <div class="number">2</div>
               <h3>Remplissez votre catalogue</h3>
               <p>Depuis votre compte, intégrez vos formations gratuitement et sans limite</p>
            </div>
         </li>
         <li>
            <div class="steps">
                  <div class="number">3</div>
               <h3>Appréciez le remplissage de vos séances</h3>
               <p>Depuis votre dashboard, accédez à la liste de vos stagiaires.</p>
            </div>
         </li>
         <li>
            <div class="steps">
               <div class="number">4</div>
               <h3>Validez et contactez vos stagiaires</h3>
               <p>Validez pour découvrir les coordonnées de vos stagiaires et contactez les pour régler les derniers détails avant votre séance</p>
            </div>
         </li>
         <li>
            <div class="steps">
               <div class="number">5</div>
               <h3>Réalisez votre formation</h3>
               <p>C'est le moment tant attendu ! Transmettez votre savoir !</p>
            </div>
         </li> 
      </ul>
      </div>
   </div>

   <footer></footer>
