.header{
  height: 100vh;
  padding-top: 10vh;
}
.background{
	height: 60vh;
  background-image: url('../../../../assets/images/kid.jpg');
	background-repeat: no-repeat;
  background-size: cover;
}


.card{
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.title{
	font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.card p{
  font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
}
.button{
  background: #F34600;
  color: white;
  border-radius: 5px;
  height: 5vh;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-top: 10px;
}
.button:hover{
	cursor:pointer;
  background: #d43d00;
}

p{
  font-size: 16px;
}

// 2ème partie: avantages

.interests{
  display: grid;
  grid-template-rows: auto auto;
}
.advantages{
  padding: 5%;
}
.advantages img{
  width: 20px;
  margin-right: 20px;
}
h2{
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.advantages ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  font-size: larger;
  padding-left: 0;
  margin-top: 50px;

}
.advantages ul li{
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.advantages p{
  margin-bottom: 0;
  text-align: justify;
}
.tarifs{
  background: lightgrey;
  padding-top: 20px;
}
.contenu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.contenu ul li{
  width: 320px;
  font-size: larger;
  margin-bottom: 10px;
}
.contenu img{
  width: 300px;
}

// 3ème partie
.timeline{
  padding: 5%;
  margin-bottom: 25px;
  border-bottom: 1px solid lightgrey;
}
.description ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.number{
  width: 50px;
    height: 50px;
    border: 1px solid #f34600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
h3{
  font-size: 1.2rem;
  font-weight: bold;
}
.steps{
  margin-bottom: 30px;
}
.steps ul{
  list-style: none;
  padding: 0;
}
.steps ul li{
  margin-bottom: 50px;
}

// animation bouton
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@media screen and (min-width: 500px) {
  .header{
    height: 90vh;
  }
  .background{
    position: relative;
    height: 100%;
  }
  .card{
    display: flex;
    flex-direction: column;
    padding: 3%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 30vh;
    right: 15%;
    width: 360px;
  }

  .advantages{
    padding-left: 20%;
    padding-right: 20%;
  }

  .tarifs{
    padding: 5%;
  }
  .tarifs h2{
    padding: 0;
  }

  .timeline{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
  }
  .description{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .description ul li{
    width: 400px;
  }
  .button{
    width: 300px;
  }
}