<!-- espace favoris

<div class="header">
 <h1>Favoris</h1>
 <p>Vous êtes connecté en tant que <u>Responsable des formations</u></p>
 <div class="header" *ngIf="user">
  <p *ngIf="user.isRh">Vous êtes connecté en tant que RH</p>
  <p *ngIf="user.isManager">Vous êtes connecté en tant que Manager</p>
  <p *ngIf="!user.isManager && !user.isRh">Vous êtes connecté en tant que Salarié</p>
</div>
</div>
<div class="introduction">
 <h2>Vous avez placé cette formation en favoris</h2>
 <p>Vous ne vous êtes pas encore engagé auprès de l'organisme de formation.</p>
</div>

<div class="wrapper">
 <div class="favori">
  <h3>Votre formation</h3>
  <card-training [formation]="formation" *ngIf="formation"></card-training>
 </div>

 <div class="options" *ngIf="formation">
  <h3>Vos options</h3>
  <p *ngIf="booking.dateString">Vous avez choisi une formation se déroulant {{ booking.dateString | parseDateString }}
  </p>
  <p>Vous avez fait votre choix, vous savez comment financer cette formation</p>
  <div class="button" (click)="bookTraining()" ID="reserver">Réserver</div>

  <div *ngIf="user.eid && (user.isRh || user.isManager); else elseSalarie">
    <p>Cette formation vous intéresse et vous voudriez la soumettre à vos collaborateurs</p>
    <div class="button" (click)="proposeToMember(memberToPropose)">Proposer</div>
    <mat-select *ngIf="formation" placeholder="Choisir un membre à qui proposer" [(ngModel)]="memberToPropose"
     triggerValue="memberToPropose.email">
     <mat-option *ngFor="let member of members" [value]="member">
      <div *ngIf="member.id !== user.id">{{ member.email }}</div>
     </mat-option>
    </mat-select>
  </div>
  <ng-template #elseSalarie>
      <p>Discuter avec votre RH sur les conditions de cette formation</p>
      <div class="button" (click)="demandToMember(memberToPropose)">Demander</div>
      <mat-select *ngIf="formation" placeholder="Sélectionner votre RH dans cette liste" [(ngModel)]="memberToPropose"
       triggerValue="memberToPropose.email">
       <mat-option *ngFor="let member of members" [value]="member">
        <div *ngIf="member.id !== user.id">{{ member.email }}</div>
       </mat-option>
      </mat-select>
    </ng-template>

  <p>Cette formation n'est pas la bonne</p>
  <div class="button" (click)="deleteBooking(formation)">Supprimer</div>
 </div>
</div> -->