<div class="pageEntreprise">
   <div class="marge"></div>

   <!-- Punchline + bouton -->
   <header class="header">
      <div class="title">
         <h1>Planifiez la formation dans votre entreprise !</h1>
         <button mat-button (click)="open()">Essayer gratuitement !</button>
      </div>
      <div class="illustration">
         <img src="./assets/images/get-session.png" alt="IANOS">
      </div>
   </header>


  <div class="content">
      <div class="advantages">

         <!-- pourquoi s'inscrire -->
        <div class="brief">
            <h2>Pourquoi inscrire son entreprise sur IANOS:</h2>
            <p>La communication interne et la formation des collaborateurs sont des enjeux majeurs pour la réussite d'une entreprise. Sans communication, une incompréhension et un malaise peuvent s'installer. IANOS est un moyen gratuit pour que chaque responsable formation puisse planifier la formation, et que les collaborateurs puissent communiquer avec celui-ci.</p>
        </div>
        <!-- descriptif offre -->
        <div class="userDescriptions">
           <div class="user">
               <img src="./../../../../assets/images/work.svg">
               <h3>Salarié</h3>
               <ul>
                 <li>Informe le service RH de ses besoins et disponibilités</li>
                 <li>Consulte le catalogue des formations</li>
              </ul>
           </div>
           <div class="user">
               <img src="./../../../../assets/images/human ressources.svg">
               <h3>Service RH</h3>
               <ul>
                  <li>Gère le plan de formation</li>
                  <li>Prend contact avec les prestataires de formations</li>
               </ul>
            </div>
        </div>
        <!-- Outil gratuit -->
        <div class="advantageContent">
            <div class="presentation">
               <h3><img src="./assets/icons/checked.svg">Outil collaboratif gratuit</h3><p>Créez gratuitement un compte pour votre entreprise et invitez vos collaborateurs avec une simple adresse email</p>
            </div>
         <img src="./assets/images/addUser.svg">
        </div>
        <!-- Panifier la formation -->
        <div class="advantageContent">
            <img src="./assets/images/onBoarding.svg">
            <div class="presentation">
               <h3><img src="./assets/icons/checked.svg">Planifiez la formation</h3>
               <div>
                  <p>Le responsable formation ainsi que les membres concernés par la formation intègrent des données pour organiser le plan de formation</p>
                  <ul>
                     <li>Membres</li>
                     <li>Besoins en formation</li>
                     <li>Disponibilités</li><li>Financement</li>
                     <li>Formation sélectionnée</li>
                     <li>etc.</li>
                  </ul>
               </div>
            </div>
        </div>
        <!-- Trouver les formations -->
        <div class="advantageContent">
            <div class="presentation">
               <h3><img src="./assets/icons/checked.svg">Trouvez les formations</h3><p>Comparez les formations dans la base de données du site et prenez contact gratuitement avec le prestataire</p>
            </div>
            <img src="./assets/images/booking.svg">
        </div>
        <!-- Communiquer avec les membres -->
        <div class="advantageContent">
            <img src="./assets/images/collaboration.svg">
            <div class="presentation">
               <h3><img src="./assets/icons/checked.svg">Communiquez avec vos collaborateurs</h3><p>Bientôt disponible</p>
            </div>
        </div>

      </div>
   </div>  
    
    
    <!-- new timeline
  <div class="fonctionning">  
    <h2>Concrètement comment cela fonctionne</h2>
    <div class="description">
       
         
            <div class="steps">
                <div class="number">1</div>
               <h3>Créez votre espace-entreprise</h3>
               <p>Créez votre espace à partir d'une simple adresse email et gratuitement !</p>
            </div>
         
         
            <div class="steps">
                <div class="number">2</div>
               <h3>Ajouter les membres</h3>
               <p>Invitez vos collaborateurs à se joindre à votre espace par email.</p>
            </div>
         
         
            <div class="steps">
                <div class="number">3</div>
               <h3>Suggérez des formations</h3>
               <p>transmettez vos propositions de formation à vos collaborateurs et discutez-en via des canaux de communication privés</p>
            </div>
         
         
          <div class="steps">
             <div class="number">4</div>
             <h3>Réservez votre formation</h3>
             <p>Après avoir validé les points clés avec les parties prenantes de votre organisation, réservez votre formation</p>
          </div>
         
         
            <div class="steps">
               <div class="number">5</div>
               <h3>Contractualisation de la prestation</h3>
               <p>Recevez contact de la part du prestataire de formation. Vous finaliserez alors le contrat et le paiement</p>
            </div>
         
      </ul>
      <div class="button" mat-menu-item routerLink="/inscriptions">Créer un espace entreprise</div>
    </div>
   </div> -->
    
</div>
<footer></footer>