.pageEntreprise{
  display: grid;
  grid-template-rows: 10vh 65vh auto;
  grid-row-gap: 15px;
  margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}
.title{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
  font-size: 2rem;
  font-weight: 700;
  color: #01568d;
  padding: 5%;
}
h2{
  font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #01568d;
}
h3{
  padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
button{
  border-radius: var(--border-button-small-border-radius, 4px) !important;
font-size: var(--font-button-small-font-size, 16px) !important;
line-height: var(--font-button-small-line-height, 22px) !important;
letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
text-transform: var(--font-button-small-text-transform, undefined) !important;
padding-top: var(--spacing-button-small-vertical, 6px) !important;
padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
font-weight: var(--font-book-font-weight, 600) !important;
border-width: var(--border-button-small-border-width, 1px) !important;
padding-left: var(--spacing-button-small-horizontal, 15px) !important;
padding-right: var(--spacing-button-small-horizontal, 15px) !important;
box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
background: var(--color-buttons-inverse-color, #F26666);
border-color: var(--color-buttons-inverse-border, transparent) !important;
color: var(--color-buttons-inverse-text, white);
margin-right: 20px;
margin-bottom: 10px;
width: 100%;
height: 50px;
}
.advantages{
  display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 100px;
    padding: 5%;
}
.advantageContent{
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
}
.advantages img{
  width: 320px;
}

.userDescriptions{
  display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}
.user{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-shadow: 5PX 5px 5px #e9ecef, -13px -13px 20px white;
    border-radius: 10px;
    padding: 5%;
}
.user h3{
  text-align: center;
}
.user img{
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  height: 150px;
}
.presentation img{
  width: 25px;
  margin-right: 10px;
}
.illustration img{
  width: 435px;
    }

  

  @media screen and (min-width: 500px) {

    .pageEntreprise{
      display: grid;
      grid-template-rows: 10vh 35vh auto;
    }
    .advantages{
      display: grid;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 150px;
        padding: 0;
    }
    .advantageContent{
      display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 10%;
        grid-row-gap: 0;
    }
    .header{
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;    
    }
    .illustration img{
      width: 525px;
    }
    
  }