<div class="recherche">
  <div class="marge"></div>

  <!-- offres de formation -->

  <div class="content">
     <div class="filtre">
        <div class="filtre-training">

            <form class="block-filtre">
                <h4>Affinez votre recherche en changeant de mot clé</h4>
              <mat-form-field class="example-full-width">
                <input type="text" placeholder="Changer de mot clé" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keydown)="onKeydown($event)" [(ngModel)]="context.motCle">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)='changeKeyword(option)'>{{ option | titlecase }}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>

            <div class="block-filtre">
              <mat-slide-toggle [(ngModel)]="context.certification" (click)="change()">
                Formation certifiante
              </mat-slide-toggle>
            </div>
            
            <div class="block-filtre">
              <h4>Affinez votre recherche en choisissant une modalité</h4>
              <mat-radio-group aria-labelledby="Modalité" class="example-radio-group" [(ngModel)]="context.modalite">
                <mat-radio-button value="présentiel" (click)="change()">Présentiel</mat-radio-button>
                <mat-radio-button value="elearning" (click)="change()">Elearning</mat-radio-button>
                <mat-radio-button value="hybrid" (click)="change()">Hybrid</mat-radio-button>
              </mat-radio-group>
            </div>
           
            
            <div class="block-filtre" *ngIf="context.modalite === 'présentiel'">
              <mat-form-field>
                <input matInput placeholder="Ville" (keydown.enter)="change()" [(ngModel)]="context.ville">
              </mat-form-field>
            </div>
           
            <!-- <div class="motcle">
              motcle
              <mat-chip-list #chipList *ngFor="let motCle of context.motCleArray">
                <mat-chip>
                  {{ motCle }}
                  <mat-icon matChipRemove (click)="deleteKeyword(motCle)" *ngIf="context.motCleArray[1]">X</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div> -->
            
            <!-- <div>Note: <mat-slider thumbLabel step="0.5" min="1" max="5" name="Note"></mat-slider>
            </div>
            <div>Prix: <mat-slider thumbLabel step="100" min="0" max="50000" name="Prix"></mat-slider>
            </div> -->
        </div>
     </div> 

    <div class="block-formation">
      <h1>Formation {{ context.motCle | titlecase }} <span *ngIf="context.ville">à</span> {{ context.ville }}</h1>
      <!-- <div class="filtre" *ngIf="formations[0]" (click)="openChangeContexts()"><button>Filtre</button></div> -->
      <div class="carousel">
          <card-training [formation]="formation" *ngFor="let formation of formations | filterCarousel"></card-training>
      </div>

      <footer></footer> 
    </div>
  </div> 

</div>

