.recherche{
    display: grid;
    grid-template-rows: 10vh auto;
    min-height: 100vh;
}

.content{
    display: grid;
    grid-template-columns: 100%;
}
h1{
    background-color: #1BA0F2;
    color: white;
    padding: 2%;
    font-size: 2.3rem;
}
.carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.filtre{
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1) !important;
    padding: 5%;
}

card-training{
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}
h4{
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}
.block-filtre{
    padding-bottom: 25px;
}
.example-radio-group{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px){
    .content{
        display: grid;
        grid-template-columns: 20% 75%;
        grid-column-gap: 5%;
        margin-right: 5%;
    }

    .block-filtre{
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .carousel{
        display: flex;
        justify-content: space-between;
    }
}