<!-- Page d'explication du concept auprès des personnes cherchant à se former. -->
<!-- Page composée d'une présentation et d'une timeline pour expliquer le process de réservation -->
<header class="header">
   <div class="background"></div>
   <div class="card">
      <h1 class="title">Salarié, demandeur d'emploi, chef d'entreprise, indépendant</h1>
      <div class="button" mat-menu-item routerLink="/inscriptions">INSCRIPTION GRATUITE</div>
   </div>
</header>

<div class="opportunities">
   <div class="main-points">
      <h2>Pourquoi s'inscrire</h2>
      <ul>
         <li><img src="./assets/icons/checked.svg"><p>Réservez la formation de votre choix !</p></li>
         <li><img src="./assets/icons/checked.svg"><p>Tenez-vous informé de vos possibilités de formation et de financement !</p></li>
         <li><img src="./assets/icons/checked.svg"><p>Faites appel à nous pour trouver une formation sur-mesure, gratuitement !</p></li>
      </ul>
   </div>
   <div class="illustration"></div>
</div>

<!-- new timeline -->

<div class="timeline">
   <h2>Etapes de réservation de votre formation professionnelle</h2>
   <div class="description">
      <ul>
         <li>
            <div class="steps">
               <div class="number">1</div>
               <h3>Cherchez et comparez vos formations professionnelles</h3>
               <p>Discutez avec notre chatbot Ianos afin de déterminer la formation professionnelle qui vous correspond le
                  plus.</p>
            </div>
         </li>

         <li>
            <div class="steps">
               <div class="number">2</div>
               <h3>Favoris</h3>
               <p>Placez la formation qui vous intéresse dans vos favoris. Cela ne vous engage pas auprès d'un organisme de
                  formation.</p>
            </div>
         </li>

         <li>
            <div class="steps">
               <div class="number">3</div>
               <h3>Financez votre formation</h3>
               <p>Définissez vos moyens de financement avec l'aide de notre chatbot Ianos. Indiquez lui votre situation professionnelle.</p>
            </div>
         </li>

         <li>
            <div class="steps">
               <div class="number">4</div>
               <h3>Finalisez votre inscription</h3>
               <p>Depuis votre compte Ianos, finalisez votre inscription. En vous inscrivant, vous vous engagez auprès de
                  l'organisme de formation.</p>
            </div>
         </li>

         <li>
            <div class="steps">
               <div class="number">5</div>
               <h3>Prise de contact et réalisation de votre formation</h3>
               <p>L'organisme de formation accède à vos coordonnées et prend contact avec vous afin de régler les derniers
                  détails</p>
            </div>
         </li>
      </ul>
   </div>
</div>

<!-- financing -->
<div class="financing">
   <h2>Financement & Paiement</h2>
   <div class="content">
      <div class="businesswoman"></div>
      <div class="steps">
         <ul>
            <li>
               <h3>Trouvez votre financement</h3>
               <p>Connaitre et trouver les financements auxquels vous avez le droit n'est pas simple.<br>
                  Répondez aux questions que vous pose IANOS. Il vous informera de vos droits selon votre situation !<br><br>
                  #CPF #OPCO #Entreprise #PôleEmploi #CPIR
               </p>
            </li>
      
            <li>
               <h3>Réglez le paiement directement auprès du prestataire de la formation</h3>
               <p>IANOS ne permet pas le paiement depuis le site.<br>
                  Le prestataire vous indiquera lui-même les moyens de paiement lors de la contractualisation.
               </p>
            </li>
         </ul>
      </div>
   </div>
</div>


<footer></footer>