
.header{
  height: 100vh;
  padding-top: 10vh;
}
.background{
	height: 60vh;
  background-image: url('../../../../assets/images/worker.jpg');
	background-repeat: no-repeat;
  background-size: cover;
}
.card{
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.title{
	font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
.button{
  background: #F34600;
  color: white;
  border-radius: 5px;
  height: 5vh;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover{
	cursor:pointer;
  background: #d43d00;
}

// 2ème partie
.opportunities{
  padding: 5%;
  margin-bottom: 25px;
  border-bottom: 1px solid lightgrey;
}
.main-points ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-points ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.main-points img{
  width: 40px;
  margin-right: 20px;
}
p{
  margin: 0;
}
h2{
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.illustration{
  height: 25vh;
  background-image: url('../../../../assets/images/subscription.jpg');
	background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

// 3ème partie
.timeline{
  padding: 5%;
  margin-bottom: 25px;
  border-bottom: 1px solid lightgrey;
}
.description ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.number{
  width: 50px;
    height: 50px;
    border: 1px solid #f34600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
h3{
  font-size: 1.2rem;
  font-weight: bold;
}
.steps{
  margin-bottom: 30px;
}
.steps ul{
  list-style: none;
  padding: 0;
}
.steps ul li{
  margin-bottom: 50px;
}

// financing
.financing{
  padding: 5%;
  margin-top: 25px;
}
.businesswoman{
  height: 25vh;
  background-image: url('../../../../assets/images/businesswoman.jpg');
	background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .header{
    height: 90vh;
  }
  .background{
    position: relative;
    height: 100%;
  }
  .card{
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    align-items: center;
    height: 50vh;
    position: absolute;
    top: 30vh;
    left: 15%;
    width: 360px;
    box-shadow: 0 0 30px 0 black, 0 5px 25px 0 rgba(0, 0, 0, 0.1);
  }

// Partie 1
  .opportunities{
    display: grid;
    grid-template-columns: 47% 47%;
    padding-left: 20%;
    padding-right: 20%;
    grid-column-gap: 6%;
  }
  .illustration{
    height: 100%;
  }

// partie 2
.timeline{
  padding-left: 20%;
  padding-right: 20%;
}
.steps{
  width: 400px;
  margin-bottom: 40px;
}
.description ul{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
h2{
  margin-bottom: 100px;
}


// partie 3
  .financing{
    padding-left: 20%;
    padding-right: 20%;
  }
  .content{
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
  }
  .businesswoman{
    height: 100%;
  }

}