.chatlist{
	width: 100%;
	height: 100%;
	z-index: 50;
	padding-top: 15vh;
	padding-left: 5%;
	overflow-x: auto;
	}
	.entrance{
		display: flex;
    flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
.entrance img{
	width: 200px;
}
	#rond,
	#oeil_droit,
	#oeil_gauche,
	#bouche{
		-webkit-animation: fadeInUp 1s;
		animation: fadeInUp 1s;
	}
	#students-cap{
		-webkit-animation: rotateInDownRight 2s;
		animation: rotateInDownRight 2s;
	}

	

header{
	border-radius: 10px;
	padding: 2%;
	box-shadow: 0 0 5px 0 black, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin-bottom: 10%;
	margin: 1%;
}

.title{
    font-size: 1.3em;
    }

h2{
	font-size: 1.2rem;
}
#style-7::-webkit-scrollbar-track
{

	background-color: #0067A4;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #0067A4;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #02c8fa),
									   color-stop(0.72, #0067A4),
									   color-stop(0.86, #0067A4));
}

.bienvenu{
	display: flex;
	flex-direction: column;
	align-content: center;
	padding-right: 6%;
}

.introduction{
	width: 55%;
	padding: 2%;
	margin-bottom: 1%;
}

.bienvenu ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-left: -30px;
	flex-wrap: wrap;
	-webkit-animation: slideInLeft 1s;
	animation: slideInLeft 1s;
}

.bienvenu ul li{
	padding: 1%;

}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F34600;
	box-shadow: 0 0 5px 0 black, 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	color: white;
	border-radius: 10px;
	min-height: 3vh;
	max-height: 5vh;
	margin-bottom: 5px;
	text-align: center;
	border: none;
	width: 100%;
	font-size: smaller;
	border: 2px solid #F34600;
}
.button:hover{
	cursor: pointer;
	border: 2px solid #01568D;
	background: #F34600;
}
carousel{
	overflow-x: auto;
	margin-bottom: 10px;
}
carousel-financement{
	display: flex;
    flex-direction: row;
}


@media screen and (max-width: 500px){
  .introduction{
		width:100%;
	}
	h1{
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 500px){
	
	.chatlist{
		padding-top: 15vh;
		width: 100%;
		padding-left: 0;
	}
	.entrance{
		display: flex;
		justify-content: initial;
	}
	.bienvenu{
		padding-right: 0;
	}
	.bienvenu ul{
		margin-top: 0;
	}
	h1{
		font-size: 2rem;
	}
	.introduction{
	  width:70%;
	  margin-bottom: 0;
	}
	message-item{
		width: 100%;
	}
	carousel{
		overflow: auto;
	}
	}
	

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


@-webkit-keyframes rotateInDownRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight {
  from {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

