<div class="chatlist" #chatlist id="style-7">
  <ul class="list-group" *ngFor="let message of messages; first as isFirst; last as isLast">
    <div class="bienvenu" *ngIf="isFirst">
      <div class="entrance">
        <img src="./assets/images/Avatar-ianos-web.png">
        <!-- <petit-bonhomme></petit-bonhomme> -->
        <header (click)=focusInput()>
          <h1 class="title">Cherchez, comparez et réservez votre formation professionnelle</h1>
        </header>
      </div>
      <div class="introduction">
        <h2 *ngIf="user && user.displayName">Bonjour {{ user.displayName }}, je suis IANOS</h2>
        <h2 *ngIf="user && !user.displayName && user.email">Bonjour {{ user.email }}, je suis IANOS</h2>
        <h2 *ngIf="!user">Bonjour, je suis IANOS</h2>
        <p>Dites-moi, que cherchez-vous ?</p>
      </div>  
      <ul *ngIf="!this.messages[1]">
        <li><button class="button" (click)="onSubmit('Une Formation pro')" title="Une Formation professionnelle">Une
            Formation pro</button></li>
        <li><button class="button" (click)="onSubmit('Un Financement')" title="Un Financement">Un Financement</button>
        </li>
        <li><button class="button" (click)="onSubmit('Mettre en valeur tes formations')"
            title="Référencer tes formations">Référencer vos formations</button></li>
      </ul>
    </div>
    <carousel [contexts]="message.contexts" [message]="message" [user]="user"
      *ngIf="isRecherche && isLast && message.isBot"></carousel>
    <message-item [message]="message" [isLast]="isLast"></message-item>
    <carousel-financement [message]="message" [user]="user" *ngIf="isFinancement && isLast && message.isBot">
    </carousel-financement>
  </ul>
</div>