// footer
.footer{
	display: grid;
	grid-template-rows: auto auto auto;
	padding: 5%;
}
ul{
	list-style: none;
	padding: 0;
}
a{
	color: black;
}
a:hover{
	cursor: pointer;
}

@media all and (min-width: 500px){
	.footer{
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	}
}