<div class="footer">

    <ul>
      <li><h4>A propos</h4></li>
      <li><a routerLink="/charte">Notre charte de confidentialité</a></li>
      <li><a routerLink="/cgv">CGV</a></li>
      <li><a routerLink="/cgu">CGU</a></li>
      <li><a routerLink="/apport-affaires">Contrat d'apporteur d'affaires</a></li>
      <li><a routerLink="/about">IANOS</a></li>
      <li><a routerLink="/contact">Nous contacter</a></li>
    </ul>

    <ul>
      <li><h4>Ressources</h4></li>
      <!-- <li><a routerLink="/partners">Partenaires</a></li> -->
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/batisseur">Stagiaire</a></li>
      <li><a routerLink="/fournisseur">Organisme de formation</a></li>
      <li><a routerLink="/financement">Financement</a></li>
      <!-- <li><a routerLink="/page-entreprise">Espace entreprise</a></li> -->
    </ul> 

    <ul>
      <li><h4>Suivez-nous</h4></li>
      <li><a rel="noreferrer" href="https://www.facebook.com/IANOS-formation-professionnelle-393532917886066/" aria-label="facebook" target="_blank">Facebook</a></li>
      <li><a rel="noreferrer" href="https://www.linkedin.com/company/ianos-formationpro/about/" aria-label="linkedin" target="_blank">Linkedin</a></li>
      <li><a rel="noreferrer" href="https://twitter.com/ianos_formation?lang=fr" aria-label="twitter" target="_blank">Twitter</a></li>
    </ul>

</div>
