/* You can add global styles to this file, and also import other style files */

@import "./assets/angular-material.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.formFieldWidth480 {
  width: 100%;
}
.mat-form-field {
  width: 100%;
}
// .myCustomModalClass .modal-dialog-container {
//   max-width: 1500px;
// }
.myCustomModalClass .modal-dialog {
  max-width: 1500px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-radio-label {
  display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: 100% !important;
    white-space: unset !important;
}
.mat-radio-label p{
  font-size: 13px !important;
}