<div class="financement">
    <div class="marge">
    </div>

    <div class="header">
        <div class="title">
            <h1>Financez votre formation pour performer dans votre entreprise</h1>
        </div>
    </div>

    <div class="content">
        <div class="tool">
            <h2><img src="./assets/icons/checked.svg">Votre entreprise</h2>
            <p>L'entreprise est le financeur principal de la formation professionnelle en France. Il vous est recommandé de discuter avec le responsable de la formation dans votre structure, des moyens mis à disposition pour que vous puissiez vous développer. <br> Il est à noter que l'entreprise a l'obligation de maintenir l'employabilité de ses salariés.<br>Nous vous invitons à recommander les formations qui vous paraissent intéressante pour vous et l'entreprise.</p>
            <p>Vous êtes salarié dans une entreprise de moins de 50 salariés ? Votre entreprise peut bénéficier d'une aide au financement par son OPCO !</p>
        </div>
        <div class="tool">
            <h2><img src="./assets/icons/checked.svg">Votre OPCO</h2>
            <p>LES OPCO ont pour mission :</p>
            <ul>
                <p><u>D’assurer le financement des contrats d’apprentissage et de professionnalisation, selon les niveaux de prise en charge fixés par les branches professionnelles ;</u></p>
                <br>
                    <p><u>D’apporter un appui technique aux branches professionnelles pour :</u></p>
                <li>Etablir la gestion prévisionnelle de l’emploi et des compétences (GPEC) ;</li>
                <li>Déterminer les niveaux de prise en charge des contrats d’apprentissage et des contrats de professionnalisation ;</li>
                <li>Les accompagner dans leur mission de certification (construction des référentiels de certification qui décrivent précisément les capacités, compétences et savoirs exigés pour l’obtention de la certification visée) ;</li>
                <li>De favoriser la transition professionnelle des salariés, notamment par la mise en œuvre du compte personnel de formation dans le cadre des projets de transition professionnelle.</li>
                <br>
                <p><u>D’assurer un service de proximité au bénéfice des très petites, petites et moyennes entreprises, permettant :</u></p>
                <li>D’améliorer l’information et l’accès des salariés de ces entreprises à la formation professionnelle ;</li>
                <li>D’accompagner ces entreprises dans l’analyse et la définition de leurs besoins en matière de formation professionnelle, notamment au regard des mutations économiques et techniques de leur secteur d’activité</li>
                <br>
                <p>Chaque entreprise est rattachée à une OPCO selon son code APE.</p>
                <p>Retrouvez l'ensemble des informations concernant l'OPCO en <a href="https://travail-emploi.gouv.fr/ministere/acteurs/partenaires/opco" target="_blank">cliquant sur le lien</a></p>
            </ul>
        </div>
        <div class="tool">
            <h2><img src="./assets/icons/checked.svg">Votre CPF</h2>
            <p>Le compte personnel de formation (CPF) est utilisable par tout salarié, tout au long de sa vie active, y compris en période de chômage, pour suivre une formation qualifiante ou certifiante. Le CPF a remplacé le droit individuel à la formation (Dif). Les salariés ne perdent pas les heures acquises au titre du Dif. Ils doivent les intégrer au CPF avant le 31 décembre 2020 pour les conserver.</p>
            <p>Le CPF est alimenté automatiquement au début de l'année qui suit l'année travaillée (ainsi les droits acquis en 2019 seront disponibles au 1er trimestre 2020). Les droits restent acquis même en cas de changement d'employeur ou de perte d'emploi.</p>
            <p><a href="https://www.moncompteformation.gouv.fr/espace-prive/html/#/" target="_blank">Payez votre formation avec votre CPF</a></p>
        </div>
        <div class="tool">
            <h2><img src="./assets/icons/checked.svg">Pôle Emploi</h2>
            <p>Selon votre situation professionnelle, Pôle Emploi peut prendre en charge, tout ou partie de votre formation.</p>
            <p>Son rôle 1er est de prendre en charge le financement des demandeurs d'emploi mais cette structure peut également financer votre formation si vous souhaitez vous reconvertir.</p>
            <p>Nous vous invitons si c'est le cas, à prendre contact avec le Pôle Emploi près de chez.</p>
        </div>
    </div>
</div>