<div *ngIf="!fromDate">
  <ngb-datepicker #dp (select)="calendarService.onDateSelection($event)" [displayMonths]="calendarService.displayMonths"
    [dayTemplate]="t" outsideDays="hidden">
  </ngb-datepicker>

  <ng-template #t let-date let-focused="focused">
    <span class="custom-day" [class.focused]="focused" [class.range]="calendarService.isRange(date)"
      [class.faded]="calendarService.isHovered(date) || calendarService.isInside(date)"
      (mouseenter)="calendarService.changeHoveredDate(null)" (mouseleave)="calendarService.changeHoveredDate(null)"
      [class.selected]="calendarService.isSelected(date)"
      [class.range-selected]="calendarService.isRangeSelected(date)">
      {{ date.day }}
    </span>

  </ng-template>
</div>

<div *ngIf="calendarService.stringifyDates()">
  Proposer une formation du: {{ calendarService.stringifyDates() }} ?
  <mat-chip color="primary" selected (click)="addDate()">Oui</mat-chip>
  <mat-chip color="warn" selected (click)="calendarService.deleteDate()">Non</mat-chip>
</div>

<p *ngFor="let session of sessions">
  <ng-container *ngIf="session.startDate; else elseStartDate">
    {{ session.startDate.seconds*1000 | date:'dd MMMM yyyy' }}
  </ng-container>
  <ng-template #elseStartDate>
    {{ session.dateString | parseDateString }}
  </ng-template>
  <input placeholder="Nombre de places totales" [(ngModel)]="session.nombrePlaceTotal" name="nombrePlaceTotal" />
  <input class="btn" (click)="updateSession(session)" value="Modifier">
  <input class="btn" (click)="deleteSession(session)" value="Supprimer">
</p>