// Calendrier

.custom-day {
 text-align: center;
 padding: 0.185rem 0.25rem;
 display: inline-block;
 height: 2rem;
 width: 2rem;
}

.custom-day.focused {
 background-color: #e6e6e6;
}

.custom-day.range, .custom-day:hover {
 background-color: rgb(2, 117, 216);
 color: white;
}

.custom-day.faded {
 background-color: rgba(2, 117, 216, 0.5);
}

.selected {
 background-color: gray;
 color: white;
}

.range-selected {
 background-color: pink;
 color: white;
}

mat-chip{
 display: flex;
 justify-content: center;
 align-items: center;
 border-bottom-right-radius: 30px;
 border-bottom-left-radius: 30px;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
 font-size: 1rem;
 min-height: 5vh;
 max-height: 5vh;
 margin-bottom: 5px;
 text-align: center;
 width: 70px;
}

.modal-footer{
 display: flex;
 justify-content: center;
}
.modal-footer button{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 80%;
 background: #02c8fa;
 color: white;
 border-bottom-right-radius: 30px;
 border-bottom-left-radius: 30px;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
 font-size: 1rem;
 min-height: 7vh;
 max-height: 7vh;
 margin-bottom: 5px;
 text-align: center;
}

.modal-footer button:hover{
 cursor:pointer;
 border: 2px solid #F34600;
}

.btn:hover {
 cursor: pointer;
}