/* Component styles */
header{
	border: solid;
	border-color: white;
	border-radius: 30px;
	padding: 2%;
    box-shadow: 0 0 20px 0 #0067A4, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 10%;
    margin: 5%;
}
.title{
    color: white;
    font-size: 2em;
    }
// card
.organisme,
.stagiaire{
	padding: 2%;
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card{
    display: flex;
	flex-direction: column;
	font-size: small;
	text-align: center;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
}
h5{
	border-bottom: 0.5px solid;
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	font-size: 1rem;
}
.information{
	height: 10vh;
	display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.information ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style:none;
	margin-left:0;
	padding-left:0;
	margin-bottom: 0;
	padding-left: 2%;
	padding-right: 2%;
}
.information ul li{
	display: flex;
	align-content: flex-end;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style:none;
	margin-left:0;
	padding-left:0;
	margin-bottom: 0;
	background: #17a2b8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 5vh;
}
.button{
	width: 100%;
	color: white;
}
.trait{
	background: white;
	width: 2px;
	height: 5vh;
}
a{
	color: white;
}

@media all and (min-width: 500px){
	h5{
	border-bottom: 0.5px solid;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
	}
	.information{
		height: 5vh;
	}
	.card{
		margin-right: 10px;
		width: 600px;
	}
}