
    <header>
      <h1 class="title">Mes factures</h1>
    </header> 
  
  <!-- Organisme -->
    <div class="organisme">
      <div class="card">
        <div>
          <h5>Titre</h5>
        </div>
        <div class="information">
          <ul>
            <li>Date: 15/12/2019</li>
            <li>Nombre d'inscription: 5/20</li>
            <li>Modalité: Présentiel</li>
            <li>Durée: 14h</li>
          </ul>
        </div>
        <div class="footer">
          <div class="button">
            <a class="nav-link" routerLink="/facture">Facture</a>
          </div>  
        </div>
      </div>  
    </div>