<div class="contact">

  <div class="header">
      <button (click)="close()" *ngIf="showButton">X</button>
      <ng-template #gap></ng-template>
  </div>

  <div class="container">
    <form id="contact" action="" method="post">
      <ng-container *ngIf="formationNonTrouvee; else elseTemplate">
        <h3>Nous n'avons pas trouvé la formation qui vous plaît mais nous pouvons chercher pour vous</h3>
      </ng-container>
      <ng-template #elseTemplate>
        <h3>Contact</h3>
      </ng-template>

      <mat-radio-group [(ngModel)]="choice" name="choice">
        <mat-radio-button value='autre'>J'aimerais vous contacter.</mat-radio-button>
        <mat-radio-button value='formation'>Je ne trouve pas ma formation idéale.</mat-radio-button>
        <mat-radio-button value='test'>Donner son avis sur le site.</mat-radio-button>
      </mat-radio-group>

      <input placeholder="Prénom Nom" type="text" required autofocus [(ngModel)]="user.displayName" name="displayName">
      <input placeholder="Votre adresse email" type="email" required [(ngModel)]="user.email" name="email">

      <mat-divider>
      </mat-divider>

      <span [ngSwitch]="choice">

        <p *ngSwitchCase="'formation'">
          <input placeholder="Numéro de téléphone" type="tel" required [(ngModel)]="user.phone" name="phone">
          <mat-radio-group [(ngModel)]="context.modalite" name="modalite" placeholder="Modalité">
            <mat-radio-button value="Présentiel">Présentiel</mat-radio-button>
            <mat-radio-button value="Elearning">Elearning</mat-radio-button>
            <mat-radio-button value="Hybrid">Hybrid</mat-radio-button>
          </mat-radio-group>
          <input *ngIf="context.modalite && context.modalite !== 'Elearning'" placeholder="Ville où vous souhaitez faire votre formation" type="text" required
          [(ngModel)]="context.motCle" name="intitule">
          <input placeholder="Titre de la formation recherchée" type="text" required [(ngModel)]="context.motCle" name="intitule">
          <textarea placeholder="Autres informations sur votre formation idéale : " tabindex="5" required
            [(ngModel)]="message" name="message"></textarea>
        </p>

        <div *ngSwitchCase="'test'">
          <br>
          Je test sur :
          <mat-radio-group aria-label="" [(ngModel)]="reviewWebsite.device" name="device">
            <mat-radio-button value="phone">Téléphone</mat-radio-button>
            <mat-radio-button value="computer">Ordinateur</mat-radio-button>
          </mat-radio-group>

          <br>
          <mat-divider></mat-divider>

          <a style="color:white" href="https://ianos.io/batisseur" target="_blank">Donnez votre impression de la page
            stagiaire</a>
          <br>

          Clareté de la page :
          <mat-slider thumbLabel step="0.5" min="1" max="5" [(ngModel)]="reviewWebsite.markStagiaire"
            name="markStagiaire">
          </mat-slider>

          <br>
          <mat-divider></mat-divider>

          <a style="color:white" href="https://ianos.io/bot" target="_blank">Tester le chatbot lien ici : Vers le
            chatbot</a>
          <br>
          Facilité d'utilisation du robot
          <mat-slider thumbLabel step="0.5" min="1" max="5" [(ngModel)]="reviewWebsite.markChatbot" name="markChatbot">
          </mat-slider>

          J'ai trouvé la formation qui me convient :
          <br>
          <mat-radio-group aria-label="" [(ngModel)]="reviewWebsite.foundTraining" name="foundTraining">
            <mat-radio-button [value]="true">Oui</mat-radio-button>
            <mat-radio-button [value]="false">Non</mat-radio-button>
          </mat-radio-group>

          <input *ngIf="reviewWebsite.foundTraining == false" placeholder="Que cherchiez vous ?" type="text" required
            [(ngModel)]="context.motCle" name="intitule">

          <br><br>
          <textarea placeholder="Avez vous des suggestions sur le chatbot ? " required
            [(ngModel)]="reviewWebsite.chatbotMessage" name="chatbotMessage"></textarea>

          <br><br>

          Impression générale du site :
          <mat-slider thumbLabel step="0.5" min="1" max="5" [(ngModel)]="reviewWebsite.markWebsite" name="markWebsite">
          </mat-slider>
          <textarea placeholder="Votre impression générale ici : " required [(ngModel)]="message"
            name="message"></textarea>
        </div>

        <p *ngSwitchCase="'autre'">
          <textarea placeholder="Écrivez votre message ici..." tabindex="5" required [(ngModel)]="message"
            name="message"></textarea>
        </p>
      </span>

      <button name="submit" type="submit" id="contact-submit" (click)="submit()" data-submit="...Sending">Envoyer</button>

    </form>
  </div>
</div>