// modal carousel
.form{
    display: flex;
    justify-content: center;
    min-height: 95vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    background: #004F7E;
    color: white;
    border-bottom: 1px solid white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    background: #004F7E;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.video{
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    background: white;
    font-size: small;   
}

.objectives,
.program,
.requirement,
.public{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h5{
    color: black;
    padding: 2%;
    text-align: center;
    width: 90%;
    border-bottom: 1px solid #004F7E;
}
p{
    width: 90%;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
}
.about{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    height: 20vh;
    border-top: 0.5px solid;
}
.about ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
.about ul li {
    margin-bottom:15px;
}

.public{
    padding-bottom: 5%;
}

.share{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
}
.share ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
}
.share ul:hover{
    cursor: pointer;
}
img{
    width: 50px;
}

.footer{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 300px;
    background: #02c8fa;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 1rem;
    min-height: 7vh;
    max-height: 7vh;
    margin-bottom: 5px;
}
.button:hover{
    cursor:pointer;
    border: 2px solid #F34600;
}

@media screen and (min-width: 736px){
    .content{
        width: 1000px;
        border-radius: 30px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .button{
        min-width: 100px;
        height: 10vh;
    }

}

// training_card

.training_card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    min-width: 300px;
    max-width: 300px;
    max-height: 50vh;
    min-height: 50vh;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    box-shadow: 0 0 5px 0 #0067A4, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: small;
    margin-bottom: 20px;
    -webkit-animation: zoomIn 0.5s;
    animation: zoomIn 0.5s;
}
.training_title{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 7vh;
    max-height: 7vh;
    font-weight: bold;
}
.training_content{
    width: 100%;
    min-height: 25vh;
    max-height: 25vh;
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
    overflow: hidden;
}
.training_content p{
    margin-top: 5px;
    margin-bottom: 1rem;
    min-height: 23vh;
    max-height: 23vh;
}
.training_about{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    height: 8vh;
    margin-bottom:3%;
    font-weight: bold;
}
.training_about ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
.training_about ul li {
    margin-bottom:15px;
}

.training_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: #17a2b8;
    color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 1rem;
    min-height: 5vh;
    max-height: 5vh;
}
.training_button:hover{
    cursor:pointer;
    background: #F34600;
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}
.sidebar ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
