<!-- 

<div class="header">
    <h1>Demandes</h1>
    <p>Vous êtes connecté en tant que <u>responsable des formations</u></p>
  </div>
  <div class="members">
    <h2>Membres de l'équipe ayant accès à l'espace</h2>
    <ul>
      <li *ngFor="let membre of members">{{ membre.email }} {{ membre.role }}</li>
    </ul>
    <div class="button">Inviter un collaborateur</div>
  </div>

  <div class="content" *ngIf="formation">
    <div class="proposition">
      <card-training [formation]="formation"></card-training>
    </div>
    <div class="chat">

      {{ chat.email }}
      <br> {{ chat.comment }}
      <br> {{ chat.dateCreated | date:fullDate }}
      <br>
      <br>
      <ul *ngIf="chat.id">
        <li *ngFor="let response of chat.responses">
          {{ response }}
          <button *ngIf="user" (click)="deleteResponse(chat, response)">❌</button>
        </li>
      </ul>
      <mat-form-field *ngIf="user && chat.id">
        <input matInput placeholder="Votre réponse" [(ngModel)]="chat.lastResponse"
          (keydown.enter)="addResponse(chat)">
      </mat-form-field>
      <mat-form-field *ngIf="!chat.id">
        <input matInput placeholder="Mettre un commentaire au sujet de la formation" [(ngModel)]="chat.comment"
          name="comment" (keydown.enter)="addComment()">
      </mat-form-field>
    </div>
  </div>

<card-training [formation]="formation" *ngIf="formation"></card-training> -->
