.header{
    padding-top: 1%;
    padding-left: 1%;
    font-size: small;
    border-bottom: 1px solid white;
  }
  h1{
    font-size: 1.2rem;
  }
  h2{
    font-size: 1rem
  }
  
  .members{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 1%;
    padding-left: 1%;
  }
  .members ul{
    list-style: none;
    padding: 0;
    font-size: small;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 160px;
    background: #02c8fa;
    color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: smaller;
    min-height: 5vh;
    max-height: 5vh;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .button:hover {
    cursor: pointer;
    border: 2px solid #f34600;
  }
  
  .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .proposition{
    width: 48%;
    background: none;
    display: flex;
    justify-content: center;
  }
  .chat{
    width: 48%;
    background: none;
    padding: 3%;
  }
  
  card-training{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    max-width: 260px;
    min-height: 50vh;
    max-height: 55vh;
    background: white;
    border-radius: 30px;
    font-size: small;
    margin-right: 20px;
    border: none;
    -webkit-animation: wrapper-card 1s;
    animation: wrapper-card 1s;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .buttons{
    display: flex;
    justify-content: baseline;
    padding: 1%;
    padding-bottom: 5%;
  }
  
  .chat ul{
    list-style: none;
    padding: 0;
  }
  .chat button{
    background: none;
    border: none;
  }
  