// fiche stagiaire
.stagiaire{
  font-size: smaller;
    background: white;
    border-radius: 5px;
    width: 320px;
    min-height: 25vh;
    border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff) !important;
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848) !important;
    margin-right: 20px;
    display: grid;
    grid-template-rows: 5vh 15vh 10vh;
}
h3{
  font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;
    color: #484848 !important;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  padding: 5%;
  text-align: justify;
}
.validation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.validation button {
  border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    background: var(--color-buttons-inverse-color, #ffffff) !important;
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    color: var(--color-buttons-inverse-text, #484848) !important;
}
@media all and (min-width: 500px) {
  .background {
    height: 100%;
    padding-top: 0;
  }
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

