<div class="stagiaire">
  <div class="title"><h3>{{ user?.prenom }}</h3></div>
  <div class="about"> 
    <p>Téléphone: {{ user?.phone }}</p>
    <p>Email: {{ user?.email }}</p>
  </div>
  <div class="validation">
    <button (click)="submitInscription()"><a>Valider la réservation</a></button>
  </div>
</div>
