<div class="company" *ngIf="company">

  <!-- <div class="background"></div>

  <div class="presentation">
    <div class="header">
      <h2 class="title">Espace entreprise</h2>
    </div>
    <div class="content">
      <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nom de l'entreprise" [(ngModel)]="company.name"
                name="displayName">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <textarea rows="5" class="form-control" placeholder="Présentation" [(ngModel)]="company.presentation"
                name="presentation" id="presentation"></textarea>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="SIRET" [(ngModel)]="company.siret" name="siret">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" [(ngModel)]="company.email" name="email">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Téléphone" [(ngModel)]="company.phone" name="phone">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input id="test" type="text" class="form-control" placeholder="Adresse postale"
                [(ngModel)]="company.adress" name="adress">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Ville" [(ngModel)]="company.town" name="town">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pays" [(ngModel)]="company.state" name="state">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Code postale" [(ngModel)]="company.cp" name="cp">
            </div>
          </div>
          <div class="buttons">
            <div class="button" (click)="updateCompany()">Mettre à jour</div>
            <div class="clearfix"></div>
            <div class="button" (click)="deleteCompany()">Supprimer le compte</div>
          </div>
        </div>
      </form>
    </div>
  </div> -->

  
  <!-- <div class="members" *ngIf="members && company">
    <div class="top">
      <h2>Membres de l'entreprise</h2>
      <input type="email" placeholder="email de la personne à inviter" name="emailToInvite" #emailToInvite><button
        (click)="sendInviteEmail(emailToInvite)">Inviter</button>
    </div>
    <div class="wrapper">

      <div class="card" *ngFor="let member of members">
        <div class="delete" *ngIf="user.role !== 'Salarié'">
          <button (click)="removeFromCompany(member)">X</button>
        </div>
        <ul>
          <li ID="name"><b>{{ member.prenom }} {{ member.nom }}</b></li>
          <li>{{ member.function }}</li>
          <li>{{ member.company }}</li>
          <li>{{ member.email }}</li>
          <li>{{ member.phone }}</li>
          <li>
            <mat-select *ngIf="user.role !== 'Salarié'" placeholder="Rôle" [(ngModel)]="member.role" name="role" (selectionChange)=changeRole(member)>
              <mat-option value="Salarié">Salarié</mat-option>
              <mat-option value="RH">RH</mat-option>
              <mat-option *ngIf="user.role !== 'Salarié'" value="Manager">Manager</mat-option>
            </mat-select>
            <div *ngIf="user.role === 'Salarié'">{{ member.role }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="marge"></div>

  <div class="fullContent">

    <!-- tableau -->
    <div class="content">

      <div class="header">
        <h1>{{ user.company }}</h1>
      </div>
      <!-- datas -->
      <!-- <div class="analytics">
          <div class="round">
            <h3>{{ numMember }}</h3>
            <p>Nombre de salarié </p>
          </div>
          <div class="round">
            <h3>{{ getAvarageDuration() }}</h3>
            <p>Durée moyenne de formation</p>
          </div>
          <div class="round">
            <h3>{{ getTotalCost() }}</h3>
            <p>Coût total</p>
          </div>
          <div class="round">
            <h3>{{ getAvarageCost() }}</h3>
            <p>Cout moyen de la formation</p>
          </div>
          <div class="round">
            <h3>{{ numMember }}</h3>
            <p>Financement interne + %</p>
          </div>
          <div class="round">
            <h3>{{ numMember }}</h3>
            <p>Financement externe+ %</p>
          </div>
      </div> -->
      
      <!-- tableau -->
      <div class="planDeFormation" *ngIf="members && company">    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
              <ng-container matColumnDef="change">
                <th mat-header-cell *matHeaderCellDef ID="change"> Détail </th>
                <td mat-cell *matCellDef="let member">
                  <button mat-icon-button ID="modify" matTooltip="Afficher le détail de ce membre">
                    <mat-icon (click)="open(member)">open_in_new</mat-icon>
                  </button> </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef ID="delete"> Supprimer membre </th>
                  <td mat-cell *matCellDef="let member">
                    <button mat-icon-button>
                    <mat-icon (click)="removeFromCompany(member)">delete</mat-icon>
                    </button>
                  </td>
              </ng-container>

              <!-- <ng-container matColumnDef="messenger">
                <th mat-header-cell *matHeaderCellDef ID="messenger" mat-sort-header> Envoyer un message </th>
                <td mat-cell *matCellDef="let member">
                  <button mat-icon-button color="warn">
                  <mat-icon (click)="openDialog(member)">favorite</mat-icon>
                  </button>
                </td>
              </ng-container> -->

              <ng-container matColumnDef="trainingPriority">
                <th mat-header-cell *matHeaderCellDef> Priorité </th>
                <td mat-cell *matCellDef="let member"> {{member.trainingPriority}} </td>
              </ng-container>
              
              <ng-container matColumnDef="membre">
                <th mat-header-cell *matHeaderCellDef> Membre </th>
                <td mat-cell *matCellDef="let member"> {{ member.prenom }} {{member.nom}}</td>
              </ng-container>

              <ng-container matColumnDef="function">
                <th mat-header-cell *matHeaderCellDef> Fonction </th>
                <td mat-cell *matCellDef="let member"> {{ member.function }}</td>
              </ng-container>

              <ng-container matColumnDef="need">
                  <th mat-header-cell *matHeaderCellDef> Besoin en formation </th>
                  <td mat-cell *matCellDef="let member"> {{member.need}} </td>
                </ng-container>
            
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- to do list -->
      <!-- <toDolist></toDolist> --> 
    </div>

    <!-- permet d'inviter les membres de l'entreprise -->
    <div class="rightPanel">
      <div class="invitation">
        <h2>Inviter des membres de l'entreprise</h2>
          <p>*Pour intégrer et planifier la formation de nouveaux membres, veuillez inviter vos collaborateurs en indiquant ci-dessous leurs adresses email.</p>
          <p>*Une fois un collaborateur intégré, vous pourrez modifier ses informations concernant sa formation dans le tableau.</p>
          <p>*Le collaborateur présent pourra également intégrer ses propres informations depuis son profil pour vous aider à construire le plan de formation.</p>
          <mat-form-field class="input" appearance="fill">
            <mat-label>email de la personne à inviter</mat-label>
            <input matInput type="email" name="emailToInvite" #emailToInvite>
          </mat-form-field>
          <!-- <input type="email" placeholder="email de la personne à inviter" name="emailToInvite" #emailToInvite> -->
          <button (click)="sendInviteEmail(emailToInvite)">Inviter</button>
      </div>
      <div class="developpement">
        <h2>Construisons ensemble ce service</h2>
        <P>De quelles fonctionnalités avez vous besoin ? <br>
        Contactez-nous à l'adresse suivante: <b>b.jegoudulaz@ianos.io</b></P>
      </div>
    </div>
  
  </div>

</div>