.company{
  display: grid;
  grid-template-rows: 10vh auto;
  grid-row-gap: 50px;
}
.fullContent{
  display: grid;
    grid-template-columns: 60% 35%;
    grid-column-gap: 5%;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 84vh;
}
.header{
  max-width: 1100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
h1{
  background-color: #1BA0F2;
  color: white;
  padding: 2%;
  font-size: 2.3rem;
}
h2{
  font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #01568d;
}
.invitation{
  max-width: 1100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.invitation p{
  margin-bottom: 5px;
    font-size: 12px;

}

.planDeFormation{
  overflow-x: auto;
  width: 100%;
}
table{
  width: 100%;
  border: none;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  background: white;
  font-size: 12px;
  overflow-x: auto;
}
.table-bordered td, 
.table-bordered th{
  border: none;
  height: 100%;
  text-align: center;
}
.mat-cell{
  font-size: 12px;
  padding-right: 15px;
}

tr:hover{
  background: #efefef;
}
.analytics{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.round{
  box-shadow: 13PX 13px 20px #e9ecef, -13px -13px 20px white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;
}
h3{
  font-size: 1.75rem;
    font-weight: 700;
    color: #1BA0F2;
}
.round p {
  margin-top: 0;
  margin-bottom: 0rem;
  font-size: 14px;
}
.invitation button{
  background: #F26666;
  color: white;
  border-radius: var(--border-button-small-border-radius, 4px) !important;
    font-size: var(--font-button-small-font-size, 14px) !important;
    line-height: var(--font-button-small-line-height, 22px) !important;
    letter-spacing: var(--font-button-small-letter-spacing, normal) !important;
    font-family: var(--font-button-small-font-family, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
    text-transform: var(--font-button-small-text-transform, undefined) !important;
    padding-top: var(--spacing-button-small-vertical, 6px) !important;
    padding-bottom: var(--spacing-button-small-vertical, 6px) !important;
    font-weight: var(--font-book-font-weight, 600) !important;
    border-width: var(--border-button-small-border-width, 1px) !important;
    padding-left: var(--spacing-button-small-horizontal, 15px) !important;
    padding-right: var(--spacing-button-small-horizontal, 15px) !important;
    box-shadow: var(--shadow-button-level2-box-shadow, 0 1px 4px rgba(0, 0, 0, 0.16)) !important;
    border-color: var(--color-buttons-inverse-border, transparent) !important;
    margin-right: 20px;
    margin-bottom: 10px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  width: 50px;
}
#modify{
  color: #F26666;
}


