.add_formation{
    display: grid;
    grid-template-rows: 5vh auto auto;
    grid-row-gap: 50px;
}

// header
.button{
    background: #f26666;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 200px;
    height: 40px;
    font-weight: 700;
}
.close button{
    background: #1BA0F2;
}

// main informations
.main_info{
    display: grid;
    grid-template-rows: auto 400px;
}

// Part 1
.principal_informations{
    background: #d3d3d366;
    padding: 5%;
    border-radius: 5px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.title input{
    width: 100%;
    height: 50px;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.principal_informations button{
    border-radius: var(--border-button-small-border-radius,4px)!important;
    font-size: var(--font-button-small-font-size,14px)!important;
    line-height: var(--font-button-small-line-height,22px)!important;
    letter-spacing: var(--font-button-small-letter-spacing,normal)!important;
    font-family: var(--font-button-small-font-family,Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif)!important;
    text-transform: var(--font-button-small-text-transform,undefined)!important;
    padding-top: var(--spacing-button-small-vertical,6px)!important;
    padding-bottom: var(--spacing-button-small-vertical,6px)!important;
    font-weight: var(--font-book-font-weight,600)!important;
    border-width: var(--border-button-small-border-width,1px)!important;
    padding-left: var(--spacing-button-small-horizontal,15px)!important;
    padding-right: var(--spacing-button-small-horizontal,15px)!important;
    box-shadow: var(--shadow-button-level2-box-shadow,0 1px 4px rgba(0,0,0,.16))!important;
    background: var(--color-buttons-inverse-color,#fff)!important;
    border-color: var(--color-buttons-inverse-border,transparent)!important;
    color: var(--color-buttons-inverse-text,#484848)!important;
    margin-right: 20px;
}


// part 2
.main_video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../../../../assets/icons/video-player.svg');
	background-repeat: no-repeat;
    background-size: 200px;
    background-position: center;
    background-color: currentcolor;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.video input{
    min-width: 300px;
    background: white;
    color: black;
}
.video2{
    margin-top: 50px;
}

textarea,
input{
    border: 1px solid lightgrey;
}


// description de la formation. 2 parties
.content{
    display: grid;
    grid-template-columns: auto auto;
}
.content img{
    width: 20px;
    margin-right: 20px;
}
.content textarea{
    width: 100%;
    height: 150px;
}
h2{
    font-size: 16px;
    font-weight: 700;
    color: #01568d;
}
h3{
    font-size: 1rem;
    font-weight: 700;
}
.description{
    margin-right: 50px;
}

.argument,
.objectifs,
.programm,
.public,
.pedagogie,
.extras,
.book,
.covid,
.organisme,
.video2,
.hobbies,
.citation,
.prerequis,
.financement{
    margin-bottom: 50px;
}

.content input{
    width: 100%;
}
.financement ul{
    list-style: none;
}
.example-chip-list {
    width: 100%;
  }

.mat-chip-input{
    border: none;
  }


@media screen and (min-width: 500px){
    .add_formation{
        display: grid;
        grid-template-rows: 5vh 400px auto;
        grid-row-gap: 50px;
    }

    .main_info{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
    }
    .content{
        display: grid;
        grid-template-columns: 60% 40%;
    }
}