
<div class="add_formation">

  <!-- header: Fermer modal + MAJ + NOM OF +progressbar-->
  <div class="header">

    <div class="close" routerLink="/organisme/mon-catalogue">
      <button mat-raised-button (click)="close()">X</button>
    </div>

    <div class="register" (click)="onSubmitFormation()">
      <input *ngIf="!formation.id" type="submit" value="Enregistrer" class="button">
      <input *ngIf="formation.id" type="submit" value="Enregistrer" class="button">
    </div>

    <mat-progress-bar mode="determinate" [value]="formation.baseSearchPoint"></mat-progress-bar>
  </div>

  <!-- titre + modalités + prix -->
  <div class="main_info">
    <div class="principal_informations">
      <div class="title">
        <!-- Titre* (maximum 50 caractères) <span *ngIf="formation.intitule">{{ formation.intitule.length }}</span><span *ngIf="!formation.intitule">0</span>/50<br> -->
        <input matInput required placeholder="Titre (maximum 50 caractères)" [(ngModel)]="formation.intitule" name="intitule" maxlength="50" />
      </div>

      <mat-checkbox [(ngModel)]="formation.certification" name="certification">Formation certifiante</mat-checkbox>

      <div class="price">
        <mat-checkbox [(ngModel)]="formation.formationIntra" name="intra">Formation intra:</mat-checkbox><input matInput required placeholder="Prix Total TTC" [(ngModel)]="formation.prixIntraTTC" name="prixIntraTTC">
      </div>
      <div class="price">
        <mat-checkbox [(ngModel)]="formation.formationInter" name="inter">Formation inter:</mat-checkbox><input matInput required placeholder="Prix Total TTC" [(ngModel)]="formation.prixTotalTTC" name="prixTotalTTC">
      </div>
      <div class="price">
        <mat-checkbox [(ngModel)]="formation.formationIndividuelle" name="individuelle">Formation individuelle:</mat-checkbox><input matInput required placeholder="Prix Total TTC" [(ngModel)]="formation.prixIndividuelleTTC" name="prixIndividuelleTTC">
      </div>

      <div class="price">
        <mat-checkbox [(ngModel)]="formation.exonerationtva" name="exonerationtva">*Exonération de TVA</mat-checkbox>
      </div>

      <button [routerLink]="[ '/formation', formation.id, formation.intitule ]" (click)="close()" target="_blank">Voir le résultat
        <!-- <a *ngIf="formation.id" [routerLink]="[ '/formation', formation.id, formation.intitule ]" (click)="close()">Lien pour partager votre formation</a> -->
      </button>
    </div>

    <div class="main_video">

      <!-- <div class="video_image">
        <img src="./../../../../assets/icons/video-player.svg">
      </div> -->

      <div class="video" (mouseenter)="youtube.hidden = false" matTooltip="Vous pouvez héberger vos vidéos sur : https://youtube.fr/ par exemple">Vidéo de présentation Youtube<a #youtube [hidden]="true" href="https://www.youtube.com/upload" target="_blank">https://www.youtube.com/upload</a>
        <input matInput placeholder="URL de votre vidéo" [(ngModel)]="formation.urlVideoYoutube" name="urlVideoYoutube" />
      </div>

    </div>
  </div>

  <!-- description complète de la formation 2 parties -->
  <div class="content">

    <!-- 1ère partie -->
    <div class="description">
        <div class="argument">
          <h2><img src="./assets/icons/checked.svg">Argumentaire commercial (maximum 500 caractères)</h2><span *ngIf="formation.argument">{{ formation.argument.length }}</span><span *ngIf="!formation.argument">0</span>/500<br>         
          <textarea matInput placeholder="Grâce à cette formation vous pourrez..." [(ngModel)]="formation.argument" name="argument" maxlength="500" wrap="hard"></textarea>
        </div>

        <div class="objectifs">
            <h2><img src="./assets/icons/checked.svg">Objectifs (maximum 500 caractères)</h2><span
              *ngIf="formation.objectifs">{{ formation.objectifs.length }}</span><span
              *ngIf="!formation.objectifs">0</span>/500<br>         
            <textarea matInput placeholder="Décrivez succinctement les objectifs de cette formation" [(ngModel)]="formation.objectifs"
              name="objectifs" maxlength="500" wrap="hard"></textarea>
        </div>

        <div class="programm">
            <h2><img src="./assets/icons/checked.svg">Programme* (minimum 50 caractères)</h2><span
              *ngIf="formation.programme">{{ formation.programme.length }}</span><span
              *ngIf="!formation.programme">0</span><br />
            <editor required [programme]="programme" (programmeChange)="output($event)"></editor>
        </div>

        <div class="prerequis">
            <h2><img src="./assets/icons/checked.svg">Pré-requis</h2>
            <input matInput placeholder="Niveau Entrée" [(ngModel)]="formation.niveauEntree"
              name="niveauEntree" />
        </div>

        <div class="public">
            <h2><img src="./assets/icons/checked.svg">Public</h2>
          <textarea matInput placeholder="Public visé" [(ngModel)]="formation.publicVise" name="Public"></textarea>
        </div>

        <div class="pedagogie">
            <h2><img src="./assets/icons/checked.svg">pédagogie (maximum 500 caractères)</h2><span
              *ngIf="formation.pedagogie">{{ formation.pedagogie.length }}</span><span
              *ngIf="!formation.pedagogie">0</span>/500<br>         
            <textarea matInput placeholder="Décrivez votre pédagogie" [(ngModel)]="formation.pedagogie"
              name="pedagogie" maxlength="500"></textarea>
        </div>

        <div class="extras">
            <h2><img src="./assets/icons/checked.svg">Extras (maximum 335 caractères)</h2><span
              *ngIf="formation.extras">{{ formation.extras.length }}</span><span
              *ngIf="!formation.extras">0</span>/335<br>         
            <textarea matInput placeholder="Exemple: petit déjeuner" [(ngModel)]="formation.extras"
              name="extras" maxlength="335"></textarea>
        </div>

        <div class="book">
            <h2><img src="./assets/icons/checked.svg">Livre à recommander</h2><br>
            <input matInput
              placeholder="Quel livre recommanderiez-vous à vos futurs stagiaires ?"
              [(ngModel)]="formation.books" name="books" />
        </div>

        <div class="modalite">
          <!-- Lieux et modalités -->
        <h2><img src="./assets/icons/checked.svg">Modalité*</h2>
          <div>
            <mat-button-toggle-group required name="modalite" aria-label="Font Style" [(ngModel)]="formation.modalite">
              <mat-button-toggle value="Présentiel" (click)="onSubmitFormation()">Présentiel</mat-button-toggle>
              <mat-button-toggle value="Elearning">Elearning</mat-button-toggle>
              <mat-button-toggle value="Hybrid" (click)="onSubmitFormation()">Hybrid</mat-button-toggle>
            </mat-button-toggle-group>

            <!-- présentiel -->
            <ng-container *ngIf="formation.modalite === 'Présentiel' || formation.modalite === 'Hybrid'">
              <div class="time">
                <mat-radio-group class="example-radio-group" [(ngModel)]="formation.isRythmeSpread"
                  name="isRythmeDayOrSpread">
                  <mat-radio-button [value]="false"
                    matTooltip="Votre stagiaire prendra sa ou ses journées pour suivre votre formation"
                    matTooltipPosition="above">Toute la journée (Format classique) </mat-radio-button>
                  <mat-radio-button [value]="true"
                    matTooltip="Étalez votre formation selon les disponibilités de votre stagiaire"
                    matTooltipPosition="above">En différé (Hors Temps de Travail)</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="presential" *ngIf="formation.isRythmeSpread === true">
                <div class="delay">
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadMatin" name="isRythmeSpreadMatin">Matin
                  </mat-checkbox>
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadMidi" name="isRythmeSpreadMidi">Midi</mat-checkbox>
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadApresMidi" name="isRythmeSpreadApresMidi">
                    Après-midi</mat-checkbox>
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadSoir" name="isRythmeSpreadSoir">Soir</mat-checkbox>
                </div>

                <div class="duration">
                  <h3>Durée d'une séance</h3>
                  <input matInput type="number" placeholder="Nombre d'heures" [(ngModel)]="formation.dureeSeance"
                    name="dureeSeance">
                  <h3>Nombre de séances</h3>
                  <input matInput type="number" placeholder="Nombre de séances" [(ngModel)]="formation.nombreHeures"
                    name="nombreHeures">
                </div>
              </div>

              <div *ngIf="formation.isRythmeSpread === false">
                <h3>Durée en heure</h3>
                <input matInput type="number" placeholder="Nombre d'heures" [(ngModel)]="formation.duree" name="duree">
              </div>
              <br>
              <h3>Sélectionnez les lieux de vos formations</h3>
              <add-place [formation]="formation"></add-place>
            </ng-container>

            <!-- elearning -->
            <div class="elearning" *ngIf="formation.modalite === 'Elearning'">
              <h3>Durée en heure</h3>
              <input matInput type="number" placeholder="Nombre d'heures" [(ngModel)]="formation.duree" name="duree">
              
              <h3>Sélectionnez le type de formation proposé</h3>
              <mat-checkbox [(ngModel)]="formation.video" name="video">Vidéo</mat-checkbox>
              <mat-checkbox [(ngModel)]="formation.visio" name="visio">Visio-conférence</mat-checkbox>
              <mat-checkbox [(ngModel)]="formation.tutoring" name="tutoring">Tutoring</mat-checkbox>
              <mat-checkbox [(ngModel)]="formation.mooc" name="mooc">MOOC</mat-checkbox>
              <mat-checkbox [(ngModel)]="formation.phoning" name="phoning">Phoning</mat-checkbox>
            </div>
          </div>
        
        </div>
    </div>

    <!-- 2ème partie -->
    <div class="other_elements">
      <div class="covid">
          <h2><img src="./assets/icons/checked.svg">Protocole sanitaire (maximum 500 caractères)</h2><span
              *ngIf="formation.securite">{{ formation.securite.length }}</span><span
              *ngIf="!formation.securite">0</span>/500<br>         
            <textarea matInput placeholder="Quelles actions mettez-vous en place dans le cadre de la protection sanitaire de vos stagiaires et la vôtre ?" [(ngModel)]="formation.securite"
              name="securite" maxlength="500" wrap="hard"></textarea>
      </div>

      <div class="organisme">
          <h2><img src="./assets/icons/checked.svg">Présentation de l'organisme (voir mon profil)</h2>
          <p>{{ formation.presentation }}</p>
      </div>

      <div class="formateur">
          <h2><img src="./assets/icons/checked.svg">Présentation du formateur (maximum 335 caractères)</h2><span
            *ngIf="formation.trainer?.presentation">{{ formation.trainer?.presentation.length }}</span><span
            *ngIf="!formation.trainer?.presentation">0</span>/335<br>
          <textarea matInput placeholder="Présentation" [(ngModel)]="formation.trainer.presentation"
            name="trainer" maxlength="335"></textarea>
      </div>

      <div class="video2" (mouseenter)="youtube.hidden = false" matTooltip="Vous pouvez héberger vos vidéos sur : https://youtube.fr/ par exemple">
        <h3>Vidéo de présentation 2</h3><a #youtube [hidden]="true" href="https://www.youtube.com/upload" target="_blank"></a>
        <input matInput placeholder="URL de votre vidéo" [(ngModel)]="formation.urlVideoYoutube2" name="urlVideoYoutube2" />
      </div>

      <div class="hobbies">
          <h2><img src="./assets/icons/checked.svg">Hobbies du formateur (maximum 335 caractères)</h2><span
            *ngIf="formation.trainer?.hobbies">{{ formation.trainer?.hobbies.length }}</span><span
            *ngIf="!formation.trainer?.hobbies">0</span>/335<br>
          <textarea matInput placeholder="Hobbies" [(ngModel)]="formation.trainer.hobbies" name="hobbies"
            maxlength="335"></textarea>
      </div>

      <div class="citation">
          <h2><img src="./assets/icons/checked.svg">Citation du formateur</h2>
          <input matInput placeholder="Citation" [(ngModel)]="formation.trainer.quote" name="quote" />
      </div>

      <div class="financement">
        <h2><img src="./assets/icons/checked.svg">Financement</h2>
          <ul>
            <li><mat-checkbox [(ngModel)]="formation.cpf" name="cpf">CPF</mat-checkbox></li>
            <li><mat-checkbox [(ngModel)]="formation.datadock" name="cpf">OPCO</mat-checkbox></li>
            <li><mat-checkbox [(ngModel)]="formation.datadock" name="cpf">Pôle Emploi</mat-checkbox></li>
          </ul>
      </div>

      <div class="motCles">
        <h2><img src="./assets/icons/checked.svg">Ajouter des mots clés pour augmenter votre visibilité</h2>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="motCle">
            <mat-chip *ngFor="let motCle of formation.motCleArray" [selectable]="selectable" [removable]="removable" (removed)="remove(motCle)">
              {{motCle}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Nouveau mot clé..."
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div class="register" (click)="onSubmitFormation()">
        <input *ngIf="!formation.id" type="submit" value="Enregistrer" class="button">
        <input *ngIf="formation.id" type="submit" value="Enregistrer" class="button">
      </div>


    </div>

  </div>

</div>














<!-- <mat-progress-bar mode="determinate" [value]="formation.baseSearchPoint"></mat-progress-bar> -->
<!-- <form (ngSubmit)="onSubmitFormation()"> -->
<!-- <form>
  <div class="wrapper">
    <div class="card">
      <mat-tab-group> -->

<!-- Contenu de la formation -->
        <!-- <mat-tab label="Informations générales">
          <div class="general-informations">
            <ul class="main">
              <li>
                <div class="video" (mouseenter)="youtube.hidden = false" matTooltip="Vous pouvez héberger vos vidéos sur : https://youtube.fr/ par exemple">Vidéo de présentation<a #youtube [hidden]="true" href="https://www.youtube.com/upload" target="_blank">https://www.youtube.com/upload</a>
                  <input matInput placeholder="URL de votre vidéo" [(ngModel)]="formation.urlVideoYoutube" name="urlVideoYoutube" />
                </div>
              </li>
              <li>
                <div class="video2" (mouseenter)="youtube.hidden = false" matTooltip="Vous pouvez héberger vos vidéos sur : https://youtube.fr/ par exemple">Vidéo de présentation 2<a #youtube [hidden]="true" href="https://www.youtube.com/upload" target="_blank">https://www.youtube.com/upload</a>
                  <input matInput placeholder="URL de votre vidéo" [(ngModel)]="formation.urlVideoYoutube2" name="urlVideoYoutube2" />
                </div>
              </li>

              <li>
                <div class="title">
                  Titre* (maximum 50 caractères) <span
                    *ngIf="formation.intitule">{{ formation.intitule.length }}</span><span
                    *ngIf="!formation.intitule">0</span>/50<br>
                  <input matInput required placeholder="Titre de votre formation" [(ngModel)]="formation.intitule"
                    name="intitule" maxlength="50" />
                </div>
              </li>

              <li>
                <div class="argument">
                  Argumentaire commercial (maximum 500 caractères) <span
                    *ngIf="formation.argument">{{ formation.argument.length }}</span><span
                    *ngIf="!formation.argument">0</span>/500<br>         
                  <textarea matInput placeholder="Grâce à cette formation vous pourrez..." [(ngModel)]="formation.argument"
                    name="argument" maxlength="500" wrap="hard"></textarea>
                </div>
              </li>

              <li>
                <div class="objectifs">
                  Objectifs (maximum 500 caractères) <span
                    *ngIf="formation.objectifs">{{ formation.objectifs.length }}</span><span
                    *ngIf="!formation.objectifs">0</span>/500<br>         
                  <textarea matInput placeholder="Décrivez succinctement les objectifs de cette formation" [(ngModel)]="formation.objectifs"
                    name="objectifs" maxlength="500" wrap="hard"></textarea>
                </div>
              </li>

              <li>
                <div class="programm">
                  Programme* (minimum 50 caractères) <span
                    *ngIf="formation.programme">{{ formation.programme.length }}</span><span
                    *ngIf="!formation.programme">0</span><br />
                  <editor required [programme]="programme" (programmeChange)="output($event)"></editor>
                </div>
              </li>

              <li>
                <div class="pedagogie">
                  pédagogie (maximum 500 caractères) <span
                    *ngIf="formation.pedagogie">{{ formation.pedagogie.length }}</span><span
                    *ngIf="!formation.pedagogie">0</span>/500<br>         
                  <textarea matInput placeholder="Décrivez votre pédagogie" [(ngModel)]="formation.pedagogie"
                    name="pedagogie" maxlength="500"></textarea>
                </div>
              </li>

              <li>
                <div class="extras">
                  Extras (maximum 335 caractères) <span
                    *ngIf="formation.extras">{{ formation.extras.length }}</span><span
                    *ngIf="!formation.extras">0</span>/335<br>         
                  <textarea matInput placeholder="Exemple: petit déjeuner" [(ngModel)]="formation.extras"
                    name="extras" maxlength="335"></textarea>
                </div>
              </li>

              <li>
                <div class="book">
                  Livre à recommander<br>
                  <input matInput
                    placeholder="Quel livre recommanderiez-vous à vos futurs stagiaires ?"
                    [(ngModel)]="formation.books" name="books" />
                </div>
              </li>

              <li>
                <div class="results">
                  Résultats<br>
                  <input matInput
                    placeholder="Décrivez succinctement les résultats auxquels peuvent s'attendre vos stagiaires en suivant votre formation"
                    [(ngModel)]="formation.resultats" name="resultats" />
                </div>
              </li>
            </ul>

          </div>
        </mat-tab>
        <br><br><br> -->

<!-- Présentation formateur -->
        <!-- <mat-tab label="Formateur">
          <div class="formation.trainer">
            <ul class="main"> -->
              <!-- <li *ngIf="formation.id">
                <div class="avatar">Photo du formateur <a *ngIf="formation.trainer.urlPicture" href="{{formation.trainer.urlPicture}}" target="_blank">Prévisualiser la photo</a></div><input type="file" (change)="formation.trainer.filePicture = $event.target.files[0]">
                <img width="200" height="121" src="{{formation.trainer.urlPicture}}">
              </li> -->

              <!-- <li>
                <div class="presentation">
                  Présentation du formateur (maximum 335 caractères) <span
                    *ngIf="formation.trainer?.presentation">{{ formation.trainer?.presentation.length }}</span><span
                    *ngIf="!formation.trainer?.presentation">0</span>/335<br>
                  <textarea matInput placeholder="Présentation" [(ngModel)]="formation.trainer.presentation"
                    name="trainer" maxlength="335"></textarea>
                </div>
              </li>
              <li>
                <div class="hobbies">
                  Hobbies du formateur (maximum 335 caractères) <span
                    *ngIf="formation.trainer?.hobbies">{{ formation.trainer?.hobbies.length }}</span><span
                    *ngIf="!formation.trainer?.hobbies">0</span>/335<br>
                  <textarea matInput placeholder="Hobbies" [(ngModel)]="formation.trainer.hobbies" name="hobbies"
                    maxlength="335"></textarea>
                </div>
              </li>
              <li>
                <div class="citation">
                  Citation du formateur
                  <input matInput placeholder="Citation" [(ngModel)]="formation.trainer.quote" name="quote" />
                </div>
              </li>
              <li>
                <div class="key_words">
                  Ajoutez quelques mots clés pour faire la différence
                  <input matInput placeholder="Mots clés" [(ngModel)]="formation.trainer.keywords" name="keywords" />
                </div>
              </li>
            </ul>
          </div>
        </mat-tab> -->

<!-- Actions de formation -->
        <!-- <mat-tab label="Action de Formation">
          <div class="training-action">
            <mat-checkbox [(ngModel)]="formation.certification" name="certification">Formation certifiante
            </mat-checkbox>
            <ul class="main">
              <li>
                <div class="public">
                  Public
                  <textarea matInput placeholder="Public visé" [(ngModel)]="formation.publicVise" name="Public"></textarea>
                </div>
              </li>

              <li>
                <div class="Level">
                  Pré-requis
                  <input matInput placeholder="Niveau Entrée" [(ngModel)]="formation.niveauEntree"
                    name="niveauEntree" />
                </div>
              </li>
            </ul>
            <ul class="about">
              <li>
                <div class="Conventionnement">
                  Conventionnement
                  <form>
                    <select size="1" [(ngModel)]="formation.conventionnement" name="conventionnement">
                      <option>Oui</option>
                      <option>Non</option>
                    </select>
                  </form>
                </div>
              </li>

              <li>
                <div class="modalite-price">
                  <ul>
                    <h2>Modalité d'intervention</h2>
                    <li><mat-checkbox [(ngModel)]="formation.formationIntra" name="intra">Formation intra:</mat-checkbox></li>
                    <li><mat-checkbox [(ngModel)]="formation.formationInter" name="inter">Formation inter:</mat-checkbox></li>
                    <li><mat-checkbox [(ngModel)]="formation.formationIndividuelle" name="individuelle">Formation individuelle:</mat-checkbox></li>
                  </ul>
                  <ul>
                    <h2>Prix TTC</h2>
                    <li>Formation intra:<input matInput required placeholder="Prix Total TTC" [(ngModel)]="formation.prixIntraTTC" name="prixIntraTTC"></li>
                    <li>Formation inter:<input matInput required placeholder="Prix Total TTC" [(ngModel)]="formation.prixTotalTTC" name="prixTotalTTC"></li>
                    <li>Formation individuelle:<input matInput required placeholder="Prix Total TTC" [(ngModel)]="formation.prixIndividuelleTTC" name="prixIndividuelleTTC"></li>
                  </ul>
                  
                </div>
              </li>
            </ul>

            <ul class="financement">
              Financement
              <li><mat-checkbox [(ngModel)]="formation.cpf" name="cpf">CPF
              </mat-checkbox></li>
            </ul>
            <ul class="more-information">
              <li>CODE RNCP<br><input matInput placeholder="Code RNCP" [(ngModel)]="formation.codeRNCP" name="codeRNCP">
              </li>
              <li>Code certinfo<br><input matInput placeholder="Code CERTIFINFO" [(ngModel)]="formation.codeCERTIFINFO"
                  name="codeCERTIFINFO"></li>
            </ul>
          </div>
        </mat-tab> -->

<!-- Lieux et modalités -->
        <!-- <mat-tab label="Lieux et modalité">
          <div class="modalite">
            Modalité*
            <mat-button-toggle-group required name="modalite" aria-label="Font Style" [(ngModel)]="formation.modalite">
              <mat-button-toggle value="Présentiel" (click)="onSubmitFormation()">Présentiel</mat-button-toggle>
              <mat-button-toggle value="Elearning">Elearning</mat-button-toggle>
              <mat-button-toggle value="Hybrid" (click)="onSubmitFormation()">Hybrid</mat-button-toggle>
            </mat-button-toggle-group> -->

            <!-- présentiel -->
            <!-- <ng-container *ngIf="formation.modalite === 'Présentiel' || formation.modalite === 'Hybrid'">
              <div class="time">
                <mat-radio-group class="example-radio-group" [(ngModel)]="formation.isRythmeSpread"
                  name="isRythmeDayOrSpread">
                  <mat-radio-button [value]="false"
                    matTooltip="Votre stagiaire prendra sa ou ses journées pour suivre votre formation"
                    matTooltipPosition="above">Toute la journée (Format classique) </mat-radio-button>
                  <mat-radio-button [value]="true"
                    matTooltip="Étalez votre formation selon les disponibilités de votre stagiaire"
                    matTooltipPosition="above">En différé (Hors Temps de Travail)</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="presential" *ngIf="formation.isRythmeSpread === true">
                <div class="delay">
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadMatin" name="isRythmeSpreadMatin">Matin
                  </mat-checkbox>
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadMidi" name="isRythmeSpreadMidi">Midi</mat-checkbox>
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadApresMidi" name="isRythmeSpreadApresMidi">
                    Après-midi</mat-checkbox>
                  <mat-checkbox [(ngModel)]="formation.isRythmeSpreadSoir" name="isRythmeSpreadSoir">Soir</mat-checkbox>
                </div>

                <div class="duration">
                  Durée d'une séance
                  <input matInput type="number" placeholder="Nombre d'heures" [(ngModel)]="formation.dureeSeance"
                    name="dureeSeance">
                  Nombre de séances
                  <input matInput type="number" placeholder="Nombre de séances" [(ngModel)]="formation.nombreHeures"
                    name="nombreHeures">
                </div>
              </div>

              <div *ngIf="formation.isRythmeSpread === false">
                Durée en heure
                <input matInput type="number" placeholder="Nombre d'heures" [(ngModel)]="formation.duree" name="duree">
              </div>

              <div class="securite">
                Protocole sanitaire (maximum 500 caractères) <span
                  *ngIf="formation.securite">{{ formation.securite.length }}</span><span
                  *ngIf="!formation.securite">0</span>/500<br>         
                <textarea matInput placeholder="Quelles actions mettez-vous en place dans le cadre de la protection sanitaire de vos stagiaires et la vôtre ?" [(ngModel)]="formation.securite"
                  name="securite" maxlength="500" wrap="hard"></textarea>
              </div>

              <add-place [formation]="formation"></add-place>
            </ng-container> -->

            <!-- elearning -->
            <!-- <div class="elearning" *ngIf="formation.modalite === 'Elearning'"> -->
              <!-- URL<br><textarea matInput placeholder="URL site web" [(ngModel)]="formation.urlweb" name="urlweb"></textarea> -->
              <!-- <input matInput type="number" placeholder="Nombre d'heures" [(ngModel)]="formation.duree" name="duree">
              <mat-checkbox [(ngModel)]="formation.video" name="video">Vidéo</mat-checkbox>
              <mat-checkbox [(ngModel)]="formation.visio" name="visio">Visio-conférence</mat-checkbox>
              <mat-checkbox [(ngModel)]="formation.tutoring" name="tutoring">Tutoring</mat-checkbox>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      
    </div>
  </div>
</form> -->