<div class="charte">
  <div class="background">
    <header>
      <h1 class="title">Charte de Confidentialité</h1>
    </header>
  </div>

  <div class="content">
    <h2>1. Objet</h2>
    <p>La présente charte a pour objet de vous informer sur les moyens que nous mettons en œuvre pour effectuer un traitement informatique de vos données à caractère personnel collectées à partir du site www.ianos.io, dans le respect le plus strict de vos droits.</p>
    <h2>2. Identité du responsable du traitement des données à caractère personnel</h2>
    <p>Le responsable du traitement de vos données à caractère personnel est la société IANOS, SAS au capital social de 3.000 €, immatriculée au RCS de Rouen sous le n°812 745</p>
    
    <h2>3. Nature des données collectées et finalités du traitement</h2>
    <p>A ce jour, nous ne collectons vos nom, prénom, adresse postale et adresse du courrier électronique que vous renseignez lors de l'accès aux services proposés sur le site. Ces informations sont obligatoires pour avoir accès à nos services.<br><br>
        Ces données sont collectées pour répondre à une ou plusieurs des finalités suivantes :<br>    
        (a) Gérer votre accès aux services accessibles sur le site www.ianos.io et leur utilisation,<br>     
        (b) Constituer un fichier de membres inscrits, d’utilisateurs, de clients et prospects,<br>      
        (c) Adresser des newsletters, sollicitations et messages promotionnels (dans le cas où vous ne le souhaiteriez pas, nous vous donnons la faculté d’exprimer votre refus à ce sujet lors de la collecte de vos données)<br>     
        (d) Élaborer des statistiques commerciales et de fréquentation de nos services,<br>
        (e) Organiser des jeux concours, loteries et toutes opérations promotionnelles à l’exclusion des jeux d’argent et de hasard,<br>
        (f) Gérer la gestion des avis des personnes sur nos produits, services ou contenus,<br> 
        (g) Gérer les impayés et les contentieux éventuels quant à l'utilisation de nos produits et services,<br>
        (h) Respecter nos obligations légales et réglementaires.</p>
      
      <h2>4. Destinataires des données</h2>
      <p>Seul le personnel de notre société, les services chargés du contrôle et nos sous-traitants auront accès à vos données à caractère personnel.
        Peuvent également être destinataires de vos données à caractère personnel les organismes publics, exclusivement pour répondre à nos obligations légales, les auxiliaires de justice, les officiers ministériels et les organismes chargés d’effectuer le recouvrement de créances.
      </p>

      <h2>5. Absence de cession des données</h2>
      <p>Vos données à caractère personnel ne feront pas l’objet de cessions, locations ou échanges au bénéfice de tiers.</p>
      
      <h2>6. Durée de conservation des données</h2>
      <p>(i) Concernant les données relatives à la gestion de clients et prospects :
          Vos données à caractère personnel ne seront pas conservées au-delà de la durée strictement nécessaire à la gestion de notre relation commerciale avec vous. Toutefois, les données permettant d’établir la preuve d’un droit ou d’un contrat, devant être conservées au titre du respect d’une obligation légale, le seront pendant la durée prévue par la loi en vigueur.
          Concernant d’éventuelles opérations de prospection à destination des clients, leurs données pourront être conservées pendant un délai de trois ans à compter de la fin de la relation commerciale.
          Les données à caractère personnel relatives à un prospect, non client, pourront être conservées pendant un délai de trois ans à compter de leur collecte ou du dernier contact émanant du prospect. 
          Au terme de ce délai de trois ans, nous pourrons reprendre contact avec vous pour savoir si vous souhaitez continuer à recevoir des sollicitations commerciales.<br>
          (ii)           Concernant les pièces d’identité :    <br>
          En cas d’exercice du droit d’accès ou de rectification, les données relatives aux pièces d’identité pourront être conservées pendant le délai prévu à l’article 9 du code de procédure pénale, soit un an. En cas d’exercice du droit d’opposition, ces données peuvent être archivées pendant le délai de prescription prévu par l’article 8 du code de procédure pénale, soit trois ans. <br>  
          (iii)        Concernant les données relatives aux cartes bancaires :   <br>
          Les transactions financières relatives au paiement des achats et des frais via le site, sont confiées à un prestataire de services de paiement qui en assure le bon déroulement et la sécurité.   
          Pour les besoins des services, ce prestataire de services de paiement peut être amené à être destinataire de vos données à caractère personnel relatives à vos numéros de cartes bancaires, qu’il recueille et conserve en notre nom et pour notre compte.   
          Nous n’avons pas accès à ces données. <br>  
          (iv)         Concernant la gestion des listes d’opposition à recevoir de la prospection :   <br> 
          Les informations permettant de prendre en compte votre droit d’opposition sont conservées au minimum trois ans à compter de l’exercice du droit d’opposition.  <br>  
          (v)          Concernant les statistiques de mesure d’audience :    <br>
          Les informations stockées dans le terminal des utilisateurs ou tout autre élément utilisé pour identifier les utilisateurs et permettant leur traçabilité ou fréquentation ne seront pas conservées au-delà de 6 mois.<br>
      </p>

      <h2>7. Sécurité</h2>
      <p>Nous vous informons prendre toutes précautions utiles, mesures organisationnelles et techniques appropriées pour préserver la sécurité, l’intégrité et la confidentialité de vos données à caractère personnel et notamment, empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès.</p>
      
      <h2>8. Cookies</h2>
      
      <p>Les cookies sont des fichiers textes, souvent cryptés, stockés dans votre navigateur. Ils sont créés lorsque le navigateur d’un utilisateur charge un site internet donné : le site envoie des informations au navigateur, qui créé alors un fichier texte. Chaque fois que l’utilisateur revient sur le même site, le navigateur récupère ce fichier et l’envoie au serveur du site internet.    
          On peut distinguer deux types de cookies, qui n’ont pas les mêmes finalités :     
          Ø  Les cookies techniques sont utilisés tout au long de votre navigation, afin de la faciliter et d’exécuter certaines fonctions. Un cookie technique peut par exemple être utilisé pour mémoriser les réponses renseignées dans un formulaire ou encore les préférences de l’utilisateur s’agissant de la langue ou de la présentation d’un site internet, lorsque de telles options sont disponibles.      
          Ø  Les cookies publicitaires peuvent être créés non seulement par le site internet sur lequel l’utilisateur navigue, mais également par d’autres sites internet diffusant des publicités, annonces, widgets ou autres éléments sur la page affichée. Ces cookies peuvent notamment être utilisés pour effectuer de la publicité ciblée, c’est-à-dire de la publicité déterminée en fonction de la navigation de l’utilisateur.     
          Nous utilisons des cookies techniques. Ceux-ci sont stockés dans votre navigateur pour une période de six mois.   
          Nous n’utilisons pas de cookies publicitaires. Toutefois, si nous devions en utiliser à l’avenir, nous vous en informerions au préalable et vous auriez la possibilité le cas échéant de désactiver ces cookies. 
          Nous utilisons Google Analytics qui est un outil statistique d’analyse d’audience qui génère un cookie permettant de mesurer le nombre de visites sur le Site, le nombre de pages vues et l’activité des visiteurs. Votre adresse IP est également collectée pour déterminer la ville depuis laquelle vous vous connectez. La durée de conservation de ce cookie est mentionnée à l’article 6 (iv) de la présente charte.
          Nous vous rappelons à toutes fins utiles qu’il vous est possible de vous opposer au dépôt de cookies en configurant votre navigateur. Un tel refus pourrait toutefois empêcher le bon fonctionnement du Site.
      </p> 

      <h2>9. Accès à vos données à caractère personnel</h2>
      <p>Vous disposez du droit d’obtenir la communication ainsi que la rectification ou la suppression de vos données en vous adressant à b.jegoudulaz@ianos.io.
          Il est rappelé que toute personne peut, pour des motifs légitimes, s'opposer au traitement des données la concernant.</p>
      
      <h2>10. Modifications</h2>
      <p>Nous nous réservons le droit, à notre seule discrétion, de modifier à tout moment la présente charte.
        Ces modifications entreront en vigueur à compter de la publication de la nouvelle charte. Votre utilisation du site suite à l’entrée en vigueur de ces modifications vaudra reconnaissance et acceptation de la nouvelle charte. A défaut et si cette nouvelle charte ne vous convient pas, vous ne devrez plus accéder au Site.</p>


  </div>    
</div>

<footer></footer>
